Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

Add Sylva daily test results on vSphere (based on 87c1a4442cd931c401e9a01415345fb6ff5dd0cc)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Mention in Tips and Troubleshooting section "how to see the final values of sylva-units Helm release"
  README.md
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 73f908caade58645324f190a544c76f97b6c298d)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Remove rootVolume sub values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

update
  environment-values/multi-WC-multinode/values.yaml
Due: chart-generator, chart-jobs

add dependency to sylva-ca-certs
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/neuvector-namespace.yaml
  kustomize-units/sylva-ca-certs/kustomization.yaml
  kustomize-units/sylva-ca-certs/neuvector-tls.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
  kustomize-units/synchronize-secrets/neuvector-init.yaml
  kustomize-units/vault-secrets/kustomization.yaml
  kustomize-units/vault-secrets/random-neuvector-secret.yaml
Due: chart-generator, chart-jobs

use of test repo
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

try to add CAPM3 CI for vBMH Libvirt VMs hosted on same host as the DinD runner
  .gitlab-ci.yml
  environment-values/kubeadm-capm3/kustomization.yaml
  environment-values/kubeadm-capm3/values.yaml
  environment-values/rke2-capm3/kustomization.yaml
  environment-values/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

remove registry_mirrors config from vBMH env
  .gitlab-ci.yml
Due: none

fix remote kustomize target
  .gitlab-ci.yml
Due: none

run capm3-vbmh jobs on specific runner
  .gitlab-ci.yml
Due: none

add secrets.yaml for *-capm3
  environment-values/kubeadm-capm3/secrets.yaml
  environment-values/rke2-capm3/secrets.yaml
Due: chart-generator, chart-jobs

use local values for test
  .gitlab-ci.yml
  environment-values/kubeadm-capm3/test-values/values.yaml
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

clear trailing spaces
  environment-values/kubeadm-capm3/test-values/values.yaml
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

Fix scheduled cleanup error message
  .gitlab-ci.yml
Due: none

inject .cluster.capm3.bootstrap_ip after merging
  .gitlab-ci.yml
Due: none

try with custom excutor runner, env is a Libvirt VM
  .gitlab-ci.yml
Due: none

install docker with custom excutor runner job VM
  .gitlab-ci.yml
Due: none

add docker hostname to local
  .gitlab-ci.yml
Due: none

use sudo for Libvirt VM
  .gitlab-ci.yml
Due: none

dry docker.io
  .gitlab-ci.yml
Due: none

add DOCKER_HOST
  .gitlab-ci.yml
Due: none

Switch back to rancher install script for docker
  .gitlab-ci.yml
Due: none

fix the version of the keycolak vault secret to synchronize with
  kustomize-units/keycloak-legacy-operator/external-keycloak.yaml
  kustomize-units/synchronize-secrets/flux-webui-cluster-user-auth.yaml
  kustomize-units/synchronize-secrets/keycloak-initial-admin.yaml
  kustomize-units/synchronize-secrets/rancher-bootstrap-secret.yaml
Due: chart-generator, chart-jobs

try with sudo
  .gitlab-ci.yml
Due: none

using default namespace repo
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 8d1841eb2afe95f26bef5704ccaa75979f40ff7a)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

mofied name
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

rework conditional for Libvirt runner
  .gitlab-ci.yml
Due: none

use shell executor runners
  .gitlab-ci.yml
Due: none

fix lefovers
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on baff46170525e0c1bfd71fa302f68f82abe18563)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Kick start cluster-autoscaler
  charts/sylva-units/values.yaml
  kustomize-units/cluster-autoscaler/kustomization.yaml
Due: chart-generator, chart-jobs

ca test
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

ca test
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

ca test
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
