Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md

Add volume variables for openstack vm
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/capo-root-volume/kustomization.yaml
Due: chart-generator, chart-jobs

Remove dependency on first-login-rancher for capi-rancher-import
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add trivy operator
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use realpath --relative-to
  tools/gci-templates/scripts/generate-pipeline.sh
Due: chart-generator, chart-jobs

Add comment
  tools/gci-templates/scripts/generate-pipeline.sh
Due: chart-generator, chart-jobs

prevent running bootstrap.sh if KUBECONFIG=management-cluster-kubeconfig
  bootstrap.sh
Due: none

Use standard image for kubeadm-capd
  environment-values/kubeadm-capd/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
Due: none

CAPO: support case where .cluster.capo.rootVolume is omitted
  charts/sylva-units/templates/cluster-vars.yaml
Due: chart-generator, chart-jobs

simplify workload-cluster unit declaration
  README.md
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 2 suggestion(s) to 1 file(s)
  docs/metal3.md
Due: check-docs-markdown

Run kubectl kustomize on all kustomisation.yaml each time
  tools/gci-templates/scripts/generate-pipeline.sh
Due: chart-generator, chart-jobs

Use sylvactl in bootstrap.sh & apply.sh
  apply.sh
  bootstrap.sh
  tools/shell-lib/common.sh
Due: none

Move ca certs requests to sylva-ca-certs unit
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/namespace-defs/keycloak-namespace.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/vault-namespace.yaml
  kustomize-units/sylva-ca-certs/keycloak-tls.yaml
  kustomize-units/sylva-ca-certs/kustomization.yaml
  kustomize-units/sylva-ca-certs/rancher-tls.yaml
  kustomize-units/sylva-ca-certs/vault-tls.yaml
Due: chart-generator, chart-jobs

disable Trivy for *capd jobs
  .gitlab-ci.yml
Due: none

tools/openstack-cleanup.sh: also cleanup security groups
  tools/openstack-cleanup.sh
Due: none

README.md: fix missing link in the explanation about test workload cluster
  README.md
Due: check-docs-markdown

Update dependency fluxcd/flux2 to v0.40.0
  kustomize-units/flux-system/base/kustomization.yaml
Due: none

move local-path-provisioner to kube-system namespace
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix metal3 unit chart path
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add rancher dependency for capi-rancher-import
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

bootstrap.sh: display k8s node IPs
  bootstrap.sh
Due: none

Fix metal3 unit values to avoid mariadb randomly generated replicationPassword
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve how dependency is defined between 'calico' and 'cluster' units
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove obsolete sylva_units_kustomizations_wait_loop from shell-lib
  tools/shell-lib/common.sh
Due: none

make 'vault' unit depend on 'local-path-provisioner' unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add healthChecks for Helm-base units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test alpha6
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: none

bootstrap: management-cluster-flux unit needs calico to be ready
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

rancher bootstrapPassword should be in a Secret, not in HelmRelease
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update renovate config to automatically add run-e2e-tests label to MR
  renovate.json
Due: none

Mention management-cluster-kubeconfig in README
  README.md
Due: check-docs-markdown

sanitize cluster manifests, avoid 0.0.0.0 in certificate SANs
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: none

Vault: use local PVC instead of inmem storage
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add note about metal3 credentials management, rephrase pxe vs virtual-media considerations
  docs/metal3.md
Due: check-docs-markdown

add a CI job to play "preview.sh"
  .gitlab-ci.yml
Due: none

Upgrade rancher to 2.7.2-rc
  charts/sylva-units/values.yaml
  kustomize-units/cluster-import/cluster-provisioning-rancher.yaml
  kustomize-units/imageswap-webhook/imageswap-config.yaml
Due: chart-generator, chart-jobs

chore(deps): update dependency fluxcd/flux2 to v0.40.1
  kustomize-units/flux-system/base/kustomization.yaml
Due: none

add harbor
  kustomize-units/harbor/harbor-ns.yaml
  kustomize-units/harbor/harbor.yaml
  kustomize-units/harbor/kustomization.yaml
Due: none

enable harbor
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

chart name
  charts/sylva-units/values.yaml
  kustomize-units/harbor/harbor-ns.yaml
  kustomize-units/harbor/harbor.yaml
  kustomize-units/harbor/kustomization.yaml
Due: chart-generator, chart-jobs
