Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  test-preview-capd: any of: preview.sh, tools/shell-lib/common.sh

downgrade vault-config-operator to v0.8.13
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 22dc364e437a737b673c076b5be19858b88c0413)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

introduce dependency between externalsecret:keycloak-initial-admin and keycloak
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/synchronize-secrets/keycloak-initial-admin.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
Due: chart-generator, chart-jobs

use patched vault-config-operator
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on a2787c67b46597d703fc4a53e20dec92e62787bb)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

workaround crash bug in vault-config-operator between RandomSecret and PasswordPolicy
  kustomize-units/keycloak-legacy-operator/external-keycloak.yaml
  kustomize-units/synchronize-secrets/keycloak-initial-admin.yaml
  kustomize-units/synchronize-secrets/rancher-bootstrap-secret.yaml
  kustomize-units/vault-secrets/random-keycloak-secret.yaml
  kustomize-units/vault-secrets/random-rancher-secret.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api-provider-openstack to v0.7.3
  kustomize-units/capo/kustomization.yaml
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.7.4
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor: improve error message of CI script ensuring that units.xxx.enabled isn't set in values.yaml
  tools/gci-templates/scripts/helm-template-yamllint.sh
Due: chart-generator, chart-jobs

disable HelmRelease installation retries
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor: rename bootstrap/mgmt syla-unit Kustomization into management-sylva-units
  bootstrap.sh
  charts/sylva-units/bootstrap.values.yaml
  tools/oci/build-sylva-units-artifact.sh
Due: chart-generator, chart-jobs

add Kyverno
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capd/values.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
  kustomize-units/kyverno-policies/tag.yaml
Due: chart-generator, chart-jobs

metal3 should use cinder-csi localStorage when possible
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on c5f3aee9cbad3047223016c83e03f9d92cc3a10a)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

upgrade ingress-nginx chart
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve error message on preview failure
  tools/shell-lib/common.sh
Due: test-preview-capd

force update
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-mix/base/kubeadm-capm3-worker-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-mix/base/kubeadm-capo-ctrl-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-mix/base/kustomization.yaml
  kustomize-units/cluster-manifests/mix-base/kustomization.yaml
  kustomize-units/cluster-manifests/mix-base/manifest.yaml
Due: chart-generator, chart-jobs

Pause and delete all servers of a stack
  tools/openstack-cleanup.sh
Due: none

Track all metallb versions and group them
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
  renovate.json
Due: chart-generator, chart-jobs

Fix ingress-nginx for kubeadm deployments
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 69be5b1b04ccf7613c426e4a914f84678a0a3f7b)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

bootstrapm capm3'
  charts/sylva-units/bootstrap.values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

bootstrap capm3
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

add capm3 cluster manifest
  charts/sylva-units/bootstrap.values.yaml
  kustomize-units/cluster-manifests/capm3-base/kustomization.yaml
  kustomize-units/cluster-manifests/capm3-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster copy 2.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster copy.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-mix/base/kubeadm-capm3-worker-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-mix/base/kubeadm-capo-ctrl-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-mix/base/kustomization.yaml
  kustomize-units/cluster-manifests/mix-base/kustomization.yaml
  kustomize-units/cluster-manifests/mix-base/manifest.yaml
Due: chart-generator, chart-jobs

Add wait loop before ports and security group deletion
  tools/openstack-cleanup.sh
Due: none

chore(deps): update dependency kubernetes-sigs/cluster-api to v1.4.3
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on f2b7dec229af6b52800af8e11c23d03b6574a5b7)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

CI flexibility
  .gitlab-ci.yml
Due: none

Add RKE2 support to vsphere scenario
  environment-values/rke2-capv/kustomization.yaml
  environment-values/rke2-capv/secrets.yaml
  environment-values/rke2-capv/values.yaml
  kustomize-units/cluster-manifests/rke2-capv/base/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capv/base/rke2-capv-cluster.yaml
Due: chart-generator, chart-jobs

remove localpath provisionner from bootstrap
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/bootstrap-local-path/bootstrap-local-path.yaml
  kustomize-units/bootstrap-local-path/kustomization.yaml
Due: chart-generator, chart-jobs

Remove kube-vip and calico
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 8b008d325fb446ce2f812557e7ca67240a4b975e)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Missing files
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Expose ironic in bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs

cleanup rancher oidc configuration
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-oidc-external-secrets/eso-rancher-oidc.yaml
  kustomize-units/keycloak-oidc-external-secrets/kustomization.yaml
  kustomize-units/keycloak-resources/rancher-client.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/rancher-global-data-namespace.yaml
  kustomize-units/rancher-keycloak-oidc-provider/keycloak-auth-provider.yaml
  kustomize-units/rancher-keycloak-oidc-provider/kustomization.yaml
  kustomize-units/rancher-keycloak-oidc-provider/rancher-global-role-binding.yaml
Due: chart-generator, chart-jobs

fix bootstrap local path
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

adjust cluster names for OCI deployments, inject .metallb_helm_oci_url for OCI scenario
  .gitlab-ci.yml
Due: none

adjust .metallb_helm_oci_url injection
  .gitlab-ci.yml
Due: none
