Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

Add Sylva daily test results on vSphere (based on 26e274fc0e246be8e71ad6ebf4bda31c01d096ba)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Allow user provided deviceType for SriovNetworkNodePolicy
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

[479] Kustomization health check for ingress-nginx daemon set
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Improve error message when helm artifact version mismatch
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Add Sylva daily test results on vSphere (based on be8a45d9bad1a7b7a605fd31472d3aefa96610aa)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Add cilium unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add optional cni
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.5.1
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.31.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add docker hostname to local
  .gitlab-ci.yml
Due: none

remove registry_mirrors config from vBMH env
  .gitlab-ci.yml
Due: none

run capm3-vbmh jobs on specific runner
  .gitlab-ci.yml
Due: none

install docker with custom excutor runner job VM
  .gitlab-ci.yml
Due: none

clear trailing spaces
  environment-values/kubeadm-capm3/test-values/values.yaml
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

fix remote kustomize target
  .gitlab-ci.yml
Due: none

try to add CAPM3 CI for vBMH Libvirt VMs hosted on same host as the DinD runner
  .gitlab-ci.yml
  environment-values/kubeadm-capm3/kustomization.yaml
  environment-values/kubeadm-capm3/values.yaml
  environment-values/rke2-capm3/kustomization.yaml
  environment-values/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

inject .cluster.capm3.bootstrap_ip after merging
  .gitlab-ci.yml
Due: none

add secrets.yaml for *-capm3
  environment-values/kubeadm-capm3/secrets.yaml
  environment-values/rke2-capm3/secrets.yaml
Due: chart-generator, chart-jobs

use local values for test
  .gitlab-ci.yml
  environment-values/kubeadm-capm3/test-values/values.yaml
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

try with custom excutor runner, env is a Libvirt VM
  .gitlab-ci.yml
Due: none

dry docker.io
  .gitlab-ci.yml
Due: none

Update values.yaml
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

set docker socket to unix
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

clear image prerequisites from CI
  .gitlab-ci.yml
Due: none

adjust test values
  environment-values/kubeadm-capm3/test-values/values.yaml
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

simplify but add some duplication for docker vs libvirt
  .gitlab-ci.yml
Due: none

use sudo for Libvirt VM
  .gitlab-ci.yml
Due: none

Update image url
  environment-values/rke2-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

Use sylva oci
  environment-values/kubeadm-capm3/test-values/values.yaml
Due: chart-generator, chart-jobs

Switch back to rancher install script for docker
  .gitlab-ci.yml
Due: none

Add yq
  .gitlab-ci.yml
Due: none

remove hosts since it is not supported
  .gitlab-ci.yml
Due: none

Try sudo
  .gitlab-ci.yml
Due: none

more duplicate code for testin
  .gitlab-ci.yml
Due: none

rework conditional for Libvirt runner
  .gitlab-ci.yml
Due: none

try with sudo
  .gitlab-ci.yml
Due: none

Add docker to hosts
  .gitlab-ci.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
