Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

renovate: fix metallb version match
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs

automatically tune sylvactl watch timeout based on remaining job runtime
  .gitlab-ci.yml
  apply.sh
  bootstrap.sh
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Add Sylva daily test results on vSphere (based on 1eb2994f30fd994743736a572ded4bf06ae21476)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

suspend metal3 during pivot
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

bootstrap/pivot: change how we wait for CAPI components to be ready
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  tools/gci-templates/configuration/m3-units-in-capo.yml
Due: chart-generator, chart-jobs

modification in heat template
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 1eb2994f30fd994743736a572ded4bf06ae21476)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

modification in query
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

modified query
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Kata containers on workload-cluster
  charts/sylva-units/workload-cluster.values.yaml
  docs/kata-containers.md
Due: chart-generator, chart-jobs, check-docs-markdown

modification in template
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

deleted condition
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Fix issue with capd rke2 in sylva-capi-cluster
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert "deleted condition"
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

fix indentation
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.8.2
  .gitlab-ci.yml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

added capo_create_ironic_security_group under parameters
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on b2dc9904aaf2337bbf0f77017e013d67d2f3cae4)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

CI - deploy-m3-units-in-capo: fix timeout
  .gitlab-ci.yml
Due: none

Update dependency to-be-continuous/gitleaks to v2.2.2
  .gitlab-ci.yml
Due: none

extend timeout for deploy-m3-units-in-capo job
  .gitlab-ci.yml
Due: none

removal of ironic security group
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Update docs/metal3.md
  docs/metal3.md
Due: check-docs-markdown

add Cluster in cluster healthChecks
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

use of security_rules_ironic instead of worker_rules_ironic
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.8.5
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update 2 files
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/velero-namespace.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 3b5b195bdae609d5cf1716c8eadaadc7ed4999ec)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update file values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

README.md: avoid 'kubectl get cluster', use a more specific resource name
  README.md
Due: check-docs-markdown

improve how the readiness of unit 'cluster' is determined
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
