Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    when: on_failure
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    when: on_failure
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
  needs:
  ...

test
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 052a00d887b633076f24908841e5ac5f3c3cfb29)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

added a common_security_group_name
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Use of dev branch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

defines schema for common_security_group_name
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Update hashicorp/vault Docker tag to v1.13.8
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.10
  .gitlab-ci.yml
Due: none

Add nil
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Patch flux seccomp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add patches in bootstrap values
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Add internal conditional
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v15.69.1
  .gitlab-ci.yml
  renovate.json
Due: none

test commit 1
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Try new seccomp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert "Try new seccomp"
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test login stage in CI
  .gitlab-ci.yml
  tools/login-test/flux-admin.hurl
  tools/login-test/keycloak-admin.hurl
  tools/login-test/rancher-admin.hurl
  tools/login-test/sso.hurl
  tools/login-test/vault-health.hurl
Due: none

Test capi seccomp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test cabpr seccomp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test capm3 seccomp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Try seccomp cabpr
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

rename management-cluster-(values|secrets) into sylva-units-(values|secrets)
  environment-values/README.md
  environment-values/base/helm-release.yaml
  environment-values/base/kustomization.yaml
  environment-values/kubeadm-capd/kustomization.yaml
  environment-values/kubeadm-capo/kustomization.yaml
  environment-values/kubeadm-capv/kustomization.yaml
  environment-values/rke2-capd/kustomization.yaml
  environment-values/rke2-capm3/kustomization.yaml
  environment-values/rke2-capo-capm3/kustomization.yaml
  environment-values/rke2-capo/kustomization.yaml
  environment-values/rke2-capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Try fix keycloak
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release cert-manager to v1.13.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.12.10
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Evaluate user facing schema after removal of .default in sylva-capi-cluster
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 6adaf36905f728ab726e4dd334165eebc531967f)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Add dict
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Try to fix keycloak
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/keycloak-server.yaml
Due: chart-generator, chart-jobs

Fix flux-webui
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Allow privileged for cinder-csi
  kustomize-units/namespace-defs/cinder-csi.yaml
Due: chart-generator, chart-jobs

Do not start all capo jobs during scheduled deployments
  .gitlab-ci.yml
Due: none

Fix job privileges
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add job container seccontext
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add runas on keycloak
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix indent
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test workload-cluster
  apply-workload-cluster.sh
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/preview/kustomization.yaml
  environment-values/workload-clusters/base/helm-release.yaml
  environment-values/workload-clusters/base/kustomization.yaml
  environment-values/workload-clusters/base/namespace.yaml
  environment-values/workload-clusters/foo-workload/kustomization.yaml
  environment-values/workload-clusters/foo-workload/values.yaml
  kustomize-units/mgmt-cluster-settings/configmap.yaml
  tools/openstack-cleanup.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

[477] Unit to add a sylva units values config map to all workload clusters
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/shared-workload-clusters-settings/configmap.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
  kustomize-units/shared-workload-clusters-settings/secret.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
