Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh

Add securityContext to units that miss it
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/components/keycloak-operator-proxies/kustomization.yaml
  kustomize-units/keycloak/components/keycloak-operator-security/kustomization.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/namespace-defs/cattle-monitoring-namespace.yaml
  kustomize-units/namespace-defs/cinder-csi-namespace.yaml
  kustomize-units/namespace-defs/cinder-csi.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/longhorn-namespace.yaml
  kustomize-units/namespace-defs/metal3-namespace.yaml
  kustomize-units/namespace-defs/rancher-namespace.yaml
  kustomize-units/namespace-defs/rancher-namespaces.yaml
Due: chart-generator, chart-jobs

Switch to 1.26.6
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update nginx and calico versions
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Default to 1.26.8
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.11
  .gitlab-ci.yml
Due: none

Add psp dependency on cabpr
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

have cluster-import depends on capi-rancher-import
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Use CI_REPOSITORY_URL as origin for kustomize-units artifact
  tools/oci/build-kustomize-units-artifact.sh
Due: none

Condition calico and nginx versions
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v16.6.2
  .gitlab-ci.yml
Due: none

Set storageNamespace on the HelmReleases deployed in workload-cluster
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Move metal3 DB to Galera cluster
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

[CI] run deployment/test/clean jobs in child pipelines
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/README.md
  .gitlab/ci/chart-jobs.yml
  .gitlab/ci/child-pipeline-default.yml
  .gitlab/ci/common.yml
  .gitlab/ci/configuration/.markdownlint.yml
  .gitlab/ci/configuration/yamllint-helm-exclude-chart-templates.yaml
  .gitlab/ci/configuration/yamllint-helm-exclude-charts.yaml
  .gitlab/ci/configuration/yamllint-helm-template-rules
  .gitlab/ci/configuration/yamllint.yaml
  .gitlab/ci/main-pipeline-builds.yml
  .gitlab/ci/main-pipeline-checks.yml
  .gitlab/ci/main-pipeline-cleanup.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
  .gitlab/ci/pipeline-deploy-capo-fip.yml
  .gitlab/ci/pipeline-deploy-kubeadm-capd.yml
  .gitlab/ci/pipeline-deploy-kubeadm-capo.yml
  .gitlab/ci/pipeline-deploy-misc-units-in-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capo.yml
  .gitlab/ci/scripts/generate-pipeline.sh
  .gitlab/ci/scripts/units-reports.py
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/test-values/README.md
  docs/development-tooling.md
  renovate.json
  tools/shell-lib/common.sh
  tools/validation/helm-schema-validation.sh
  tools/validation/helm-template-yamllint.sh
Due: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Fix workload-cluster stack name
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on e9698ff960662443d70c29cb112f0c1b16d5364a)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

semver string
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v16.8.2
  .gitlab-ci.yml
Due: none

Run BM emulation test in CI on Equinix runner
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/rke2-capm3-virt/values.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs

add-password-expiry-on-keycloak
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
Due: chart-generator, chart-jobs

automatically populate no proxy
  charts/sylva-units/templates/_values_helpers.tpl
Due: chart-generator, chart-jobs

add-password-expiry-on-keycloak
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Configure renovate kubernetes manager filematch
  renovate.json
Due: none

fix deprecated clusterpolicy.spec.validationFailureAction
  kustomize-units/kyverno-policies/tag.yaml
Due: chart-generator, chart-jobs

Fix scheduled cleanup timer
  .gitlab/ci/main-pipeline-cleanup.yml
Due: none

implement a Kyverno policy to prevent using the default namespace
  kustomize-units/kyverno-policies/default-namespace.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
Due: chart-generator, chart-jobs

Add helm_chart_versions
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  tools/oci/push-helm-charts-artifacts.sh
Due: chart-generator, chart-jobs

Generate schema json
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Simplistic wording fixes
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Update Helm release vault-config-operator to v0.8.24
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/libvirt-metal Docker tag to v0.1.1
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on dccc762dc537564d80628098de21427f82e2e171)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Remove keycloak component and comments
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/components/keycloak-operator-security/kustomization.yaml
  tools/oci/push-helm-charts-artifacts.sh
Due: chart-generator, chart-jobs

Remove calico felix config
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Support Ironic debug feature
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add felix config to capd
  environment-values/ci/misc-units-in-capo.yml
  environment-values/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add comments for 1.26.6
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update file .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Take older libvirt image
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs
