Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md

sta
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Refactor gitlab-ci
  .gitlab-ci.yml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

change version format
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

Update kube-vip to v0.5.11
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

change version in kubeadm bootstrap
  tools/kubeadm-bootstrap-cluster.sh
Due: none

bump kube-vip to latest stable for both kubeadm-capo and kubeadm-capv
  environment-values/kubeadm-capv/management-cluster-capv-values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Node firewalling based on global network policies
  kustomize-units/calico-network-policies/globalnetworkpolicies.yml
  kustomize-units/calico-network-policies/globalnetworkset.yml
  kustomize-units/calico-network-policies/kustomization.yml
Due: chart-generator, chart-jobs

Add additional interfaces
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/capo-additional-networks/direct/kustomization.yaml
  kustomize-units/cluster-manifests/components/capo-additional-networks/virtio/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.3.3
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

Add set-only-if
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add default empty value
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Upgrade CAPM3 to v1.2.0
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

Use DinD service only when needed
  .gitlab-ci.yml
Due: none

delete boostrap cluster after pivot
  bootstrap.sh
  charts/sylva-units/values.yaml
  kustomize-units/dummy-dep/configmap.yaml
Due: chart-generator, chart-jobs

add debug
  bootstrap.sh
Due: none

add debug
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

try recent sylvactl
  tools/shell-lib/common.sh
Due: none

add capm3 cluster template
  charts/sylva-units/templates/cluster-vars.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kustomization.yaml
Due: chart-generator, chart-jobs

remove line
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Don't run capo deployments on renovate MR
  .gitlab-ci.yml
Due: none

renovate: Improve regex used for units and git_repo_templates
  renovate.json
Due: none

Keycloak realm config for rancher
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-legacy-operator/external-keycloak.yaml
  kustomize-units/keycloak-legacy-operator/kustomization.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/keycloak-resources/keycloak-user.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
  kustomize-units/keycloak-resources/rancher-client.yaml
  kustomize-units/keycloak/keycloak-postgresql-secret.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

Add a zone in coredns for the management cluster domain
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.yaml
  kustomize-units/coredns/coredns-config.yaml
  kustomize-units/coredns/kustomization.yaml
Due: chart-generator, chart-jobs

Revert "Merge branch 'attempt_fix_renovate_warning' into 'main'"
  renovate.json
Due: none

Only run deployments in MR
  .gitlab-ci.yml
Due: none

Introduce IN_CI variable in common.sh lib
  tools/shell-lib/common.sh
Due: none

let 'keycloak-*' units be enabled only if keycloak is enabled (fix capd job)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Small typos fixes
  charts/sylva-units/values.yaml
  docs/How-tos.md
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

sylva-units: explain CURRENT_COMMIT
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

keycloak needs to depend on postgres
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

keycloak: workaround healthcheck failure 'status: 'Unknown': unrecognized type: string'
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert "!151: disable PSP in rancher"
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix JSON Schema IP address format validation
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

renovate: update configuration to detect kube-vip
  environment-values/kubeadm-capv/management-cluster-capv-values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  renovate.json
Due: chart-generator, chart-jobs

Add sylva-ca certificate for weave WebUI
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/sylva-ca-certs/kustomization.yaml
  kustomize-units/sylva-ca-certs/weave-tls.yaml
Due: chart-generator, chart-jobs

Bump kube-vip to latest stable for both kubeadm-capo and kubeadm-capv
  environment-values/kubeadm-capv/management-cluster-capv-values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Sylva-units: generalize the code to also support OCIRepository on top of GitRepository
  README.md
  charts/sylva-units/README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/source-repo-auth.yaml
  charts/sylva-units/templates/source-repository-self.yaml
  charts/sylva-units/templates/sylva-units-values-debug.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  renovate.json
Due: chart-generator, chart-jobs, check-docs-markdown

cleanup: remove traces of long gone 'git_auth_default' variable
  charts/sylva-units/README.md
  charts/sylva-units/templates/source-repository-self.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Disable trivy by default
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs
