Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, telco-cloud-init-schema

chart-generator:
  stage: generate
  script:
  - echo "Generate a job for each modified charts"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  stage: test
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

telco-cloud-init-schema:
  stage: test
  script:
  - RED='\033[0;31m'
  - NC='\033[0m'
  - echo -e "\e[0Ksection_start:`date +%s`:my_first_section\r\e[0K--------------- Lint Schema YAML file"
  - echo "Lint charts/telco-cloud-init/values.schema.yaml ..."
  ...

capd CI jobs: temporarily set allow_failure to true
  .gitlab-ci.yml
Due: none

make log gathering of check-rancher-clusters job more robust
  .gitlab-ci.yml
Due: none

(boostrap|apply).sh: change wording Helm chart -> Helm release
  bootstrap.sh
  preview.sh
Due: none

Set cluster proxy from env vars
  charts/telco-cloud-init/values.yaml
  kustomize-components/cluster-manifests/components/proxies/KubeadmControlPlane/kustomization.yaml
  kustomize-components/cluster-manifests/components/proxies/RKE2ConfigTemplate/kustomization.yaml
  kustomize-components/cluster-manifests/components/proxies/RKE2ControlPlane/kustomization.yaml
  kustomize-components/flux-system/flux-install.yaml
  kustomize-components/flux-system/kustomization.yaml
Due: chart-generator, chart-jobs

openstack cleanup script: update regex for test workload cluster
  tools/openstack-cleanup.sh
Due: none

Use ci-image for CI
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
Due: chart-generator, chart-jobs

add a JSON Schema to validate telco-cloud-init chart values
  .gitlab-ci.yml
  charts/telco-cloud-init/values.schema.json
  charts/telco-cloud-init/values.schema.yaml
  charts/telco-cloud-init/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
  tools/yaml-merge.py
  tools/yaml2json.py
Due: chart-generator, chart-jobs, telco-cloud-init-schema

add CI job to catch typos on 'bootstrap'
  .gitlab-ci.yml
  apply.sh
  charts/telco-cloud-init/README.md
  charts/telco-cloud-init/bootstrap.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Retrieve capv and capm3 manifests from the upstream projects
  kustomize-components/capm3/infrastructure-components.yaml
  kustomize-components/capm3/kustomization.yaml
  kustomize-components/capv/infrastructure-components.yaml
  kustomize-components/capv/kustomization.yaml
Due: none

CAPO manifests: declare network and port allowed-address-pairs in less places
  kustomize-components/cluster-manifests/capo-base/kustomization.yaml
  kustomize-components/cluster-manifests/capo-base/manifest.yaml
  kustomize-components/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-components/cluster-manifests/kubeadm-capo/base/kustomization.yaml
  kustomize-components/cluster-manifests/kubeadm-capo/dns-client-orange-falcon/kustomization.yaml
  kustomize-components/cluster-manifests/kubeadm-capo/orange-falcon/kustomization.yaml
  kustomize-components/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
  kustomize-components/cluster-manifests/rke2-capo/dns-client-orange-falcon/kustomization.yaml
  kustomize-components/cluster-manifests/rke2-capo/orange-falcon/kustomization.yaml
Due: none

quicker Flux dependency requeuing for bootstrap
  bootstrap.sh
  charts/telco-cloud-init/bootstrap.values.yaml
  charts/telco-cloud-init/values.yaml
  kustomize-components/flux-system/base/kustomization.yaml
  kustomize-components/flux-system/bootstrap/kustomization.yaml
Due: chart-generator, chart-jobs

rename telco-cloud-init into sylva-units
  README.md
  apply.sh
  bootstrap.sh
  charts/sylva-units/.helmignore
  charts/sylva-units/Chart.yaml
  charts/sylva-units/README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/scripts/check-rancher-clusters.sh
  charts/sylva-units/scripts/first-login-rancher.sh
  charts/sylva-units/templates/NOTES.txt
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/templates/capo-secret.yaml
  charts/sylva-units/templates/capv-secret.yaml
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/templates/components.yaml
  charts/sylva-units/templates/git-repo-auth.yaml
  charts/sylva-units/templates/gitrepository-self.yaml
  charts/sylva-units/templates/helm-repo-secrets.yaml
  charts/sylva-units/templates/proxy-env.yaml
  charts/sylva-units/templates/registry-secret.yaml
  charts/sylva-units/templates/sylva-units-values-debug.yaml
  charts/sylva-units/values.yaml
  environment-values/README.md
  environment-values/base/helm-release.yaml
  environment-values/components/test-workload-cluster/kustomization.yaml
  environment-values/kubeadm-capd/git-secrets.env
  environment-values/kubeadm-capd/secrets.yaml
  environment-values/kubeadm-capo/git-secrets.env
  environment-values/kubeadm-capo/secrets.yaml
  environment-values/kubeadm-capv/git-secrets.env
  environment-values/preview/kustomization.yaml
  environment-values/preview/preview-namespace.yaml
  environment-values/rke2-capd/git-secrets.env
  environment-values/rke2-capd/secrets.yaml
  environment-values/rke2-capo/git-secrets.env
  environment-values/rke2-capo/secrets.yaml
  kustomize-components/cluster-manifests/components/proxies/KubeadmControlPlane/kustomization.yaml
  preview.sh
Due: chart-generator, chart-jobs, check-docs-markdown

Run bootstrap typo detection only on MR
  .gitlab-ci.yml
Due: none

Update Readme to follow envsubst removal
  .gitignore
  README.md
  bootstrap-data-sample
  tools/openstack-cleanup.sh
Due: check-docs-markdown

Retrieve flux-system manifests from the upstream project
  kustomize-components/flux-system/flux-install.yaml
  kustomize-components/flux-system/kustomization.yaml
Due: none

Bring new BM runner, dedicated to rke2-capd
  .gitlab-ci.yml
Due: none

JSONSchema did not follow the rename
  .gitlab-ci.yml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

allow specifying the OpenStack nova flavor from sylva-units values
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Small usability improvements
  .gitlab-ci.yml
  tools/shell-lib/common.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

Rename cluster.flavor into cluster.capi_providers
  charts/sylva-units/README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/capo-secret.yaml
  charts/sylva-units/templates/capv-secret.yaml
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/components/test-workload-cluster/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fix parametrization of $FLAVOR_NAME
  kustomize-components/cluster-manifests/capo-base/manifest.yaml
Due: none

add a depends_on ingress-nginx to all components relying on it
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Retrieve CAPO manifests from the upstream project
  kustomize-components/capo/infrastructure-components.yaml
  kustomize-components/capo/kustomization.yaml
Due: none

fix a bogus "component" -> "unit" rename in environment-values/components/test-workload-cluster
  environment-values/components/test-workload-cluster/values.yaml
Due: none

sylva-units: have "capi-bootstrap" GitRepository templating honor "existing_gitrepository"
  charts/sylva-units/templates/gitrepository-self.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert "add sops considerations in readme"
  README.md
  sops-howto.md
Due: check-docs-markdown

fix preview.sh
  preview.sh
Due: none

adde sops considerations in readme
  .gitleaks.toml
  README.md
  sops-howto.md
Due: check-docs-markdown

Ensure charts have a valid schema before linting them
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
  tools/gci-templates/scripts/generate-pipeline.sh
Due: chart-generator, chart-jobs

Use Orange registry mirror in CI for managed runner and fix registry-mirror config
  .gitlab-ci.yml
  docs/How-tos.md
  kustomize-components/cluster-manifests/components/registry-mirror/KubeadmControlPlane/kustomization.yaml
Due: check-docs-markdown

fix a bogus "component" -> "unit" rename in charts/sylva-units/values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

small improvements to README.md and charts/sylva-units/README.md following "units" rename
  README.md
  charts/sylva-units/README.md
Due: chart-generator, chart-jobs, check-docs-markdown

refer to capi-boostrap repo as 'sylva-core' everywhere in the code
  README.md
  apply.sh
  bootstrap.sh
  charts/sylva-units/README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/components.yaml
  charts/sylva-units/templates/gitrepository-self.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  environment-values/components/test-workload-cluster/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/helm-release.yaml
  preview.sh
Due: chart-generator, chart-jobs, check-docs-markdown

require that Kustomization have either wait: or healthChecks: defined
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/components/test-workload-cluster/values.yaml
Due: chart-generator, chart-jobs

Use upstream definition for CABPR
  kustomize-units/cabpr/bootstrap.yaml
  kustomize-units/cabpr/controlplane.yaml
  kustomize-units/cabpr/kustomization.yaml
Due: none

Fix mistakenly replaced Kustomize "components" entry in preview.sh
  preview.sh
Due: none

Resolve "Keycloak CR does not pass keycloak unit heath check"
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

CI - telco-cloud-init chart: also apply 'helm template'+'yamllint' to values for bootstrap components
  charts/sylva-units/test-values/README.md
  charts/sylva-units/test-values/bootstrap/README.md
  charts/sylva-units/test-values/bootstrap/bootstrap.values.yaml
  charts/sylva-units/test-values/bootstrap/helm-release.yaml
  tools/gci-templates/gitlab-ci.yml
Due: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, tools/gci-templates/**/*
  check-docs-markdown: any of: **/*.md
  telco-cloud-init-schema: any of: charts/telco-cloud-init/values.schema.json, charts/telco-cloud-init/values.schema.yaml, tools/yaml2json.py
