Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

ca test
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use conditional for keycloak-operator CR proxies injection
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/components/keycloak-operator-proxies/kustomization.yaml
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

Adding documentation
  docs/kata-containers.md
Due: check-docs-markdown

markdownlint linting errors fix
  docs/kata-containers.md
Due: check-docs-markdown

Documentation - New line Issue
  docs/kata-containers.md
Due: check-docs-markdown

temp keycloak with http
  kustomize-units/keycloak/keycloak-ingress.yaml
  kustomize-units/keycloak/keycloak-server.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 339c495fdc611e450e188024a6c063b20ed014a9)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 339c495fdc611e450e188024a6c063b20ed014a9)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

enable workload-capo-cluster-resources when capm3 is used
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

update version
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

modify condition
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use latest os-image-server and test M3 CI
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert "temp keycloak with http"
  kustomize-units/keycloak/keycloak-ingress.yaml
  kustomize-units/keycloak/keycloak-server.yaml
Due: chart-generator, chart-jobs

Add cluster permissions for flux-webui SSO/OIDC user
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Create a doc focusing on Security
  README.md
  docs/img/security/cis-report.png
  docs/img/security/cis-result.png
  docs/img/security/dt-component-vulns.png
  docs/img/security/dt-projects.png
  docs/img/security/keycloak-group-members.png
  docs/img/security/keycloak-groups.png
  docs/img/security/keycloak-idp.png
  docs/img/security/keycloak-user.png
  docs/img/security/role-binding.png
  docs/img/security/sylva-rbac.jpg
  docs/img/security/vault-oidc-redirect.png
  docs/img/security/vault-oidc.png
  docs/img/security/vault-paths.png
  docs/img/security/vault-token.png
  docs/security.md
Due: check-docs-markdown

add example environment values for capm3
  environment-values/rke2-capo-capm3/kustomization.yaml
  environment-values/rke2-capo-capm3/secrets.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

Adapt CAPV configuration to latest sylva-capi-cluster refactoring
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capv/values.yaml
Due: chart-generator, chart-jobs

Add unit for rook-ceph-cluster-crd unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

check values.yaml for workload-cluster
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix dig
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

try from debug secret
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

only when workload-cluster's infra_provider is set in values.yaml, check for it to be CAPO to enable workload-capo-cluster-resources
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update CAPD deploy guide in README.md
  README.md
Due: check-docs-markdown

Handle null CAPV values in cluster-vars
  charts/sylva-units/templates/cluster-vars.yaml
Due: chart-generator, chart-jobs

add groupSearchEnabled to true in rancher authConfig
  kustomize-units/rancher-keycloak-oidc-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

Only view-users in needed in the access token for rancher
  kustomize-units/keycloak-resources/keycloak-user.yaml
  kustomize-units/keycloak-resources/rancher-client.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 3fcd85c74a9a52e7ffaa03393c531944e90a4f29)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Fix latest main commit ID
  capv-daily-tests-results/README.md
Due: check-docs-markdown

add md example environment values for capm3
  environment-values/rke2-capo-capm3/secrets.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

rke2 capm3 add md examples
  environment-values/rke2-capo-capm3/secrets.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

Allow to override default reconcile timeouts
  apply.sh
  bootstrap.sh
Due: none

Declare the email address of sylva-admin as verified to prevent a useless warning
  kustomize-units/keycloak-resources/keycloak-user.yaml
Due: chart-generator, chart-jobs

Configure the sylva-admin as allowed_principal in keycloak
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/keycloak-user.yaml
  kustomize-units/rancher-keycloak-oidc-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

Revert "Configure the sylva-admin as allowed_principal in keycloak"
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/keycloak-user.yaml
  kustomize-units/rancher-keycloak-oidc-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on bd67d28a70481ba785e8356cb6fe9b32d4bd4137)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Enhancement
  kustomize-units/cluster-autoscaler/ca.yaml
Due: chart-generator, chart-jobs

Configure the allowed principals in the rancher oidc config
  charts/sylva-units/scripts/rancher-oidc-set-allowed-principal.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
