Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh

commit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Scaling vault pods max upto 3 w.r.t no. of nodes
  charts/sylva-units/values.yaml
  kustomize-units/vault/kustomization.yaml
  kustomize-units/vault/pdb.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Introduce m3capo
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/templates/capo-secret.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/bootstrap-local-path/bootstrap-local-path.yaml
  kustomize-units/bootstrap-local-path/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-m3capo/base/kubeadm-m3capo-cluster.yaml
  kustomize-units/cluster-manifests/m3capo-base/kustomization.yaml
  kustomize-units/cluster-manifests/m3capo-base/manifest.yaml
  kustomize-units/m3capo-cluster-resources/kustomization.yml
  kustomize-units/m3capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/m3capo-sushy/kustomization.yml
  kustomize-units/m3capo-sushy/sushy-deployment.yml
  kustomize-units/m3capo/kustomization.yaml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs

test cluster-api-provider-rke2-v0.1.0
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/cluster-manifests/capm3-base/kustomization.yaml
  kustomize-units/cluster-manifests/capm3-base/manifest.yaml
  kustomize-units/cluster-manifests/rke2-capm3/base/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add optional property to capo ConfigMaps
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

commit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency keycloak/keycloak-k8s-resources to v21.1.2
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.4.4
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

first commit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency metal3-io/cluster-api-provider-metal3 to v1.4.1
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

fix pipeline
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix lint
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

fix lint
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

commit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

change logic to pause cluster
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 4204550dc3cfc287a959d1ea495035ec6798fa38)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Remove taints commands in kubeadm
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
Due: chart-generator, chart-jobs

Always upload artifacts
  .gitlab-ci.yml
Due: none

remove taints for rke2 and kubeadm
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

sylva-units: avoid producing a 'spec.kubeConfig: null' for Kustomizations and HelmReleases
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

remove taints for rke2 and kubeadm
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

fix typo
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.7.5
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.6.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-units: avoid producing a 'spec.targetNamespace: null' for Kustomizations and HelmReleases
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on ff54b04b525e37f0073e77b390ba7ef40251ea5c)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Explain how to use `helm template` to preview the output of sylva-units templating
  README.md
Due: check-docs-markdown

improve reliability of openstack cleanup script for security group
  tools/openstack-cleanup.sh
Due: none

upgrade RKE2 bootstrap provider to 0.1.1
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

Change cluster units to sylva-capi-cluster HelmRelease
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/rke2-capv/values.yaml
Due: chart-generator, chart-jobs

remove Vault ADMIN_PASSWORD from the Kustomization
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on b2b340fa6aad23e25ab3ce3508daca82e40556d2)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update Helm release vault-config-operator to v0.8.16
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

tools/openstack-cleanup.sh: fix a shell typo
  tools/openstack-cleanup.sh
Due: none

Add Sylva daily test results on vSphere (based on 8bb4936ecb8112f31a3a403401b7f4b4e049af3e)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

minor: avoid YAML ~ in sylva-units/workload-cluster.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs
