Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh

Update file values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.5.0
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on b9178599f4f57d5aabe8b81d8bd2677472e93847)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update to Flux v2.0.1
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/sylva-units-values-debug.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  kustomize-units/flux-system/base/kustomization.yaml
  kustomize-units/kube-job/README.md
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Update Helm release external-secrets to v0.9.4
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.30.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

CI: produce a logs 'section_end' for the last section
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Update Helm release vault-config-operator to v0.8.21
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on d7516d7084566f79886b7d6000e3985663221d81)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Rename sylva-units-values-debug Secret as sylva-units-values
  README.md
  charts/sylva-units/templates/sylva-units-values.yaml
  charts/sylva-units/values.yaml
  docs/security.md
  environment-values/kubeadm-capd/secrets.yaml
  environment-values/kubeadm-capo/secrets.yaml
  environment-values/rke2-capd/secrets.yaml
  environment-values/rke2-capo-capm3/secrets.yaml
  environment-values/rke2-capo/secrets.yaml
  preview.sh
Due: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

upgrade capm3 to 1.4.2
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

CAPO: wait more thoroughly for cluster to be ready before pausing reconciliation
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

capo: fix a minor typo in displayed text
  tools/openstack-cleanup.sh
Due: none

Add Sylva daily test results on vSphere (based on 1aad8bc766d5ad2a2cc0e52fa13318bde39c8756)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

CAPO: revert cluster healthCheck tweak
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use Heat condition for external_network def
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/components/capo-vip-floating-ip/kustomization.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Revert cleanup of 'cluster' unit healthCheck particular case for capo
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

cleanup: remove cluster-vars ConfigMap
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

renovate: remove obsolete capv renovate.json config
  renovate.json
Due: none

Add Sylva daily test results on vSphere (based on a407ce5e1dc338f2c00a4bf44f3fdeee135ea31e)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Revert "Add targetNamespace for preview"
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Revert "Add a waiting loop in force_reconcile function"
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Revert "Add copy-from-bootstrap-to-management label for OCI HelmRepository"
  environment-values/components/oci-artifacts/kustomization.yaml
Due: chart-generator, chart-jobs

Update Helm release openstack-cinder-csi to v2.28.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency fluxcd/flux2 to v2.1.0
  kustomize-units/flux-system/base/kustomization.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

Keep up with sylva-capi-cluster evolutions
  charts/sylva-units/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

CI: run-e2e-tests label alternatively triggers OCI/non-OCI jobs
  .gitlab-ci.yml
Due: none
