Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh

move the view-users role to the infra-admins group
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/keycloak-resources/keycloak-user.yaml
Due: chart-generator, chart-jobs

Intorduce Opni as an optional monitoring component for Sylva
  charts/sylva-units/elements/configtemplate-opni-keycloak.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  docs/opni.md
  kustomize-units/eso-secret-stores/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/opni/eso/eso-opni-oidc.yaml
  kustomize-units/opni/eso/eso-sylva-ca-vault.yaml
  kustomize-units/opni/eso/kustomization.yaml
  kustomize-units/opni/ingress/kustomization.yaml
  kustomize-units/opni/ingress/opni-ing-http.yaml
  kustomize-units/opni/ingress/opni-ing-https.yaml
  kustomize-units/opni/ingress/opni-tls.yaml
  kustomize-units/opni/keycloak-resources/kustomization.yaml
  kustomize-units/opni/keycloak-resources/opni-monitoring-client.yaml
  kustomize-units/opni/keycloak-resources/opni-monitoring-user.yaml
  kustomize-units/opni/namespace/kustomization.yaml
  kustomize-units/opni/namespace/opni-ns.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix docs
  docs/opni.md
Due: check-docs-markdown

Allow sylva-admin to use his account management
  kustomize-units/keycloak-resources/keycloak-user.yaml
Due: chart-generator, chart-jobs

Create default groups assigned to the global roles
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/rancher-keycloak-oidc-provider/rancher-global-role-binding.yaml
Due: chart-generator, chart-jobs

Make the sylva-admin user in keycloak a principal of the Rancher admin account
  charts/sylva-units/scripts/rancher-oidc-set-admin-user.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix pipeline failures
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  docs/opni.md
  kustomize-units/opni/eso/eso-opni-oidc.yaml
  kustomize-units/opni/eso/eso-sylva-ca-vault.yaml
  kustomize-units/opni/eso/kustomization.yaml
  kustomize-units/opni/keycloak-resources/kustomization.yaml
  kustomize-units/opni/keycloak-resources/opni-monitoring-user.yaml
  kustomize-units/opni/namespace/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix trailin whitespaces
  kustomize-units/opni/eso/kustomization.yaml
  kustomize-units/opni/keycloak-resources/kustomization.yaml
Due: chart-generator, chart-jobs

Fix markdown
  docs/opni.md
Due: check-docs-markdown

Fix last markdown errors
  docs/opni.md
Due: check-docs-markdown

Fix small doc error
  docs/opni.md
Due: check-docs-markdown

Openstack-cleanup: Improve PVC cleanup
  tools/openstack-cleanup.sh
Due: none

add condition to deploy the cluster on single node
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add podSecurityContext
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Make default_password immutable
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Try to delete all stacks before failing
  .gitlab-ci.yml
Due: none

adjust to hybrid scenario and enable coredns change in workload cluster
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

use tag for capi-rancher-import
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

use CAPO CI values defined for Opni
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 5d530a22fcb043ea63ff368bcc457a40dc1bf551)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Make unit check-rancher-clusters to fail with a better error message
  charts/sylva-units/scripts/check-rancher-clusters.sh
Due: chart-generator, chart-jobs

Update container-images/sylva-toolbox Docker tag to v0.1.8
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Increase capo reconcile interval
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

[429] Deploy workload-capo-cluster-resources unit only when capo is enabled
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 012de198ed16db94a2bb3a31afa05e02d0dd2c85)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.8
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.4
  .gitlab-ci.yml
Due: none

Rename management-cluster-{values,secrets} to sylva-units
  environment-values/README.md
  environment-values/base/helm-release.yaml
  environment-values/base/kustomization.yaml
  environment-values/kubeadm-capd/kustomization.yaml
  environment-values/kubeadm-capo/kustomization.yaml
  environment-values/kubeadm-capv/kustomization.yaml
  environment-values/rke2-capd/kustomization.yaml
  environment-values/rke2-capo-capm3/kustomization.yaml
  environment-values/rke2-capo/kustomization.yaml
  environment-values/rke2-capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add artifact attestation
  .gitlab-ci.yml
Due: none

enable vault audits
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Applying suggestions from review comments
  docs/kata-containers.md
Due: check-docs-markdown

Replacing image sha with tag.
  docs/kata-containers.md
  kustomize-units/kata-deploy/base/kata-deploy.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

typo
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Update kata-containers.md
  docs/kata-containers.md
Due: check-docs-markdown

my dev branch
  charts/sylva-units/values.yaml
  environment-values/akki-mvp2-current-environment-values-capo-capm3-only/capo-capm3-values.yaml.sample
  environment-values/akki-mvp2-current-environment-values-capo-capm3-only/kustomization.yaml
  environment-values/akki-mvp2-current-environment-values-capo-capm3-only/manifest.yaml
  environment-values/akki-mvp2-current-environment-values-capo-capm3-only/values.yaml
  environment-values/akki-mvp2-current-environment-values-capo-capm3-only/values.yaml.sample
  environment-values/akki-mvp2-sriov-current-environment-values-capo-capm3-only/capo-capm3-values.yaml.sample
  environment-values/akki-mvp2-sriov-current-environment-values-capo-capm3-only/kustomization.yaml
  environment-values/akki-mvp2-sriov-current-environment-values-capo-capm3-only/manifest.yaml
  environment-values/akki-mvp2-sriov-current-environment-values-capo-capm3-only/values.yaml
  environment-values/akki-mvp2-sriov-current-environment-values-capo-capm3-only/values.yaml.sample
  environment-values/current-environment-values/capo-capm3-values.yaml.sample
  environment-values/current-environment-values/kustomization.yaml
  environment-values/current-environment-values/manifest.yaml
  environment-values/current-environment-values/values.yaml
  environment-values/current-environment-values/values.yaml.sample
  environment-values/multi-WC-multinode/capo-capm3-values.yaml.sample
  environment-values/multi-WC-multinode/kustomization.yaml
  environment-values/multi-WC-multinode/manifest.yaml
  environment-values/multi-WC-multinode/values.yaml
  environment-values/multi-WC-multinode/values.yaml.sample
  environment-values/multi-WC-singlenode-test-current-environment-values/kustomization.yaml
  environment-values/multi-WC-singlenode-test-current-environment-values/values.yaml
  environment-values/multi-WC-test-current-environment-values/capo-capm3-values.yaml.sample
  environment-values/multi-WC-test-current-environment-values/kustomization.yaml
  environment-values/multi-WC-test-current-environment-values/manifest.yaml
  environment-values/multi-WC-test-current-environment-values/values.yaml
  environment-values/multi-WC-test-current-environment-values/values.yaml.sample
  kustomize-units/namespace-defs/workload-cluster2.yaml
  refresh-my-bootstrap-vm.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

add signature of artifact provenance
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 87c1a4442cd931c401e9a01415345fb6ff5dd0cc)
  capv-daily-tests-results/README.md
Due: check-docs-markdown
