Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    when: on_failure
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    when: on_failure
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
  needs:
  ...

sylva-units: remove useless specification of 'interval: 1m'
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Delete patches removing seccompProfile
  charts/sylva-units/values.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/capm3/kustomization.yaml
  kustomize-units/flux-system/components/common/kustomization.yaml
Due: chart-generator, chart-jobs

sylva-units: have simpler cluster settings, less deep in the YAML
  .gitlab-ci.yml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/test-values/capo-base/values.yaml
  charts/sylva-units/test-values/capo-mgmt-workers/values.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/How-tos.md
  environment-values/README.md
  environment-values/base/helm-release.yaml
  environment-values/ci/capo-fip.yml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/rke2-capv/values.yaml
  tools/generate_json_schema.py
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on fa0b8f971cd3018668788e066da63e0b6f60c206)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update servergroup_id and security_group_name entries
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fixing cross repo pipeline after test login merge
  .gitlab-ci.yml
Due: none

cleanup: make code for conditional use of capo-cluster-resources consistent
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v16
  .gitlab-ci.yml
Due: none

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.33.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix renovate metal3 grouping configuration
  renovate.json
Due: none

Perform apply.sh in CI
  .gitlab-ci.yml
Due: none

Update BOOTSTRAP_IP path in bootstrap-cluster.sh
  tools/kind/bootstrap-cluster.sh
Due: none

Update Keycloak ingress to fix HTTP 502
  kustomize-units/keycloak/keycloak-ingress.yaml
Due: chart-generator, chart-jobs

CAPO: Define a new unit for Contrail BGPaaS operator
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Solve issue with rke2-capo workload-cluster depth
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Have shared-workload-clusters-settings be enabled only when kyverno is
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/rke2-capd/values.yaml
Due: chart-generator, chart-jobs

attempt at testing kyverno 1.11 beta
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 1493eedf1a42b998c34cb2bc03d766576acbc650)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.6
  .gitlab-ci.yml
Due: none

Update dependency renovate-bot/renovate-runner to v16.2.1
  .gitlab-ci.yml
Due: none

Fix display_external_ip path in capm3 machine_image_url & machine_image_checksum
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

Update metal3
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

Add securityContext to units that miss it
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/components/keycloak-operator-proxies/kustomization.yaml
  kustomize-units/keycloak/components/keycloak-operator-security/kustomization.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/namespace-defs/cattle-monitoring-namespace.yaml
  kustomize-units/namespace-defs/cinder-csi-namespace.yaml
  kustomize-units/namespace-defs/cinder-csi.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/longhorn-namespace.yaml
  kustomize-units/namespace-defs/metal3-namespace.yaml
  kustomize-units/namespace-defs/rancher-namespace.yaml
  kustomize-units/namespace-defs/rancher-namespaces.yaml
Due: chart-generator, chart-jobs

Test new version
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

Create neuvector psp with helm chart in case of RKE2 deployment before k8s 1.25
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add the capability to emulate baremetal in bootstrap cluster.
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  environment-values/rke2-capm3-virt/kustomization.yaml
  environment-values/rke2-capm3-virt/secrets.yaml
  environment-values/rke2-capm3-virt/values.yaml
  kustomize-units/libvirt-metal/api-service-endpoint.yaml
  kustomize-units/libvirt-metal/baremetal-deployment.yaml
  kustomize-units/libvirt-metal/kustomization.yaml
  kustomize-units/libvirt-metal/networks-definitions.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

Add Sylva daily test results on vSphere (based on 4f8168b9310948f244ae848538037ec9f5dc5bbc)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

sylva-units: fix "all units enabled" test case
  tools/gci-templates/scripts/helm-template-yamllint.sh
Due: chart-generator, chart-jobs

Update dependency keycloak/keycloak-k8s-resources to v22
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

Fix check_pivot_has_ran check
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Update Helm release metallb to v0.13.11
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add vsphere specific system units
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/vsphere-cloud-controller-manager/kustomization.yaml
  kustomize-units/vsphere-cloud-controller-manager/vsphere-cloud-controller-manager.yaml
  kustomize-units/vsphere-csi-driver/kustomization.yaml
  kustomize-units/vsphere-csi-driver/vsphere-csi-driver.yaml
  kustomize-units/vsphere-csi-driver/vsphere-storageclass.yaml
Due: chart-generator, chart-jobs

capo apiVersion upgrade
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix multus dependency of metal3 for non-emulated BM deployments
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on e759a6f87f5668b8009d1f0c067172bbbce431aa)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

use of customized image and image hash
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Ensure existence of management-cluster-kubeconfig after pivot
  charts/sylva-units/bootstrap.values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

Fix commit ID in table
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency kubernetes-sigs/cluster-api to v1.5.2
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/kube-job/job.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
