Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  test-preview-capd: any of: preview.sh, tools/shell-lib/common.sh

debug-on-exit: dump Flux resources in all namespaces
  tools/shell-lib/debug-on-exit.sh
Due: none

point to a branch of CI environment adapted to the use of sylva-units for the workload cluster
  .gitlab-ci.yml
Due: none

sylva-units: set createNamespace on monitoring* units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove now-unused workload-cluster-(calico|monitoring)* units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

make check-rancher-clusters aware that workload cluster is in 'workload-cluster' ns
  charts/sylva-units/scripts/check-rancher-clusters.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

tools/oci/push-helm-charts-artifacts.sh: don't produce artifact for units that use sylva-units
  tools/oci/push-helm-charts-artifacts.sh
Due: none

add workload-cluster.values.yaml
  charts/sylva-units/test-values/workload-cluster/workload-cluster.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

redefine 'workload-cluster' unit to use sylva-units
  charts/sylva-units/test-values/capo-base/values.yaml
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

workload-capo-cluster-resources: define HeatStack in workload-cluster namespace (to put after definition of new workload-cluster unit, along with the valuesFrom)
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/eso-secret-stores/kubernetes-default-ns-secretstore.yaml
  kustomize-units/eso-secret-stores/kustomization.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/workload-cluster.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
  kustomize-units/synchronize-secrets/workload-cluster-cloud-config-secret.yaml
Due: chart-generator, chart-jobs

pass metallb_helm_oci_url to workload-cluster Helm release
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

redefine worload-cluster-multus as multus an integrate into workload-cluster
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

rework 'workload-cluster-import' unit into a 'cluster-import' unit and integrate in workload-cluster
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/cluster-import/cluster-provisioning-rancher.yaml
Due: chart-generator, chart-jobs

Update Helm release cert-manager to v1.12.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable cinder-csi in workload-cluster
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

test: increase CI timeout
  bootstrap.sh
Due: none

Deploy longhorn in workload cluster
  charts/sylva-units/elements/configtemplate-apt-proxy.tpl
  charts/sylva-units/elements/configtemplate-longhorn-prereq.tpl
  charts/sylva-units/elements/controlplane-apt-proxy.tpl
  charts/sylva-units/elements/controlplane-longhorn-prereq.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

allow to use valuesFrom and helm_secret_values in a Helm-based unit
  charts/sylva-units/templates/_helpers.tpl
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on a39e067a67df4be309d8d72ed0006543214f0968)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update rke2-capd-cluster.yaml namespace
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
Due: chart-generator, chart-jobs

enforce password policy on keycloak
  kustomize-units/keycloak-resources/keycloak-realm.yaml
Due: chart-generator, chart-jobs

Update container-images/sylva-toolbox Docker tag to v0.1.7
  tools/shell-lib/common.sh
Due: test-preview-capd

test
  environment-values/base/helm-release.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.5.8
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix apply.sh for OCI-based deployments
  environment-values/components/oci-artifacts/kustomization.yaml
Due: chart-generator, chart-jobs

First neuvector kustomize unit
  charts/sylva-units/values.yaml
  kustomize-units/neuvector/kustomization.yaml
  kustomize-units/neuvector/namespace.yaml
  kustomize-units/neuvector/neuvector-ingress.yaml
  kustomize-units/neuvector/neuvector.yaml
Due: chart-generator, chart-jobs

add values for neuvector in sylva-units chart
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Provide helpful aliases to interact with k8s and the container engine on RKE2
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

debug-on-exit.sh: dump flux resources with 'flux', nicer output
  tools/shell-lib/debug-on-exit.sh
Due: none

Configure proxy on Keycloak
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

Change RKE2 version
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

deploy SRIOV plugin in workload cluster
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/workload-cluster-sriov-psp/kustomization.yaml
  kustomize-units/workload-cluster-sriov-psp/workload-cluster-sriov-psp.yaml
Due: chart-generator, chart-jobs

simplify capo-cluster-resources substitutions
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-units: make 'cluster' unit reusable for workload cluster
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
  kustomize-units/cluster-manifests/capv-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kubeadm-capv-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capv/base/rke2-capv-cluster.yaml
Due: chart-generator, chart-jobs

check hash
  environment-values/base/helm-release.yaml
  kustomize-units/kube-job/job.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, test-preview-capd

Update vault Docker tag to v1.13.3
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

add schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

post build substitute
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

remove trailing spaces
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

preview.sh should be usable in mgmt cluster to preview before using apply.sh
  preview.sh
Due: test-preview-capd

Add clouds.yaml in .gitignore
  .gitignore
Due: none
