Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

chart-generator:
  stage: generate
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  stage: test
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

test-preview-capd:
  stage: deploy
  services:
  - .common-deployment
  - services
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
  ...

sylva-units: avoid generating one repo for each kustomize-based unit
  charts/sylva-units/templates/source-repo-auth.yaml
  charts/sylva-units/templates/source-repository-self.yaml
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

change kubeadm-capo image in remote values
  .gitlab-ci.yml
Due: none

Update container-images/sylva-toolbox Docker tag to v0.1.5
  tools/shell-lib/common.sh
Due: test-preview-capd

test
  .gitlab-ci.yml
  tools/gci-templates/.markdownlint.yml
  tools/gci-templates/gitlab-ci.yml
  tools/gci-templates/linter-configuration/yamllint-helm-exclude-chart-templates.yaml
  tools/gci-templates/linter-configuration/yamllint-helm-exclude-charts.yaml
  tools/gci-templates/linter-configuration/yamllint-helm-template-rules
  tools/gci-templates/linter-configuration/yamllint.yaml
  tools/gci-templates/scripts/helm-schema-validation.sh
  tools/gci-templates/scripts/helm-template-yamllint.sh
Due: chart-generator, chart-jobs

try rke2-calico* charts without a leadind 'v' in the version
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

tag
  .gitlab-ci.yml
  tools/gci-templates/linter-configuration/.markdownlint.yml
Due: chart-generator, chart-jobs

Rework generate and test stages
  .gitlab-ci.yml
Due: none

Update Helm release trivy-operator to v0.13.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.23.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Bump openstack-client cleanup stage image tag
  .gitlab-ci.yml
Due: none

sylva-units: add interpret-ternary and use it for default PV
  charts/sylva-units/README.md
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

have Flux WebUI really use .cluster.admin_password
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-units: avoid regenerating .cluster.admin_password on each HelmRelease update
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Store CI configuration files in a dedicated folder
  .gitlab-ci.yml
  tools/gci-templates/README.md
  tools/gci-templates/configuration/.markdownlint.yml
  tools/gci-templates/configuration/yamllint-helm-exclude-chart-templates.yaml
  tools/gci-templates/configuration/yamllint-helm-exclude-charts.yaml
  tools/gci-templates/configuration/yamllint-helm-template-rules
  tools/gci-templates/configuration/yamllint.yaml
  tools/gci-templates/gitlab-ci.yml
  tools/gci-templates/scripts/helm-schema-validation.sh
  tools/gci-templates/scripts/helm-template-yamllint.sh
Due: chart-generator, chart-jobs, check-docs-markdown

Rework deploy stage
  .gitlab-ci.yml
Due: none

sylva-units: avoid using '0.1.0' in Chart.yaml 'version'
  charts/sylva-units/Chart.yaml
Due: chart-generator, chart-jobs

try with other remote kustomize target path, for when proxy is not used
  kustomize-units/heat-operator/kustomization.yml
Due: chart-generator, chart-jobs

try without .git
  kustomize-units/heat-operator/kustomization.yml
Due: chart-generator, chart-jobs

CAPI & cie: enable cluster class feature gate (aka cluster topology)
  charts/sylva-units/values.yaml
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

metal3/mariadb: use a randomly generated password
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Remove cluster-vsphere GitRepository from sylva-units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add vault-config-operator operator
  charts/sylva-units/values.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Clean up sample rows from CAPV daily test results table
  capv-daily-tests-results/README.md
Due: check-docs-markdown

pin docker:dind container image
  .gitlab-ci.yml
Due: none

allow renovate bot to recognize keycloak-real-operator image
  kustomize-units/keycloak-legacy-operator/kustomization.yaml
  renovate.json
Due: chart-generator, chart-jobs

Update kube-vip/kube-vip Docker tag to v0.6.0
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kubeadm-capv-cluster.yaml
Due: chart-generator, chart-jobs

Fix of specific value in kubeadm capv scenario
  kustomize-units/cluster-manifests/kubeadm-capv/base/kubeadm-capv-cluster.yaml
Due: chart-generator, chart-jobs

change url
  kustomize-units/heat-operator/kustomization.yml
Due: chart-generator, chart-jobs

temp
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

temp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

temp
  charts/sylva-units/values.yaml
  kustomize-units/prometheus/kustomization.yaml
  kustomize-units/prometheus/prometheus.yaml
Due: chart-generator, chart-jobs

temp
  kustomize-units/prometheus/prometheus.yaml
Due: chart-generator, chart-jobs

Update Helm release k8s-gateway to v2.0.4
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update docker.io/library/busybox Docker tag to v1.36.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release cert-manager to v1.12.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove rancher-webhook-service unit
  charts/sylva-units/values.yaml
  kustomize-units/rancher-webhook/kustomization.yaml
  kustomize-units/rancher-webhook/webhook-service.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.5.4
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

cluster capm3
  kustomize-units/cluster-manifests/capm3-base/kustomization.yaml
  kustomize-units/cluster-manifests/capm3-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capm3/base/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Use external secret operator to consume Vault secrets
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/kustomization.yaml
  kustomize-units/eso-secret-stores/vault-secretstore.yaml
  kustomize-units/keycloak-legacy-operator/external-keycloak.yaml
  kustomize-units/keycloak/keycloak-initial-admin.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/vault-secrets/kustomization.yaml
  kustomize-units/vault-secrets/password-policy.yaml
  kustomize-units/vault-secrets/random-keycloak-secret.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Rework build stage and add OCI deployments
  .gitlab-ci.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  test-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
