Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

chart-generator:
  stage: generate
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  stage: test
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

Ensure management cluster name is available for templating
  .gitlab-ci.yml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

Build OCI server URL from HelmRepository
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

unbreak CAPO cleanup (upgrade image)
  .gitlab-ci.yml
Due: none

Update dependency kubernetes-sigs/cluster-api to v1.4.1
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

capd: use CAPD_DOCKER_HOST instead of DOCKER_HOST
  charts/sylva-units/values.yaml
  kustomize-units/capd/base/kustomization.yaml
Due: chart-generator, chart-jobs

Update renovate config to regroup some packages
  renovate.json
Due: none

Update rancher-cis-benchmark to v4 (major)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix openstack-cleanup
  tools/openstack-cleanup.sh
Due: none

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.21.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove useless validation in sylva-units templating, already covered by schema
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

minor: uncomment 'trap' to delete tmp directory in tools/oci/build-sylva-units-artifact.sh
  tools/oci/build-sylva-units-artifact.sh
Due: none

simplify code to avoid heavy '(.Values | merge (dict))' statements
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

no need to use sh to call ./tools/openstack-cleanup.sh
  .gitlab-ci.yml
Due: none

remove code about non-existing .helm_repo_spec field
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

remove a useless '|default dict'
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.2
  .gitlab-ci.yml
Due: none

Update vault Docker tag to v1.13.1
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Update Helm release k8s-gateway to v2.0.3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

renovate label should allow failure
  .gitlab-ci.yml
Due: none

chore(deps): update dependency https://github.com/rancher/local-path-provisioner.git to v0.0.24
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

chore(deps): update dependency banzaicloud/bank-vaults to v1.19.0
  kustomize-units/vault/kustomization.yaml
Due: chart-generator, chart-jobs

chore(deps): update helm release postgresql to v12.3.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore(deps): update helm release openstack-cinder-csi to v2.27.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use sorted files in comm command
  .gitlab-ci.yml
Due: none

Update renovate config to track kube-vip in kubeadm-capv-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kubeadm-capv-cluster.yaml
  renovate.json
Due: chart-generator, chart-jobs

chore(deps): update kube-vip/kube-vip docker tag to v0.5.12
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kubeadm-capv-cluster.yaml
Due: chart-generator, chart-jobs

ci-image based on sylva-toolbox
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

Minor renovate config update - Add label to dependencies dashboard
  renovate.json
Due: none

allow users to add patches/components/postRenderers
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  tools/gci-templates/scripts/helm-template-yamllint.sh
Due: chart-generator, chart-jobs

Add NTP configuration on kubeadm and RKE workers
  charts/sylva-units/elements/configtemplate-ntp-servers.tpl
  charts/sylva-units/elements/controlplane-ntp-servers.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Remove unecessary kind cluster creation
  .gitlab-ci.yml
Due: none

Update dependency kubernetes-sigs/cluster-api-provider-openstack to v0.7.1
  kustomize-units/capo/kustomization.yaml
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
Due: chart-generator, chart-jobs

keycloak-legacy-operator - Use tag instead of main branch
  kustomize-units/keycloak-legacy-operator/kustomization.yaml
Due: chart-generator, chart-jobs

chore(deps): update vault docker tag to v1.13.2
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

chore(deps): update dependency keycloak/keycloak-k8s-resources to v21.1.1
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

unit definition
  charts/sylva-units/scripts/check-sso-login.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve/fix support for nested gotpl
  README.md
  charts/sylva-units/README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/test-values/nested-templating/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

more debug-on-exit
  bootstrap.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

reenable flux notifications controller
  kustomize-units/flux-system/base/kustomization.yaml
  kustomize-units/flux-system/offline/kustomization.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
