Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md

Change keycloak client config url
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/rancher-client.yaml
Due: chart-generator, chart-jobs

CAPO: support anti-affinity for kubernetes node VMs
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
Due: chart-generator, chart-jobs

use-a-kubernetes-custom-resource-to-handle-rancher-keycloak-configuration
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
  kustomize-units/keycloak-auth-provider/kustomization.yaml
Due: chart-generator, chart-jobs

Use localhost to reach API in kube-vip
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

NTP server configuration for rke2 deployments
  charts/sylva-units/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

update capm3 version to align withc api version
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

add healtchecks to keycloak units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Have NTP servers include FQDN option
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove 'webhook-service' Service from 'rancher' unit healthChecks
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add capv daily tests sample results table
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Declare HelmRepository as source_templates
  charts/sylva-units/README.md
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add the capability to add annotations to units
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Notify users when user interfaces are ready
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

Disk size
  charts/sylva-units/test-values/capo-rootVolume/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use patches
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix Keycloak rancher client
  kustomize-units/keycloak-resources/rancher-client.yaml
Due: chart-generator, chart-jobs

use kustomize component
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/capo-control-plane-az/kustomization.yaml
Due: chart-generator, chart-jobs

add svc to cert file
  kustomize-units/sylva-ca-certs/keycloak-tls.yaml
Due: chart-generator, chart-jobs

Add additional interfaces for capo VMs
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
  kustomize-units/cluster-manifests/components/capo-additional-networks/direct/kustomization.yaml
  kustomize-units/cluster-manifests/components/capo-additional-networks/virtio/kustomization.yaml
Due: chart-generator, chart-jobs

Add sample badge in README.md with data read from a results' branch file
  README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Support specifying control plane AZ
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/capo-control-plane-az/kustomization.yaml
Due: chart-generator, chart-jobs

test sso
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/flux-client.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
Due: chart-generator, chart-jobs

add flux stuff
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add flux stuff
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/flux-client.yaml
Due: chart-generator, chart-jobs

Add "version" property for MachineDeployment spec to fix worker deployments with kubeadm CAPO
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Generalize registry configuration
  .gitlab-ci.yml
  charts/sylva-units/elements/registry_mirrors.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/How-tos.md
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
  kustomize-units/cluster-manifests/components/registry-mirror/KubeadmControlPlane/kustomization.yaml
  kustomize-units/cluster-manifests/components/registry-mirror/RKE2ControlPlane/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add healthchecks on keycloak units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add the possibility to use a FIP for the management VIP port
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/capo-vip-floating-ip/kustomization.yaml
Due: chart-generator, chart-jobs

Add sylvactl to gitignore file which is generated when deploying
  .gitignore
Due: none

Update dependency kubernetes-sigs/cluster-api to v1.4.0
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Allow to trigger deployment via scheduled pipelines
  .gitlab-ci.yml
Due: none

Use a kubernetes custom resource to handle Rancher Keycloak configuration
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
  kustomize-units/keycloak-auth-provider/kustomization.yaml
Due: chart-generator, chart-jobs

fix workload-cluster DISK_SIZE type
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test
  .gitlab-ci.yml
Due: none

create bootstrap values cm prior to preview validation
  bootstrap.sh
  preview.sh
Due: none

delete cm when cleaning preview
  bootstrap.sh
  preview.sh
Due: none

use cluster_external_ip as ironicIP
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.7.2-rc7
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

explictly create sylva-units-preview and delete it from environment-values/preview
  bootstrap.sh
  environment-values/preview/kustomization.yaml
  environment-values/preview/preview-namespace.yaml
  preview.sh
Due: chart-generator, chart-jobs

kustomize-units as OCI registry artifact
  .gitlab-ci.yml
  environment-values/components/oci-repository/README.md
  environment-values/components/oci-repository/kustomization.yaml
  environment-values/components/oci-repository/oci-repository.yaml
  tools/oci/build-kustomize-units-artifact.sh
Due: chart-generator, chart-jobs, check-docs-markdown
