Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md

capi-boostrap overview diagram + boostrap/management animation
  docs/bootstrap-mgmt-workload.odp
  docs/capi-bootstrap-overview.drawio
  docs/capi-bootstrap-overview.drawio.png
Due: none

debug-on-exit.sh: dump flux resources
  tools/shell-lib/debug-on-exit.sh
Due: none

Use upstream definition for CAPI
  kustomize-units/capi/core-components.yaml
  kustomize-units/capi/kustomization.yaml
Due: none

Fix typo in flux-webui verbs value
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Deploy keycloak in the management cluster
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/keycloak/keycloak-cert.yaml
  kustomize-units/keycloak/keycloak-ingress.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/keycloak/namespace.yaml
Due: chart-generator, chart-jobs

add sops considerations in readme
  README.md
  sops-howto.md
Due: check-docs-markdown

Use upstream definition for CABPK
  kustomize-units/cabpk/bootstrap-components.yaml
  kustomize-units/cabpk/control-plane-components.yaml
  kustomize-units/cabpk/kustomization.yaml
Due: none

Suspend helmreleases and kustomizations after pivot
  bootstrap.sh
  charts/sylva-units/bootstrap.values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

add missing auth for metal3 chart repo
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

charts/sylva-units/README.md: fix a trivial capbr/cabpr typo
  charts/sylva-units/README.md
Due: chart-generator, chart-jobs, check-docs-markdown

add a default value in CAPO manifests for VM flavor
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
Due: none

CI: disable a few units on generic gitlab runners
  .gitlab-ci.yml
  bootstrap.sh
  charts/sylva-units/values.yaml
  environment-values/components/test-workload-cluster/kustomization.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

Only install calico unit in bootstrap cluster when bootstrap provider is CABPK
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Improve sylva-units diagram
  docs/capi-bootstrap-overview.drawio
  docs/capi-bootstrap-overview.drawio.png
Due: none

sylva-units: rename templates/components.yaml into templates/units.yaml
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

Minor fix for md linter
  .gitlab-ci.yml
Due: none

Configure Renovate
  renovate.json
Due: none

test-workload-cluster: propagate proxy settings in cluster definition
  environment-values/components/test-workload-cluster/values.yaml
Due: none

Small change to avoid the usage of gitlab-ci deprecated syntax
  .gitlab-ci.yml
Due: none

Keycloak upstream definiton use tags instead of commit SHA
  kustomize-units/keycloak/kustomization.yaml
Due: none

Cleanup kubeadm-capv configuration, add schema for cluster.capv.* values
  charts/cluster-vsphere/templates/controlplane.yaml
  charts/sylva-units/templates/capv-secret.yaml
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  environment-values/kubeadm-capv/infra-secrets.yaml
  environment-values/kubeadm-capv/secrets.yaml
  environment-values/kubeadm-capv/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/tim-lab/capv-cluster-values-secret.yaml
Due: chart-generator, chart-jobs

Use the Sylva CA certificates in Rancher
  charts/sylva-units/values.yaml
  kustomize-units/sylva-ca-certs/kustomization.yaml
  kustomize-units/sylva-ca-certs/sylva-ca-certs.yaml
Due: chart-generator, chart-jobs

improve replayability of pivot-job script
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

CI: simplify *-capd jobs
  .gitlab-ci.yml
Due: none

Use specific tag for kube-job to pass Kyverno enforce validation policy
  kustomize-units/kube-job/job.yaml
Due: none

Use upstream definition for Metallb
  kustomize-units/metallb/kustomization.yaml
Due: none

sylva-units: simplify "units.*.enabled" / remove "phase"
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/components/test-workload-cluster/values.yaml
  environment-values/kubeadm-capv/values.yaml
Due: chart-generator, chart-jobs

Use tag for capi-rancher-import chart instead of following main branch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

move test-workload-cluster from environment-values to default sylva-units values.yaml
  charts/sylva-units/values.yaml
  environment-values/components/test-workload-cluster/kustomization.yaml
  environment-values/components/test-workload-cluster/values.yaml
  environment-values/kubeadm-capd/kustomization.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/kustomization.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/kustomization.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/kustomization.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Enrich renovate config
  renovate.json
Due: none

Use helmrelease_spec to reference the cluster-vsphere chart
  environment-values/kubeadm-capv/kustomization.yaml
  environment-values/kubeadm-capv/management-cluster-capv-values.yaml
  environment-values/kubeadm-capv/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/helm-release.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/tim-lab/capv-cluster-values-secret.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/tim-lab/kustomization.yaml
Due: none

before pivot, wait on all CAPI-related Kustomization to be ready in mgmt cluster
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Use tag for metal3 chart instead of following main branch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use semver tag syntax for gitleak version
  .gitlab-ci.yml
Due: none

cluster-vsphere chart is now available in public repo
  charts/cluster-vsphere/Chart.yaml
  charts/cluster-vsphere/README.md
  charts/cluster-vsphere/templates/_helpers.tpl
  charts/cluster-vsphere/templates/calico.yaml
  charts/cluster-vsphere/templates/cluster.yaml
  charts/cluster-vsphere/templates/clusterresourceset.yaml
  charts/cluster-vsphere/templates/controlplane.yaml
  charts/cluster-vsphere/templates/vsphere-csi-resources.yaml
  charts/cluster-vsphere/templates/workers.yaml
  charts/cluster-vsphere/values.yaml
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capv/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Remove Orange-specific things
  README.md
  environment-values/kubeadm-capd/kustomization.yaml
  environment-values/kubeadm-capo/kustomization.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/kustomization.yaml
  environment-values/rke2-capo/kustomization.yaml
  environment-values/rke2-capo/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/dns-client-orange-falcon/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/orange-falcon/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capo/dns-client-orange-falcon/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capo/orange-falcon/kustomization.yaml
Due: check-docs-markdown

avoid bootstrap.sh error "the server doesn't have a resource type "kustomizations"'
  tools/shell-lib/common.sh
Due: none

Add new variables for monitoring in sylva-units and change repo URL towards sylva-elements
  charts/sylva-units/values.yaml
  kustomize-units/monitoring/management.yaml
  kustomize-units/monitoring/workload.yaml
Due: chart-generator, chart-jobs

README.md improvements
  README.md
  docs/img/Sylva-core-simple.png
  docs/img/capi-bootstrap-overview.drawio.png
  docs/img_src/Sylva-core-simple.drawio
  docs/img_src/capi-bootstrap-overview.drawio
Due: check-docs-markdown

Fix nit README.md
  .gitleaks.toml
  README.md
Due: check-docs-markdown
