Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

Include sylva-capi-cluster schema into sylva-units schema
  .gitlab-ci.yml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/rke2-capd/values.yaml
  tools/gci-templates/scripts/generate-pipeline.sh
  tools/gci-templates/scripts/helm-schema-validation.sh
  tools/gci-templates/scripts/helm-template-yamllint.sh
  tools/generate_json_schema.py
Due: chart-generator, chart-jobs

add example environment values for a capm3 mgmt cluster
  environment-values/rke2-capm3/kustomization.yaml
  environment-values/rke2-capm3/secrets.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

sylva-units: remove unused cluster.additional_networks
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

chore(deps): update helm release vault-config-operator to v0.8.23
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

make push-helm-artifacts faster, avoid pushing existing artifacts uselessly
  .gitlab-ci.yml
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Validate and dry-run renovate configuration
  .gitlab-ci.yml
  renovate.json
Due: none

Increase metal3 unit helmrelease timeout
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Prevent flux from uninstalling itself
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

use sylvactl from sylva-toolbox
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Enable Flux HelmRelease drift correction
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/flux-system/components/common/kustomization.yaml
Due: chart-generator, chart-jobs

Parametrize CI and openstack client images
  .gitlab-ci.yml
  renovate.json
  tools/gci-templates/gitlab-ci.yml
Due: chart-generator, chart-jobs

Add nginx depends_on calico
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 3413466441c32e35e8941299077e4d491d97314a)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 3413466441c32e35e8941299077e4d491d97314a)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Bump versions of ironic and BMO
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Move E2E_JOB_MR_PARITY variable definition in the correct section
  .gitlab-ci.yml
Due: none

Run renovate config-validator and dry-run only in MR
  .gitlab-ci.yml
Due: none

Restrict renovate regex for values.yaml file
  renovate.json
Due: none

chore(deps): update rancher-monitoring to v102 (major)
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/rancher-monitoring-clusterid-inject/inject_cluster_id.yaml
  kustomize-units/rancher-monitoring-clusterid-inject/kustomization.yaml
Due: chart-generator, chart-jobs

Add/allow seccompProfile and set namespace labels
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/capm3/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
  kustomize-units/flux-system/components/common/kustomization.yaml
  kustomize-units/heat-operator/kustomization.yml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/namespace-defs/cattle-monitoring-system.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/metal3-namespace.yaml
  kustomize-units/namespace-defs/rancher-global-data-namespace.yaml
  kustomize-units/namespace-defs/rancher-namespace.yaml
Due: chart-generator, chart-jobs

Allow Postgres seccomp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix indentation
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update job user and security context
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix depands
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix renovate target file
  renovate.json
Due: none

chore(deps): update helm release metallb to v0.13.11
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 0b57501b84f4a8b42ef84e6750e40276612ff101)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Upgramde metal3 chart and ironic image
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

chore(deps): update dependency renovate-bot/renovate-runner to v15.57.3
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 0b57501b84f4a8b42ef84e6750e40276612ff101)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

cilium init
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Renovate group for metal3 + fix for capm3 tag
  renovate.json
Due: none

Update container-images/sylva-toolbox Docker tag to v0.2.3
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Allow the override of sylva-toolbox version via environment variable
  renovate.json
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

CI: fix workload cluster MachineDeployment name length for kubeadm-capo-oci job
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on c2cfdbfff0d660fd4d134e01b12c0731cd7bc87c)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

no machine deployment by default / fix capd CI jobs
  charts/sylva-units/values.yaml
  environment-values/ci/capo-fip.yml
  environment-values/ci/m3-units-in-capo.yml
Due: chart-generator, chart-jobs

Add security context to kube-job
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix indent
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Patch container instead of job
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
