Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

kubevirt path correctiom
  kustomize-units/kubevirt/kustomization.yaml
Due: chart-generator, chart-jobs

temp
  kustomize-units/kubevirt/kustomization.yaml
Due: chart-generator, chart-jobs

dev-az temp added
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix syntax
  kustomize-units/kubevirt/kubevirt-config.yaml
Due: chart-generator, chart-jobs

Adding wait in skubevirt unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix version
  kustomize-units/kubevirt/kustomization.yaml
Due: chart-generator, chart-jobs

adding new line in vm.yaml
  kustomize-units/kubevirt/vm.yaml
Due: chart-generator, chart-jobs

temp change
  kustomize-units/vault-secrets/kustomization.yaml
Due: chart-generator, chart-jobs

change correction
  charts/sylva-units/values.yaml
  kustomize-units/kubevirt/vm.yaml
Due: chart-generator, chart-jobs

Add dns server prerequisite for CAPD on SUSE
  README.md
Due: check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  renovate.json
Due: none

Addition of Ironic security groups rules management cluster control_plane and worker_rules only if capm3 is enabled
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

Fix CAPV workload-cluster default values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test to validate the deployment of a pod on a workload cluster
  .gitlab-ci.yml
  charts/sylva-units/scripts/check-rancher-clusters.sh
Due: chart-generator, chart-jobs

added a heat resource file
  kustomize-units/capo-cluster-resources/stack-cluster-resources_updated.yml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 8ca5c7a9df6ec31169ec9546d36efb2522fe3c9f)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

remove unused Dockerfile for kube-job
  kustomize-units/kube-job/.dockerignore
  kustomize-units/kube-job/Dockerfile
Due: chart-generator, chart-jobs

Use specific versioning for rke2 charts
  renovate.json
Due: none

Introduce emulate_bm
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/capo-secret.yaml
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/base/helm-release.yaml
  kustomize-units/heat-operator/kustomization.yml
  kustomize-units/m3capo-cluster-resources/kustomization.yml
  kustomize-units/m3capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/m3capo-sushy/kustomization.yml
  kustomize-units/m3capo-sushy/sushy-deployment.yml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 82a4807473ef60df1e39bc4357e907e106ebfb45)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

test removed worker_az
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Move to sylva-units metal3 images defs
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Specific versioning multus
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs

os-image-server: increase timeout, leave plenty of time to download OS images in initContainer
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add metallb, calico and nginx to flux controlled units
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/metallb/kustomization.yaml
  kustomize-units/metallb/metallb-cert.yaml
  tools/oci/push-helm-charts-artifacts.sh
Due: chart-generator, chart-jobs

restore MR 568
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

remove unused cluster.worker_replicas values
  charts/sylva-units/test-values/capo-mgmt-workers/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/rke2-capv/values.yaml
Due: chart-generator, chart-jobs

Allows using FIP for workload cluster(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove sylva-units cluster.capo.*_servergroup_id values
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/os-image-server.git to v1.5.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add job to test FIP option for CAPO
  .gitlab-ci.yml
  environment-values/ci/capo-fip.yml
  environment-values/ci/m3-units-in-capo.yml
Due: chart-generator, chart-jobs

Update sylva-capi-cluster to 0.0.18
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 1b5480beeb6cf3ef7a8de9c1080b70e6e572b77a)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Reconfigure kube-jobs
  .gitlab-ci.yml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/scripts/check-rancher-clusters.sh
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/kube-job/entrypoint.sh
  kustomize-units/kube-job/job.yaml
  kustomize-units/kube-job/kube-job.sh
  kustomize-units/kube-job/kustomization.yaml
Due: chart-generator, chart-jobs

set sylva-capi-cluster enable_longhorn automatically if 'longhorn' unit is enabled
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 80326e21a6c2645ff2fa6f7fb93bd54e448c6146)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add targetNamespace for preview (restore code from MR 568)
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

docs: minor update to docs/metal3.md
  docs/metal3.md
Due: check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
