Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

deploy-preview-capd:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

deploy-preview-capd-oci:
  stage: deploy
  services:
  - name: docker:23.0.6-dind
    alias: docker
  artifacts:
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
    reports:
      junit:
      - bootstrap-cluster-units-report.xml
      - management-cluster-units-report.xml
    when: on_failure
  needs:
  ...

allow longhorn create ns
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add longhorn ns
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/longhorn.yaml
Due: chart-generator, chart-jobs

use passwords specific to each metal3 internal services
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/m3-units-in-capo.yml
  kustomize-units/metal3-init/kustomization.yaml
  kustomize-units/metal3-init/random-ironic-inspector-secret.yaml
  kustomize-units/metal3-init/random-ironic-secret.yaml
  kustomize-units/metal3-init/random-metal3-mariadb-replication-secret.yaml
  kustomize-units/metal3-init/random-metal3-mariadb-root-secret.yaml
  kustomize-units/metal3-sync-secrets/kustomization.yaml
  kustomize-units/metal3-sync-secrets/metal3-secrets.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on c4aa0ea7d9e52a4ebdfe11bc21100ff360591bea)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Change job securityContext
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/rancher-namespace.yaml
Due: chart-generator, chart-jobs

Remove useless reconcile-sylva-units at bootstrap
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

(minor) fix error message of helm-schema-validation.sh
  tools/gci-templates/scripts/helm-schema-validation.sh
Due: chart-generator, chart-jobs

Upgramde metal3 chart and ironic image
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

Bump versions of ironic and BMO
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix typo in CI
  .gitlab-ci.yml
Due: none

(minor) add end_section after debug-on-exit in gitlab CI job logs
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Add rancher dependency in kyverno inject unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Allow cross-projects CI
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 54787f2ee767e7b5c8e2093d0e705ff6160e41bb)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

upgrade sylva-capi-cluster to 0.0.19
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix circular dependency issue for bootstrap cluster on capm3
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Use the new hashicorp/vault namespace for vault image and limit version < 1.14
  kustomize-units/vault/vault.yaml
  renovate.json
Due: chart-generator, chart-jobs

Specify the sylvactl version in the logs when we use a custom version
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Fix post-deployment statement into CI
  .gitlab-ci.yml
Due: none

simplify MetalLB shared IP annotation
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test recent docker engine
  .gitlab-ci.yml
Due: none

let tools/generate_json_schema.py use a branch or commit of sylva-capi-cluster to read its schema
  tools/generate_json_schema.py
Due: none

cleanup worker_az
  .gitlab-ci.yml
  charts/sylva-units/test-values/capo-mgmt-workers/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 4693566405d87de5d5a1f3bf3e61ed1d74512b05)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Bump remote CAPO CI values tag to fix validation in main
  .gitlab-ci.yml
Due: none

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.9
  .gitlab-ci.yml
Due: none

Update dependency renovate-bot/renovate-runner to v15.61.0
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 536d0b589b6a66890fc33bfc2270d31e823625d8)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update values.yaml
  environment-values/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

Upgrade of capm3 version 1.5.0
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

Updates description
  environment-values/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

Enable Kubevirt using suse upstream helm chart
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.12.4
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove imageswap-webhook
  charts/sylva-units/values.yaml
  kustomize-units/imageswap-webhook/imageswap-config.yaml
  kustomize-units/imageswap-webhook/imageswap-webhook-cert.yaml
  kustomize-units/imageswap-webhook/kustomization.yaml
Due: chart-generator, chart-jobs

Update values.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

CAPO: refactor how cluster external IP is injected into ingress-nginx config in a workload cluster
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Align capi version with clusterctl binary in sylva-toolbox
  .gitlab-ci.yml
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Update dependency kubernetes-sigs/cluster-api-provider-vsphere to v1.8.1
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh
