Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md

add creatorID
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

Configure kind according to registry_mirrors
  .gitignore
  .gitlab-ci.yml
  README.md
  bootstrap.sh
  charts/sylva-units/templates/extras/kind.yaml
  preview.sh
  tools/kind/bootstrap-cluster.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown

add eula agreement
  charts/sylva-units/scripts/first-login-rancher.sh
Due: chart-generator, chart-jobs

add eula agreement
  charts/sylva-units/scripts/first-login-rancher.sh
  charts/sylva-units/scripts/rancher-add-keycloak-provider.sh
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-resources/keycloak-user.yaml
Due: chart-generator, chart-jobs

sops automatic decryption
  sops-howto.md
Due: check-docs-markdown

Use sylvactl in preview
  apply.sh
  tools/shell-lib/common.sh
Due: none

environment-values kustomize component to deploy sylva-core from OCI registry artifacts
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.yaml
  environment-values/components/oci-artifacts/README.md
  environment-values/components/oci-artifacts/helm-repo.yaml
  environment-values/components/oci-artifacts/kustomization.yaml
  environment-values/components/oci-artifacts/oci-repository.yaml
  environment-values/components/oci-repository/README.md
  environment-values/components/oci-repository/kustomization.yaml
  tools/oci/build-sylva-units-artifact.sh
Due: chart-generator, chart-jobs, check-docs-markdown

Change openstackclient ci-image
  .gitlab-ci.yml
  tools/openstack-cleanup.sh
Due: none

CAPO: test k8s workers in CI
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

test-new-release
  tools/shell-lib/common.sh
Due: none

change metal3 and capm3 version
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs

Add k8s version to machinetemplate
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

evolve base scripts and bootstrap code to support OCI-based deployments
  apply.sh
  bootstrap.sh
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/units.yaml
  environment-values/base/helm-release.yaml
  environment-values/components/oci-artifacts/kustomization.yaml
  preview.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

cleanup mgmt cluster ctrl plane unused volumes
  tools/openstack-cleanup.sh
Due: none

Use configurable tags
  .gitlab-ci.yml
Due: none

Add gitlab environments for capo test deployments
  .gitlab-ci.yml
Due: none

Fix permissions for sylva-admin in rancher
  .gitlab-ci.yml
  charts/sylva-units/scripts/first-login-rancher.sh
  charts/sylva-units/scripts/update-rancher-user.sh
  charts/sylva-units/values.yaml
  kustomize-units/first-login-rancher/first-login-rancher.yaml
  kustomize-units/first-login-rancher/kustomization.yaml
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

try to move past preview validation error
  charts/sylva-units/templates/sylva-units-values-debug.yaml
Due: chart-generator, chart-jobs

try
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Installation of NeuVector
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable neuvector
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Remove tiny duplicate from README
  environment-values/README.md
Due: chart-generator, chart-jobs, check-docs-markdown

remove allowed principalids
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

Suspend OCIRepositories in preview
  environment-values/preview/helm-release.yaml
Due: chart-generator, chart-jobs

simplify the resources needed to create a deployment based on OCI artifacts
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/source-repository-self.yaml
  charts/sylva-units/templates/sylva-units-values-debug.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/components/oci-artifacts/README.md
  environment-values/components/oci-artifacts/kustomization.yaml
  environment-values/components/oci-artifacts/oci-repository.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Test
  tools/report.md
  tools/trends.png
Due: check-docs-markdown

Update README for capo
  README.md
Due: check-docs-markdown

Update sylvactl (and sylva-toolbox container)
  tools/shell-lib/common.sh
Due: none

Update Helm release cert-manager to v1.11.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.7.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release openstack-cinder-csi to v2.26.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

CAPO: cinder-csi unit fails if user forgot to set volumeType
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor rewording of messages in bootstrap.sh/apply.sh/preview.sh
  apply.sh
  bootstrap.sh
  preview.sh
Due: none

Add support for offline flux deployments
  apply.sh
  bootstrap.sh
  kustomize-units/flux-system/base/kustomization.yaml
  kustomize-units/flux-system/components/common/kustomization.yaml
  kustomize-units/flux-system/offline/kustomization.yaml
  kustomize-units/flux-system/offline/manifests.yaml
  preview.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

reword shell display "Install Flux" instead of "Bootstrap Flux"
  tools/shell-lib/common.sh
Due: none

Support existing management cluster
  apply.sh
  charts/sylva-units/templates/sylva-units-values-debug.yaml
Due: chart-generator, chart-jobs

Move CI values remote kustomize branch to main
  .gitlab-ci.yml
Due: none

fix tools/gci-templates/scripts/helm-template-yamllint.sh + CAPO test values for sylva-units chart
  charts/sylva-units/test-values/capo-base/values.yaml
  tools/gci-templates/scripts/helm-template-yamllint.sh
Due: chart-generator, chart-jobs

Handle scheduled cleanup of stack already deleted by run for another stack using same tag
  .gitlab-ci.yml
Due: none
