Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

chart-generator:
  stage: generate
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  stage: test
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd: use CAPD_DOCKER_HOST instead of DOCKER_HOST
  charts/sylva-units/values.yaml
  kustomize-units/capd/kustomization.yaml
Due: chart-generator, chart-jobs

Use alpine based image for CI
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
Due: chart-generator, chart-jobs

Adjust root_volume comments and add .cluster.capo.control_plane_az var comment
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert the upgrade of CAPI to 1.4.0
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Fix preview job
  .gitlab-ci.yml
Due: none

add custom scopes
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
  kustomize-units/keycloak-auth-provider/kustomization.yaml
  kustomize-units/keycloak-resources/flux-client.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
  kustomize-units/keycloak-resources/sylva-custom-scopes.yaml
Due: chart-generator, chart-jobs

Test
  .gitlab-ci.yml
  tools/shell-lib/common.sh
Due: none

Use rke2 bootstrap provider release alpha2
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

Add variable for k8s version
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

fix rancherUrl for keycloak authentication
  kustomize-units/keycloak-auth-provider/keycloak-auth-provider.yaml
Due: chart-generator, chart-jobs

Use standard capd image with kubeadm
  charts/sylva-units/values.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capd/rke2/kustomization.yaml
Due: chart-generator, chart-jobs

Support sylva-core clone repo as GitOps source
  apply.sh
  bootstrap.sh
  environment-values/base/helm-release.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs

Do not set ntp servers for capd
  charts/sylva-units/elements/ntp-servers.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Rename registry_mirrors.tpl to registry-mirrors.tpl
  charts/sylva-units/elements/registry-mirrors.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Resolve "Simple "out of the box" capd deployment fails"
  .gitlab-ci.yml
  environment-values/kubeadm-capd/values.yaml
  environment-values/rke2-capd/values.yaml
Due: chart-generator, chart-jobs

Add support for containerd proxy on workers with kubeadm CAPO deployments
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/proxies/KubeadmConfigTemplate/kustomization.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

Add 15min to deployment jobs
  .gitlab-ci.yml
  bootstrap.sh
Due: none

Download & install sylva-toolbox binaries
  .gitignore
  README.md
  apply.sh
  bootstrap.sh
  tools/shell-lib/common.sh
Due: check-docs-markdown

Avoid setting ntp in capd workload cluster too
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

CAPO: different images for control-plane nodes and worker nodes in workload clusters
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
Due: chart-generator, chart-jobs

Remove localpath
  bootstrap.sh
Due: none

Update allow_failure rules
  .gitlab-ci.yml
Due: none

Bump k8s version
  charts/sylva-units/values.yaml
  environment-values/rke2-capd/values.yaml
Due: chart-generator, chart-jobs

vsphere refactoring
  README.md
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  environment-values/kubeadm-capv/kustomization.yaml
  environment-values/kubeadm-capv/management-cluster-capv-values.yaml
  environment-values/kubeadm-capv/values.yaml
  kustomize-units/cluster-manifests/capv-base/kustomization.yaml
  kustomize-units/cluster-manifests/capv-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kubeadm-capv-cluster.yaml
  kustomize-units/cluster-manifests/kubeadm-capv/base/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Allow use of an OCI registry artifact for Helm-based units that use 'helm_repo_url'
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Configure registry_mirror in workers nodes
  charts/sylva-units/elements/configtemplate-registry-mirrors.tpl
  charts/sylva-units/elements/controlplane-registry-mirrors.tpl
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
Due: chart-generator, chart-jobs

xtest
  .gitlab-ci.yml
  generate_test.sh
  kustomize-units/metallb/unit-tests/test.yaml
  kustomize-units/vault/unit-tests/test.yaml
Due: chart-generator, chart-jobs

Push Helm charts as OCI registry artifacts
  .gitlab-ci.yml
  charts/sylva-units/values.yaml
  tools/oci/push-helm-charts-artifacts.sh
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.7.2-rc8
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use released versions of sylvactl and sylva-toolbox
  tools/shell-lib/common.sh
Due: none

Create dedicated security groups for mgmt and workload using Heat Operator
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/cluster-manifests/capo-base/manifest.yaml
Due: chart-generator, chart-jobs

Add a unit to configure the rke2 CIS hardening
  charts/sylva-units/templates/cluster-vars.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cinder-csi-psp/cinder-csi-psp.yaml
  kustomize-units/cinder-csi-psp/kustomization.yaml
  kustomize-units/cluster-manifests/components/rke2-cis-profile/kustomization.yaml
  kustomize-units/cluster-manifests/rke2-capo/base/rke2-capo-cluster.yaml
  kustomize-units/flux-system/base/kustomization.yaml
  kustomize-units/namespace-defs/cinder-csi.yaml
  kustomize-units/namespace-defs/kustomization.yaml
Due: chart-generator, chart-jobs

OCI artifacts: sylva-units packaging and values override to use Helm charts from OCI artifacts
  .gitlab-ci.yml
  charts/sylva-units/Chart.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  tools/oci/build-sylva-units-artifact.sh
Due: chart-generator, chart-jobs

Use only http(s) git origin for SYLVA_CORE_REPO
  tools/shell-lib/common.sh
Due: none

Track sylvatoolbox with renovate
  renovate.json
Due: none

Diasbling keycloak by default because of #202
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Simplify proxies Kustomize component
  charts/sylva-units/values.yaml
  kustomize-units/cluster-manifests/components/proxies/KubeadmControlPlane/kustomization.yaml
  kustomize-units/cluster-manifests/components/proxies/RKE2ConfigTemplate/kustomization.yaml
  kustomize-units/cluster-manifests/components/proxies/kubeadm/kustomization.yaml
  kustomize-units/cluster-manifests/components/proxies/rke2/kustomization.yaml
Due: chart-generator, chart-jobs

Disable creation of workload cluster stack when workload-cluster is disabled
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

cis-operator-scan, set 'wait: false'
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add gitlab environments for capo test deployments
  .gitlab-ci.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
