Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, deploy-preview-capd, deploy-preview-capd-oci

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  deploy-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
  deploy-preview-capd-oci: any of: preview.sh, tools/shell-lib/common.sh

Issue malformed yaml
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Issue with yaml syntax
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

change logic to calculate checksum
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  environment-values/base/helm-release.yaml
  kustomize-units/kube-job/job.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, deploy-preview-capd, deploy-preview-capd-oci

typos
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

sylva-units: workload cluster, fix Kustomization namespaces
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

enable Cinder CSI in workload cluster
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Add bootcmd for sriov nodes
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Issue with var subst
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Remove bootcmd
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add bootcmd for sriov workers
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add current_grub in bootcmd
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

add additional grub settings var
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add next_grub var
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Update grub
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

more details
  README.md
Due: check-docs-markdown

Fix issue with next_grub variable
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

To make configurable control_plane_replicas for capd instead of hardcoded value
  environment-values/kubeadm-capd/values.yaml
  environment-values/rke2-capd/values.yaml
  kustomize-units/cluster-manifests/kubeadm-capd/base/kubeadm-capd-cluster.yaml
  kustomize-units/cluster-manifests/rke2-capd/base/rke2-capd-cluster.yaml
Due: chart-generator, chart-jobs

Tp make preview.sh more useful to preview the result of a change of values before running apply.sh
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

make preview.sh more useful
  preview.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

fix syntax issue
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Add Sylva daily test results on vSphere (based on 1f5a5d4af74865a31c3e3c1d9212bb0c04dd6741)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Add bootcmd for intensive workers
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add a waiting loop in force_reconcile function
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Add targetNamespace for preview
  tools/shell-lib/common.sh
Due: deploy-preview-capd, deploy-preview-capd-oci

Enable metal3 unit when infra_provider is capm3
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add copy-from-bootstrap-to-management label for OCI HelmRepository
  environment-values/components/oci-artifacts/kustomization.yaml
Due: chart-generator, chart-jobs

first commit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove metal3 from charts/sylva-units/management.values.yaml
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

revert metal3 enabled_conditions from charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Change bootstrap-local-path enable_condition in bootstrap
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Expose artifacts in MR overview
  .gitlab-ci.yml
Due: none

commit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

commit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 16ad0aa6cf1020f317901eb760716f0017b7febd)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown
