Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

chart-generator:
  stage: generate
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

test-preview-capd:
  stage: deploy
  services:
  - .common-deployment
  - services
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - - .common-deployment
    - oci_configuration
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
  ...

Use 0.8.1 instead of v0.8.1 for external-secret-operator
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor cleanup of tools/oci/push-helm-charts-artifacts.sh
  tools/oci/push-helm-charts-artifacts.sh
Due: none

set OCI_REGISTRY variable from CI_REGISTRY_IMAGE
  .gitlab-ci.yml
  tools/oci/build-kustomize-units-artifact.sh
Due: none

Add manifest validation tests
  .gitignore
  test/go.mod
  test/go.sum
  test/sylva_test.go
  test/sylva_units_test.go
  test/tools/cmd.go
  test/tools/decode_k8s.go
  test/tools/flux.go
  test/tools/helm.go
  test/tools/utils.go
  test/units_validation/capo_base.yaml
  test/units_validation/capo_rootVolume.yaml
  test/units_validation/unit_name_typo.yaml
Due: none

Cluster-autoscaler initial doc
  docs/cluster-autoscaler.md
Due: check-docs-markdown

Update sylvactl to 0.1.4
  tools/shell-lib/common.sh
Due: test-preview-capd

remove unused update-rancher-admin unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove unused unit from the sylva helm chart
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Cosmetic readymessage correction
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test refactored sylvactl
  tools/shell-lib/common.sh
Due: test-preview-capd

Fix invalid semver version for helm charts
  .gitlab-ci.yml
  tools/oci/build-sylva-units-artifact.sh
  tools/oci/push-helm-charts-artifacts.sh
Due: none

typo vault.yaml
  charts/sylva-units/values.yaml
  kustomize-units/vault-secrets/kustomization.yaml
  kustomize-units/vault-secrets/random-rancher-secret.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Enable SSO login for Flux webUI
  charts/sylva-units/scripts/keycloak-add-client-scope.sh
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/keycloak-oidc-external-secrets/eso-flux-webui-oidc.yaml
  kustomize-units/keycloak-oidc-external-secrets/kustomization.yaml
  kustomize-units/keycloak-resources/flux-webui-client.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
  kustomize-units/sylva-ca-certs/flux-webui-tls.yaml
  kustomize-units/sylva-ca-certs/kustomization.yaml
Due: chart-generator, chart-jobs

Improve CI cleanup
  .gitlab-ci.yml
  tools/openstack-cleanup.sh
Due: none

Update Helm release cert-manager to v1.12.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix typo in scheduled cleanup
  .gitlab-ci.yml
Due: none

have curl fail early if the sylvactl image cannot be downloaded
  tools/shell-lib/common.sh
Due: test-preview-capd

Debug
  .gitlab-ci.yml
Due: none

Update sylvactl to v0.1.5
  tools/shell-lib/common.sh
Due: test-preview-capd

cinder-csi* units need to depend on the definition of cinder-csi namespace
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.24.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v12.5.5
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Typo cleanups: Cosmetic fix for kustomization
  charts/sylva-units/bootstrap.values.yaml
  environment-values/README.md
  kustomize-units/kube-job/kube-job.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

add comment keycloak client secret
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-oidc-external-secrets/eso-flux-webui-oidc.yaml
Due: chart-generator, chart-jobs

Update Helm release vault-config-operator to v0.8.15
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

specify h/w requirements
  README.md
Due: check-docs-markdown

Update Helm release external-secrets to v0.8.3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 22811e85844001cdc4643c45a57a9599e74909f8)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

refactor sylva-units chart to make it usable for workload clusters
  charts/sylva-units/README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/test-values/bootstrap/management.values.yaml
  charts/sylva-units/test-values/capo-base/management.values.yaml
  charts/sylva-units/test-values/management/management.values.yaml
  charts/sylva-units/test-values/nested-templating/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  tools/gci-templates/scripts/helm-template-yamllint.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

Cleanup environment-values/kubeadm-capv/values.yaml
  environment-values/kubeadm-capv/values.yaml
Due: chart-generator, chart-jobs

sylva-units Helm chart: fix test values
  charts/sylva-units/test-values/capo-base/values.yaml
  charts/sylva-units/test-values/capo-mgmt-workers/capo-base.values.yaml
  charts/sylva-units/test-values/capo-rootVolume/capo-base.values.yaml
Due: chart-generator, chart-jobs

fix vault-config-operator not deploying, dependency on 'monitoring' unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-units / tests cleanup: no need to override values to test bootstrap.values.yaml
  charts/sylva-units/test-values/bootstrap/helm-release.yaml
Due: chart-generator, chart-jobs

keycloak-legacy-operator needs to depend on vault-secrets unit
  charts/sylva-units/values.yaml
  kustomize-units/keycloak-legacy-operator/external-keycloak.yaml
Due: chart-generator, chart-jobs

add dependencies related to keycloak-initial-admin
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency to-be-continuous/gitleaks to v2.2.0
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on bf88c6bd0260c7736b4e8ab43a3ed26ad76023de)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

generate a random secret in vault for Rancher local admin account and configure rancher accordingly
  charts/sylva-units/values.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
  kustomize-units/synchronize-secrets/rancher-bootstrap-secret.yaml
  kustomize-units/vault-secrets/kustomization.yaml
  kustomize-units/vault-secrets/random-rancher-secret.yaml
Due: chart-generator, chart-jobs

re-enable workload-cluster and check-rancher-clusters units in mgmt cluster if env_type_ci is set
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  test-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
