Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

chart-generator:
  stage: generate
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

test-preview-capd:
  stage: deploy
  services:
  - .common-deployment
  - services
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - - .common-deployment
    - oci_configuration
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
  ...

Add MD for rke2
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/weaveworks/weave-gitops.git to v0.26.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Issue with var subst in worker-sriov
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add kind cluster CIDRs to no_proxy #333
  README.md
  kustomize-units/flux-system/components/common/kustomization.yaml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs, check-docs-markdown

transform 'workload-cluster-longhorn*' units into new 'longhorn*' units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

tools/oci/push-helm-charts-artifacts.sh: don't produce artifact for units that use sylva-units
  tools/oci/push-helm-charts-artifacts.sh
Due: none

update README.md about workload-cluster
  README.md
Due: check-docs-markdown

integrate longhorn in workload-cluster.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

workload-capo-cluster-resources: define HeatStack in workload-cluster namespace
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/namespace-defs/kustomization.yaml
  kustomize-units/namespace-defs/workload-cluster.yaml
  kustomize-units/workload-cluster-cloud-config/kubernetes-default-ns-secretstore.yaml
  kustomize-units/workload-cluster-cloud-config/kustomization.yaml
  kustomize-units/workload-cluster-cloud-config/workload-cluster-cloud-config-secret.yaml
Due: chart-generator, chart-jobs

make check-rancher-clusters aware that workload cluster is in 'workload-cluster' ns
  charts/sylva-units/scripts/check-rancher-clusters.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

transform 'workload-cluster-sriov*' units into new 'sriov*' units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

debug-on-exit: dump Flux resources in all namespaces
  tools/shell-lib/debug-on-exit.sh
Due: none

rework 'worload-cluster-multus' unit as a 'multus' unit, and integrate it into workload-cluster values
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

factorize dependencies common to most units into a unit_template
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

sylva-units: add workload-cluster.values.yaml Helm value file, for instantiating a workload cluster
  charts/sylva-units/test-values/workload-cluster/workload-cluster.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

integrate SRIOV plugin and SRIOV resources in workload-cluster.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

remove now-unused workload-cluster-(calico|monitoring)* units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

rework 'workload-cluster-import' unit into a 'cluster-import' unit and integrate it in workload-cluster
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/cluster-import/cluster-provisioning-rancher.yaml
Due: chart-generator, chart-jobs

redefine 'workload-cluster' unit to use sylva-units
  charts/sylva-units/test-values/capo-base/values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

pass metallb_helm_oci_url to workload-cluster Helm release
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

upgrade Kyverno to v1.10
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

point to a tag of CAPO CI environment values adapted to the use of sylva-units for the workload cluster
  .gitlab-ci.yml
Due: none

Comment sriov MD
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

need a local-path-storage named local-path for bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
  kustomize-units/bootstrap-local-path/bootstrap-local-path.yaml
  kustomize-units/bootstrap-local-path/kustomization.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.7
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
Due: chart-generator, chart-jobs

Fix keycloak-add-client-scope unit condition
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix ironic security group for capo management cluster
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add sriov MD
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add unit timeline report
  .gitlab-ci.yml
  bootstrap.sh
  charts/sylva-units/bootstrap.values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, test-preview-capd

Expose timeline report in environment
  .gitlab-ci.yml
Due: none

Update Helm release external-secrets to v0.9.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

renovate: group packages for sriov(-crd) and longhorn(-crd)
  renovate.json
Due: none

metal3: add tooling to deploy and serve OS images
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve how we wait for the cluster to be ready
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add templates for issues and MRs
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Default.md
  .gitlab/merge_request_templates/Default.md
Due: check-docs-markdown

Fix a typo in renovate.json
  renovate.json
Due: none

Issue yaml malformed
  kustomize-units/cluster-manifests/rke2-capm3/base/rke2-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  test-preview-capd: any of: preview.sh, tools/shell-lib/common.sh
