Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, test-preview-capd

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
  test-preview-capd: any of: preview.sh, tools/shell-lib/common.sh

Use a random secret in vault for Flux-WebGui local admin account
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/synchronize-secrets/flux-webui-cluster-user-auth.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
  kustomize-units/vault-secrets/kustomization.yaml
  kustomize-units/vault-secrets/random-flux-webui-secret.yaml
Due: chart-generator, chart-jobs

fix bootstrap lcaol path unit name
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Add per unit timeout
  apply.sh
  bootstrap.sh
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, test-preview-capd

disable capo-cluster-resourceswq!
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

enable capo-cluster-resources
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

chore(deps): update dependency https://github.com/weaveworks/weave-gitops.git to v0.25.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Sylva-units HelmReleases: Don't let Flux remove releases
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix bootstrap-local-path
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

add missing port for ironic and unit for ironic bootstrap port
  charts/sylva-units/bootstrap.values.yaml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on a58803c8f580d3cead468600de4913e347cf9740)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

bump rke2 bootstrap provider
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

Add sriov
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update depends_on
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

create a k8s secretstore allowing to distribute the sylva ca cert file in NS with proper name
  charts/sylva-units/values.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/sylva-ca/kustomization.yaml
  kustomize-units/vault/eso-sylva-ca-vault.yaml
  kustomize-units/vault/kustomization.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Upgrade to sylvactl 0.1.7
  tools/shell-lib/common.sh
Due: test-preview-capd

Use node IP for Ironic service in bootstrap
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

untaint master
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 24cbcd77b1476ea92f523fb297f12674c1a9219d)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Add external_bootstrap_ip
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Add md for basic workers
  kustomize-units/cluster-manifests/capm3-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
Due: chart-generator, chart-jobs

minor: improve message display for tools/openstack-cleanup.sh
  tools/openstack-cleanup.sh
Due: none

chore(deps): update container-images/sylva-toolbox docker tag to v0.1.6
  tools/shell-lib/common.sh
Due: test-preview-capd

Upgrade capd-for-rke2
  kustomize-units/capd/rke2/kustomization.yaml
Due: chart-generator, chart-jobs

Minor changes to the CI
  .gitlab-ci.yml
Due: none

kubeadm-capo, untaint control nodes
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: chart-generator, chart-jobs

add var for HeatStack.spec.namePrefix
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
Due: chart-generator, chart-jobs

rename heat-operator stack for management cluster
  .gitlab-ci.yml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: none

Add md for network intensive workers
  kustomize-units/cluster-manifests/capm3-base/manifest.yaml
  kustomize-units/cluster-manifests/kubeadm-capm3/base/kubeadm-capm3-cluster.yaml
Due: chart-generator, chart-jobs

fix pivot
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Trunc password for Mariadb from Metal3 to 32 characters
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add security group on capo for ironic on management cluster if workload cluster on baremetal
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yml
  kustomize-units/cluster-manifests/components/capo-ironic-sec-group/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 37f869e080ed1445feb708b7f40329c48bb3c0b5)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Expose ironic in bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs

remove sops-howto
  sops-howto.md
Due: check-docs-markdown

switch to debug ipa image
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

capo pin CI COMPONENT REPO
  .gitlab-ci.yml
Due: none

CI: ensure that we take an IPv4 address as DOCKER_IP
  .gitlab-ci.yml
Due: none

add security policy
  SECURITY.md
Due: check-docs-markdown

Minor changes in the CAPD cluster deployment doc
  README.md
Due: check-docs-markdown
