Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown

chart-generator:
  stage: generate
  script:
  - echo "Generate a job for each modified charts"
  - ./tools/gci-templates/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: generate
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  stage: test
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

Add how-to for capv
  README.md
  environment-values/kubeadm-capv/management-cluster-capv-values.yaml
Due: check-docs-markdown

reflect the move from the private project to sylva-projects/sylva-core
  .gitlab-ci.yml
  charts/sylva-units/values.yaml
  docs/How-tos.md
  environment-values/README.md
  environment-values/base/helm-release.yaml
  kustomize-units/imageswap-webhook/imageswap-config.yaml
  sops-howto.md
Due: chart-generator, chart-jobs, check-docs-markdown

reflect move to sylva-elements
  .gitlab-ci.yml
  charts/sylva-units/README.md
  charts/sylva-units/values.yaml
  docs/How-tos.md
  environment-values/README.md
  environment-values/kubeadm-capd/hacks.sh
  environment-values/kubeadm-capd/values.yaml
  environment-values/rke2-capd/hacks.sh
  environment-values/rke2-capd/values.yaml
  tools/gci-templates/gitlab-ci.yml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown

Add a note to README to explain current status
  README.md
Due: check-docs-markdown

Remove authentication for monitoring
  charts/sylva-units/values.yaml
  kustomize-units/monitoring/management.yaml
  kustomize-units/monitoring/workload.yaml
Due: chart-generator, chart-jobs

Add metal3 docs
  docs/img/metal3_sylva_architecture.png
  docs/img/metal3_sylva_components.png
  docs/img/metal3_sylva_enrollment.png
  docs/img/metal3_sylva_provisioning.png
  docs/metal3.md
Due: check-docs-markdown

cleanup git_repo_templates / don't use auth for public repos
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix linting, minor fixes
  docs/metal3.md
Due: check-docs-markdown

Use images from sylva-elements
  charts/sylva-units/values.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs

Add kustomize build step in CI
  .gitlab-ci.yml
  tools/gci-templates/gitlab-ci.yml
  tools/gci-templates/scripts/generate-pipeline.sh
Due: chart-generator, chart-jobs

Remove extra tag in capd image
  kustomize-units/capd/kustomization.yaml
Due: none

Fix flux readyness check
  apply.sh
  bootstrap.sh
Due: none

Improve sylva-units chart README.md
  charts/sylva-units/README.md
  docs/img/capi-bootstrap-overview.drawio.png
  docs/img/sylva-units-overview.drawio.png
  docs/img_src/capi-bootstrap-overview.drawio
  docs/img_src/sylva-units-overview.drawio
Due: chart-generator, chart-jobs, check-docs-markdown

remove trailing fixme comment
  kustomize-units/kube-job/job.yaml
Due: none

simplify conditionals related to the 'workload-cluster' unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use ceph-csi-ssd for raft
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

schema validation post Helm/GoTPL interpretation
  tools/schema-validation/chart-values-full-validation.sh
  tools/yaml-merge.py
Due: none

run debug-on-exit right before CI job timeout
  .gitlab-ci.yml
  bootstrap.sh
  tools/shell-lib/common.sh
Due: none

remove bogus containerd config in cluster-manifests/components/proxies/KubeadmControlPlane
  kustomize-units/cluster-manifests/components/proxies/KubeadmControlPlane/kustomization.yaml
Due: none

Remove default auth for repository & registry
  .gitlab-ci.yml
  README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/registry-secret.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
  environment-values/kubeadm-capd/git-secrets.env
  environment-values/kubeadm-capd/kustomization.yaml
  environment-values/kubeadm-capo/git-secrets.env
  environment-values/kubeadm-capo/kustomization.yaml
  environment-values/kubeadm-capv/git-secrets.env
  environment-values/kubeadm-capv/kustomization.yaml
  environment-values/rke2-capd/git-secrets.env
  environment-values/rke2-capd/kustomization.yaml
  environment-values/rke2-capo/git-secrets.env
  environment-values/rke2-capo/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

bootstrap & lifecycle diagram addition
  docs/img/Sylva_capi_boot_diagram-LCM-overview.png
  docs/img_src/Sylva_capi_boot_diagram-LCM-overview.drawio
Due: none

Extend renovate configuration to detect gci-template/gitlab-ci.yml file
  renovate.json
Due: none

Add sylva units validation for management cluster
  .gitlab-ci.yml
  bootstrap.sh
  preview.sh
  tools/shell-lib/common.sh
Due: none

Run kubectl kustomize if the current kustomization or local dependencies are changed
  tools/gci-templates/scripts/generate-pipeline.sh
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api-provider-openstack to v0.7.0
  kustomize-units/capo/kustomization.yaml
Due: none

add local path provisioner
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

vault with local-path-provisionner
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add mariadb storage class
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

do not enforce sub-schema on a unit if "enabled: false"
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Remove cabpr manager resource limits
  kustomize-units/cabpr/kustomization.yaml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/metal3.md
Due: check-docs-markdown

update readme for capd deployments
  README.md
Due: check-docs-markdown

Remove old auth section
  README.md
Due: check-docs-markdown

test
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: none

Revert "test"
  kustomize-units/cluster-manifests/kubeadm-capo/base/kubeadm-capo-cluster.yaml
Due: none

Add local persistent volume to kubeadm deployment
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release ingress-nginx to v4.5.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-units: add "sylva-units-status" Kustomization
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/status-kustomization.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/sylva-units-status/configmap.yaml
Due: chart-generator, chart-jobs

use local path provisioner for vault data-storage
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

"use local path provisioner for metal3 storage"
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, tools/gci-templates/**/*
  chart-jobs: any of: charts/**/*, tools/gci-templates/**/*, tools/yaml2json.py
  check-docs-markdown: any of: **/*.md
