Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Test
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 54fe662cb7a3d4248469883cf830428c490070b4)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

OCI-base deployments: make it possible to pick the base OCI registry URL via environment variables
  .gitignore
  .gitlab/ci/main-pipeline-checks.yml
  environment-values/components/oci-artifacts/helm-repo.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

Update renovate configuration for sylvatoolbox
  renovate.json
Due: none

Add sylva-dashboards unit
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix gitleak for cross repo
  .gitlab-ci.yml
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
Due: none

Bump metal3-suse unit version to 0.5.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

replace jq with yq for test_no_sso section
  .gitlab/ci/templates-deployments.yml
Due: none

use reworked Longhorn and adjust doc for it; introduce CI jobs for RKE2 node annotations
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  docs/longhorn-in-baremetal.md
  docs/longhorn-node-annotations.md
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capo/values.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs, check-docs-markdown

address review
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  docs/longhorn-in-baremetal.md
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

implement capm3-kubeadm-virt job to test Longhorn in Equinix CI
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  docs/longhorn.md
  environment-values/ci/suse-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-kubeadm-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs, check-docs-markdown

update CI openSUSE images
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/suse-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-kubeadm-capm3-virt-wkld.yml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 8fde65e219510515e306544b7cdf8059833dad5f)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Document Neuvector
  docs/img/security/neuvector-dashboard.png
  docs/img/security/neuvector-login.png
  docs/img/security/neuvector-network-activity.png
  docs/img/security/neuvector-oidc-redirect.png
  docs/security.md
Due: check-docs-markdown

add missing depends_on namespace-defs
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use deepCopy on various source arguments of mergeOverwrite
  charts/sylva-units/templates/extras/kind.yaml
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

os-images-info - add "insecure" option to oras
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add cluster-garbage-collector SA RBAC for Event resources
  kustomize-units/cluster-garbage-collector/rbac.yaml
Due: chart-generator, chart-jobs

remove unused kustomize-units/namespace-defs/components/workload-cluster
  kustomize-units/namespace-defs/components/workload-cluster/kustomization.yaml
  kustomize-units/namespace-defs/components/workload-cluster/workload-cluster-namespace.yaml
Due: chart-generator, chart-jobs

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.2.4
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

don't propagate kind pods/subnet prefixes from bootstrap to mgmt Flux installation
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/templates/proxy-env.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 8dbcf32a7fd29db2eba5fc8fb1e139a1070144b0)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update Helm release postgresql to v13.4.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.53.3
  .gitlab-ci.yml
Due: none

Modify values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 5711a6887f0a4a9232bc2d522f03e89478f17535)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify values
  charts/sylva-units/management.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

enabled longhorn
  environment-values/ci/ci-enabled-units.yml
Due: chart-generator, chart-jobs

yamllint fix
  environment-values/ci/ci-enabled-units.yml
Due: chart-generator, chart-jobs

lint fix
  environment-values/ci/ci-enabled-units.yml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Modify values
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Add enableBMHNameBasedPreallocation flag
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/kube-job Docker tag to v1.0.8
  kustomize-units/cluster-garbage-collector/xtemplate-cleaner-cronjob.yaml
Due: chart-generator, chart-jobs

don't let users choose admin_password
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update container-images/sylva-toolbox Docker tag to v0.3.3
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
