Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Add Sylva daily test results on vSphere (based on ca60555d817ed53586e1b9a4e5f75ef9ed9200ac)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on ca60555d817ed53586e1b9a4e5f75ef9ed9200ac)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency gitlab.com/sylva-projects/sylva-elements/sylva-units-operator to v0.1.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/sylva-units-operator/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 30a98551edfda9f64247e9a5977569f54acc9b3b)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.148.1
  .gitlab-ci.yml
Due: none

Fix CAPD: remove flag no more handled
  kustomize-units/capd/base/kustomization.yaml
Due: chart-generator, chart-jobs

Use 1.27
  environment-values/rke2-capd/values.yaml
Due: chart-generator, chart-jobs

capd: pin controller image tag (kubeadm)
  kustomize-units/capd/base/kustomization.yaml
Due: chart-generator, chart-jobs

rename library
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

sylva-library module
  .gitmodules
  charts/sylva-units/Chart.yaml
Due: chart-generator, chart-jobs

enable submodule init
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

new path
  charts/sylva-units/Chart.yaml
Due: chart-generator, chart-jobs

remove submodule
  .gitmodules
  charts/sylva-units/Chart.yaml
Due: chart-generator, chart-jobs

add sylva-library
  .gitmodules
Due: none

Re-enable tls in metal3-suse
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

capo: ensure that Heat stack is always updated on a Sylva update
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on da23495ec29658e999c6040b5affd7809ebfb7b7)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Align metal3-suse ironicIP with metal3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add ExternalSecrets to debug-on-exit.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

helm ignore
  charts/sylva-units/.helmignore
Due: chart-generator, chart-jobs

add recurseSubmodules for c-c-c
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-library exception
  charts/sylva-units/.helmignore
Due: chart-generator, chart-jobs

Revert HA in capm3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add better exit conditions to get-openstack-images
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

wc to workload cluster
  tools/workload-cluster-cleanup.sh
Due: none

add missing flow between bmh nodes and metal3-ironic
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yaml
Due: chart-generator, chart-jobs

Add verification step in FluxCD OCIRepository definition
  bootstrap.sh
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/components/oci-artifacts-signed/cosign-public-keys.yaml
  environment-values/components/oci-artifacts-signed/kustomization.yaml
  kustomize-units/flux-system/components/cosign/cosign-public-keys.yaml
  kustomize-units/flux-system/components/cosign/kustomization.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

Add leader-elect args on capm3 controller-manager deployment
  kustomize-units/capm3/components/ha/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/bank-vaults/vault-operator.git to v1.22.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Use per-namespace credentials for loki and thanos
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/credentials-secret/kustomization.yaml
  kustomize-units/credentials-secret/secret.yaml
  kustomize-units/kyverno-policies/components/loki-aggregated-secrets/kustomization.yaml
  kustomize-units/kyverno-policies/components/loki-aggregated-secrets/loki-aggregated-secrets.yaml
  kustomize-units/kyverno-policies/components/thanos-aggregated-secrets/kustomization.yaml
  kustomize-units/kyverno-policies/components/thanos-aggregated-secrets/thanos-aggregated-secrets.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Force leader election for capm3 controller
  kustomize-units/capm3/components/ha/kustomization.yaml
Due: chart-generator, chart-jobs

Test OCIRepository verify templating
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
Due: chart-generator, chart-jobs

regroup sylva-toolbox updates
  renovate.json
Due: none

test
  charts/sylva-units/.helmignore
Due: chart-generator, chart-jobs

test ci
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

fix indentation
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

enable submodule in CI
  .gitlab-ci.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
