Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

sylva-units:helm-lint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - helm lint charts/sylva-units

sylva-units:helm-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  ...

sylva-units:helm-template-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - ./tools/validation/helm-template-yamllint.sh
  variables:
  ...

kustomize-lint:
  stage: test
  needs: []
  interruptible: true
  script:
  ...

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.25
  .gitlab/ci/common.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

comment
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

enable grafana-init
  charts/sylva-units/scripts/keycloak-add-realm-role.sh
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add owner check before delete
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: kustomize-lint

lint
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update misc-units-in-capo.yml
  environment-values/ci/misc-units-in-capo.yml
Due: kustomize-lint

remove t1 var
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: kustomize-lint

Update kustomization.yaml
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

Update 3 files
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

Update 4 files
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

typo mistake
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

branch name
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

undo changes
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

capo proxy
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

typo identation issue
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
Due: kustomize-lint

Security tests: running kube-score on cluster dump
  .gitlab/ci/tests/security/kubescore.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

prevent use of main tag for images
  kustomize-units/kyverno-policies/generic/tag.yaml
Due: kustomize-lint

drop the need to manually express immutable value path
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/templates/sylva-units-values.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

polishing out with SVG format diagrams embedded in Markdown using mermaid-cli; add arg to Go tool for defining multiple occurences of --skipUnit for sending KS name; add tool README
  charts/sylva-units/docs/unit-dependency-diagrams/README.md
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-1.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-2.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-3.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-4.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-5.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-6.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-7.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster-8.svg
  charts/sylva-units/docs/unit-dependency-diagrams/bootstrap-cluster.md
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-1.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-2.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-3.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-4.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-5.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-6.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-7.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster-8.svg
  charts/sylva-units/docs/unit-dependency-diagrams/management-cluster.md
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-1.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-2.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-3.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-4.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-5.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-6.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-7.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster-8.svg
  charts/sylva-units/docs/unit-dependency-diagrams/workload-cluster.md
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.md
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.md
  tools/unit-dependency-diagram/diagram.go
  tools/unit-dependency-diagram/main.go
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

polishing out with SVG format diagrams embedded in Markdown using mermaid-cli; add arg to Go tool for defining multiple occurences of --skipUnit for sending KS name; add tool README
  tools/unit-dependency-diagram/diagram.go
Due: none

refactoring to print colors from link to source dependency
  tools/unit-dependency-diagram/diagram.go
Due: none

Update kube-state-metrics flux config
  kustomize-units/prometheus-flux/csm-config.yaml
Due: kustomize-lint

remove grafana-init from wc
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/misc-units-in-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update file management.values.yaml
  charts/sylva-units/management.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

add depends_on
  charts/sylva-units/management.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

New branch changes for capa infra provider
  charts/sylva-units/management.values.yaml
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/cabpe/kustomization.yaml
  kustomize-units/capa/credentials.yaml
  kustomize-units/capa/infrastructure-components.yaml
  kustomize-units/capa/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Modify - change in healthcheck
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

change in healthcheck-2
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Removing cloud-formation-operator unit
  charts/sylva-units/management.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Adding proxy in capi-deployment
  charts/sylva-units/values.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Changes in proxy patching
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

Enable cluster resource set in capi
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency https://github.com/kubernetes/cloud-provider-vsphere.git to v1.30.1
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update 2 files
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update file misc-units-in-capo.yml
  environment-values/ci/misc-units-in-capo.yml
Due: kustomize-lint

Update dependency kubernetes-sigs/cluster-api-provider-openstack to v0.9.1
  kustomize-units/capo/kustomization.yaml
Due: kustomize-lint

Fail cleanly on a non-existent unit
  charts/sylva-units/templates/_helpers.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Test loop.
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Small fix
  charts/sylva-units/templates/_helpers.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
