Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Disable tls for IPA on metal3-suse
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use renovate preset
  renovate.json
Due: none

Align SRIOV Rancher charts with the rancher version
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs, check-docs-markdown

Longhorn Document to update nodeAnnotation example to avoid validations error
  docs/longhorn.md
Due: check-docs-markdown

Improve testability and robustness for get-openstack-images
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.2.5
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

bump sylva-capi-cluster to 0.1.47
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

let 'cluster-import' unit depend on 'cluster-reachable'
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

libvirt-metal bootstrap: have 'cluster' unit depend on 'libvirt-metal' unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Update container-images/sylva-toolbox Docker tag to v0.3.8
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Regroup rancher logging updates
  renovate.json
Due: none

Update dependency renovate-bot/renovate-runner to v17.102.0
  .gitlab-ci.yml
Due: none

Copy ocirepository from bootstrap cluster to management cluster
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Kyverno policy to add bond_miimon option to metal3 networkData
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
  kustomize-units/kyverno-policies/patch-bond-policy.yaml
Due: chart-generator, chart-jobs

capo - increase CI resources
  environment-values/ci/private/falcon-base/values.yaml
Due: chart-generator, chart-jobs

Allow os_images.x.uri to be a string with gotpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

disable Neuvector scanner
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/security.md
Due: chart-generator, chart-jobs, check-docs-markdown

make schema stricter for monitoring.thanos_receive_url and logging.loki_url
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Enable metallb updates
  renovate.json
Due: none

Fix addition of Ironic rule to the capo security group
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release metal3 to v0.6.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

annotate namespace-defs namespaces to disable pruning
  kustomize-units/namespace-defs/kustomization.yaml
Due: chart-generator, chart-jobs

deploy libvirt-metal in sylva-system namespace
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

add ingress-nginx dependency on libvirt-metal unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Test upgrade from git revision to another
  .gitlab/ci/child-pipeline-default.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
Due: none

Increase kyverno controllers memory limits
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

let "sylva-prometheus-rules" unit depend on "monitoring" unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Disable prevent deletion policy from bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/prevent-deletion.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
Due: chart-generator, chart-jobs

Loosen up the oci url to support custom built images
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/sylva-os-images.md
Due: chart-generator, chart-jobs, check-docs-markdown

Allow pod in default ns in bootstrap cluster
  kustomize-units/kyverno-policies/components/management-cluster-only/default-namespace.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
Due: chart-generator, chart-jobs

capm3: move BareMetalHosts into new 'cluster-bmh' unit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Improve output of `get-wc-kubeconfig-from-rancher.sh`
  tools/shell-lib/get-wc-kubeconfig-from-rancher.sh
Due: none

Use per-namespace credentials for loki and thanos
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Run git pull after changing to a given revision
  .gitlab/ci/templates-deployments.yml
Due: none

Run capm3 test on docker executor runner
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
Due: none

Increase server resources for capm3 jobs
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Sign Helm charts pushed in the OCI registry
  docs/cosign.md
  docs/img/cosign-gitlab-variables.png
  tools/oci/push-helm-charts-artifacts.sh
Due: check-docs-markdown

Update sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.8
  .gitlab/ci/common.yml
Due: none
