Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Apply suggestion
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

Apply 2 suggestion(s) to 2 file(s)
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Sanitize image name
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update d-i-b tag
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update schema
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Add cm for s-c-c
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/templates/os-images.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Set default image to Ubuntu plain
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add image format
  charts/sylva-units/templates/os-images.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Move logic inside cm template
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/os-images.yaml
  charts/sylva-units/templates/sylva-diskimage-builder-images.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add cm
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/sylva-diskimage-builder-images.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert "Update schema"
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Move job to sylva-system ns
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add the user provided info to the image details
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

Add unit info
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply comments
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/templates/os-images-configmap.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Move cm back as patch
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/templates/os-images-configmap.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Patch job
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add diskimage_builder values
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Update images
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update job checksum
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update script
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

Remove image format and filename as they are already specified in the manifest
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Change path
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add properties to schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Update schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Generate documentation
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Set internal
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update docs
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Update d-i-b version
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

have Renovate look at v102 tags for rancher Helm charts
  renovate.json
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tools/oci/push-helm-charts-artifacts.sh
Due: none

leverage mktemp in artifact_integrity
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Minor renovate cleanup
  renovate.json
Due: none

Feed diskimage-builder OS images metadata to os-image-server (dynamic configmap for os-images)
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add CAPV ServiceAccount
  kustomize-units/capv/kustomization.yaml
  kustomize-units/capv/serviceaccount.yaml
Due: chart-generator, chart-jobs

Test sriov
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Change default IPs
  README.md
  charts/sylva-units/values.yaml
  docs/security.md
  tools/kind/bootstrap-cluster.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
