Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

sylva-units:helm-lint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - helm lint charts/sylva-units

sylva-units:helm-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  ...

sylva-units:helm-template-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - ./tools/validation/helm-template-yamllint.sh
  variables:
  ...

kustomize-lint:
  stage: test
  needs: []
  interruptible: true
  script:
  ...

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

try github.com/mermaid-js/mermaid-cli for workload
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-1.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-2.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-3.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-4.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-5.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-6.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-7.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg-8.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

test mmd to pdf transformation
  charts/sylva-units/images/unit-dependency-diagrams/test.pdf
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Fix race between rancher-webhook-replicas and pdb-minavailable-check kyverno policies
  charts/sylva-units/values.yaml
  kustomize-units/rancher-init/components/webhook-ha/webhook-replicas-policy.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

test mmd to pdf transformation: -i workload-cluster.md -e pdf -o workload-cluster.pdf.md
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-1.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-2.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-3.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-4.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-5.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-6.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-7.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf-8.pdf
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.pdf.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update Helm release vault-config-operator to v0.8.27
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Set MetalLB ignoreExcludeLB for cabpk deployed cluster
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Test rolling upgrade through CI
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/rke2-capm3-virt/ha.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-prometheus-rules.git to v0.0.10
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add replias, storage and pdb for Alertmanager
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

some other dot svg
  charts/sylva-units/images/unit-dependency-diagrams/dot-try.svg
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

introduce _internal.cluster_virtual_ip
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/base/helm-release.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update groups-keys.sh
  tools/security/groups-keys.sh
Due: none

Remove base-deps from vsphere-cpi
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update file groups-keys.sh
  tools/security/groups-keys.sh
Due: none

Add extra enabled-condition for alertmanager-config secret
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Adding strategy for rolling upgrade
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: kustomize-lint

Removing irrelevant comment
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: kustomize-lint

new line at eof
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: kustomize-lint

test
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

test
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: kustomize-lint

test
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: kustomize-lint

Update path for alertmanager.alertmanagerSpec.useExistingSecret
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

update cosign.md
  docs/cosign.md
  tools/security/groups-keys.sh
Due: check-docs-markdown

add sylva-logging-flows
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

update cosign.md
  docs/cosign.md
Due: check-docs-markdown

Update example struct for monitoring.alertmanager.config
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

sylva-units: delete-workload-cluster fixes
  charts/sylva-units/templates/delete_hook.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

update help
  docs/cosign.md
  tools/security/groups-keys.sh
Due: check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-snmp-resources.git to v0.0.7
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Remove dependencies from vsphere-cpi workload unit
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

add sylva-library dependency and use get_image_key to determine os_image override add verification if CP and MD OS mismatch we stop deployment
  charts/sylva-units/Chart.yaml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  tools/kind/bootstrap-cluster.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

have mgmt cluster Fluentd push logs to Loki directly via local Loki service
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

hotfix: mdx interpreter sees wrongfully placed HTML/custom tag
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.2.7
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update gcr.io/k8s-staging-cluster-api/capd-manager Docker tag to v1.6.5
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

Update dependency kubernetes-sigs/cluster-api to v1.7.2
  charts/sylva-units/units-description.md
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

kyverno in basedeps
  charts/sylva-units/management.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

loop
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
