Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

sylva-units:helm-lint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - helm lint charts/sylva-units

sylva-units:helm-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  ...

sylva-units:helm-template-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - ./tools/validation/helm-template-yamllint.sh
  variables:
  ...

kustomize-lint:
  stage: test
  needs: []
  interruptible: true
  script:
  ...

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Bump alertmanager resources tag
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Test larger libvirt-metal storage
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-snmp-resources.git to v0.0.7
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-alertmanager-resources.git to v0.0.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

remove unused docs
  docs/img/security/cis-report.png
  docs/img/security/cis-result.png
  docs/img/security/dt-component-vulns.png
  docs/img/security/dt-projects.png
  docs/img/security/keycloak-group-members.png
  docs/img/security/keycloak-groups.png
  docs/img/security/keycloak-idp.png
  docs/img/security/keycloak-ldaps-sync.png
  docs/img/security/keycloak-login.png
  docs/img/security/keycloak-ui.png
  docs/img/security/keycloak-user-federation-ldaps-config.png
  docs/img/security/keycloak-user.png
  docs/img/security/neuvector-dashboard.png
  docs/img/security/neuvector-login.png
  docs/img/security/neuvector-network-activity.png
  docs/img/security/neuvector-oidc-redirect.png
  docs/img/security/role-binding.png
  docs/img/security/sylva-rbac.jpg
  docs/img/security/vault-oidc-redirect.png
  docs/img/security/vault-oidc.png
  docs/img/security/vault-paths.png
  docs/img/security/vault-token.png
  docs/kubevirt.md
  docs/security.md
Due: check-docs-markdown

Rename helm_chart_artifact_name for alertmanager-config
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update miniserve with renovate
  .gitlab/ci/scripts/dump_machine_logs.sh
  environment-values/ci/run_http_server_for_log_collect.yaml
  renovate.json
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update Helm release kyverno to v3.1.5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update Helm release postgresql to v14.3.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update dependency https://github.com/minio/operator.git to v5.0.15
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add Sylva daily test results on vSphere (based on 50a89fba8e1437f461aef3e9873ce1dcb3327e02)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add sc
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Use hardened image in CI.
  charts/sylva-units/values.yaml
  docs/sylva-os-images.md
  environment-values/ci/k8s-1.26.yml
  environment-values/ci/k8s-1.27.yml
  environment-values/ci/k8s-1.28.yml
  environment-values/ci/suse-os-rke2.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt.yml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/workload-clusters/kubeadm-capo/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capo/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update Helm release harbor to v1.14.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update rancher-cis-benchmark to v5 (major)
  .gitlab/ci/tests/security/cis-scan.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update Helm release redis-cluster to v10
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update rancher-monitoring to v103.1.0+up45.31.1 (minor)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-flux/csm-config.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update Helm release prometheus-snmp-exporter to v5.4.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

ci
  charts/sylva-units/management.values.yaml
  environment-values/ci/misc-units-in-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

capd flavor
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update Helm release metallb to v0.14.5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update Helm release openstack-cinder-csi to v2.28.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update Helm release kyverno to v3.2.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update Helm release openstack-cinder-csi to v2.30.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add calico autodetection method for kubeadm
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update limits & requests
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update kustomization.yaml
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

Update 4 files
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update 3 files
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

capo proxy
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

typo identation issue
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
Due: kustomize-lint

removed proxy for capi
  charts/sylva-units/values.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

undo changes
  charts/sylva-units/values.yaml
  kustomize-units/cabpr/kustomization.yaml
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

branch name
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

typo mistake
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

remove env_tag
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/templates-deployments.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Disable Grafana Agent
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
