Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

pipelines_schedules_report.py: add links to jobs (+other improvements/fixes)
  .gitlab/ci/main-pipeline-report.yml
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

get-openstack-images: avoid trying to set owner_specified.openstack.md5 on images
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Allow MD5 for SNMP's auth_protocol parameter
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Add tool to extract values from different HelmRelease paths without installing it
  charts/sylva-units/values.schema.yaml
  tools/extractHelmReleaseValues.py
  tools/kind/bootstrap-cluster.sh
  tools/shell-lib/common.sh
  tools/yamlMerge.py
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

Include oci_registry_extra_ca_certs in shared_workload_clusters_values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

force-reconcile in preview
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

fix minio password quoting issue
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 18f2c256e38889b2f5236fec5ead1742a95e56a9)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency https://github.com/minio/operator.git to v5.0.12
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency keycloak/keycloak-k8s-resources to v23.0.6
  charts/sylva-units/units-description.md
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

all monitoring units
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/namespace-defs/components/cattle-logging/cattle-logging-namespace.yaml
  kustomize-units/namespace-defs/components/cattle-logging/kustomization.yaml
  kustomize-units/namespace-defs/components/thanos/kustomization.yaml
  kustomize-units/namespace-defs/components/thanos/thanos-namespace.yaml
  kustomize-units/rancher-logging/cluster-flow.yaml
  kustomize-units/rancher-logging/cluster-output.yaml
  kustomize-units/rancher-logging/kustomization.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/thanos-init/configmap.yaml
  kustomize-units/thanos-init/kustomization.yaml
  kustomize-units/tls-components/tls-certificate/certificate.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update kube-vip Docker tag to v0.7.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify cluster values
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Test change
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Fix _kustomize call inside tools/kind/bootstrap-cluster.sh
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Clean capd example for align with documenation
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/lightweight-disable-some-units.yml
  environment-values/kubeadm-capd/values.yaml
  environment-values/workload-clusters/kubeadm-capd/kustomization.yaml
  environment-values/workload-clusters/kubeadm-capd/secrets.yaml
  environment-values/workload-clusters/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

Fix the example of credentials for rke2-capm3
  environment-values/rke2-capm3/secrets.yaml
Due: chart-generator, chart-jobs

Fix Minio passwords not random
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix condition for os-images-info-xxx configmap
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
Due: chart-generator, chart-jobs

get-openstack-images: fix temp directory
  kustomize-units/get-openstack-images/job.yaml
Due: chart-generator, chart-jobs

Let minio- units depend on ingress-nginx unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

use distinct OCI artifact names for the two metal3 charts
  charts/sylva-units/values.yaml
  tools/oci/push-helm-charts-artifacts.sh
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 8a41d262080fa079c333df2c5fee1eb585f5b161)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

adding vault and acme issuers
  docs/security.md
  kustomize-units/harbor-init/harbor-tls.yaml
  kustomize-units/keycloak/keycloak-certificate.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/neuvector-init/neuvector-tls.yaml
  kustomize-units/sylva-ca/components/acme-issuer/acme-issuer.yaml
  kustomize-units/sylva-ca/components/acme-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/ca-issuer/ca-issuer.yaml
  kustomize-units/sylva-ca/components/ca-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/ca-issuer/sylva-ca.yaml
  kustomize-units/sylva-ca/components/vault-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/vault-issuer/vault-issuer.yaml
  kustomize-units/sylva-ca/kustomization.yaml
  kustomize-units/tls-components/tls-certificate/certificate.yaml
  kustomize-units/vault/kustomization.yaml
  kustomize-units/vault/vault-certificate.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

reverse
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/sylva-ca/components/acme-issuer/acme-issuer.yaml
  kustomize-units/sylva-ca/components/acme-issuer/acme-secret.yaml
  kustomize-units/sylva-ca/components/acme-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/ca-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/vault-issuer/external-vault-token.yaml
  kustomize-units/sylva-ca/components/vault-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/vault-issuer/vault-issuer.yaml
  kustomize-units/sylva-ca/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

new thanos certificate test
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/thanos-init/kustomization.yaml
  kustomize-units/thanos-init/thanos-certificate.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v17.79.0
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 6c8bd6eb94b7977cb4ab54d9d695aa50d4dc80a1)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

test
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/enable-kubevirt.yaml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs

test
  environment-values/ci/enable-kubevirt.yaml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs

test
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
Due: chart-generator, chart-jobs

test
  environment-values/ci/enable-kubevirt.yml
Due: chart-generator, chart-jobs

test
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vmi.yaml
Due: chart-generator, chart-jobs

test
  kustomize-units/kubevirt-test-vms/kustomization.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
