Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Bump s-c-c tag
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Libvirt-metal bootMode feature
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Cluster-secrets units for root password
  charts/sylva-units/values.yaml
  kustomize-units/cluster-secrets/cluster-root-password/cluster-root-secret.yaml
  kustomize-units/cluster-secrets/cluster-root-password/kustomization.yaml
  kustomize-units/cluster-secrets/init/kubernetesauthenginerole-cluster-write.yaml
  kustomize-units/cluster-secrets/init/kustomization.yaml
  kustomize-units/cluster-secrets/init/serviceaccount-vault.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-externalsecrets.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-kubernetesauthengineroles.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-machines.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-randomsecrets.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-serviceaccounts.yaml
  kustomize-units/cluster-secrets/kyverno/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on d16c7cec781e899153e6c9d8a7f12a13af225a0b)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Revert "[Workaround] bypass runner-aas-interface"
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.17
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix schedule pipeline report
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Add Sylva daily test results on vSphere (based on 71695ffe4ab95d32add8321f2a2af272cecd0ad3)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

deploy most units after 'cluster-machines-ready' unit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Serialize image pulls
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add community flag to all os_images pushed in glance
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

all env vars at beginning
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

clean temp dir after upload even if failure occurs
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

pep8 style
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

community upload + verify if image is not already in saving or queued status just before glance upload and disable Openstack pagination
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 2658fc25327fcd142ba75d9813b8292d337cbd34)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Fix linter
  .gitlab/ci/scripts/pipelines_schedules_report.py
  .gitlab/ci/scripts/units-reports.py
  tools/display-scan-report.py
  tools/extractHelmReleaseValues.py
  tools/generate_json_schema.py
  tools/generate_units_documentation.py
  tools/login-test/test-sso.py
  tools/oci/build-sylva-units-artifact.py
Due: chart-generator, chart-jobs

Set dataLocality settings to `best-efforts` for all longhorn storage classes including default one
  charts/sylva-units/values.yaml
  kustomize-units/longhorn-storageclass/storageclass.yaml
Due: chart-generator, chart-jobs

sylva-units: add pre-delete hook to handle ordered deletion of Kustomisations
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/main-pipeline-cleanup.yml
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/delete_hook.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/capo-cluster-resources/cloud-config/cloud-config-secret.yaml
  kustomize-units/capo-cluster-resources/heat-stack/stack-cluster-resources.yaml
  kustomize-units/capo-cluster-resources/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release cert-manager to v1.14.5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

homogenize pipeline name to specify os type used
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: none

Update Helm release external-secrets to v0.9.16
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency keycloak/keycloak-k8s-resources to v23.0.7
  charts/sylva-units/units-description.md
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Retrieve kubeconfig from gitlab api
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/templates-deployments.yml
  .gitlab/ci/tests/login/login-test.yml
Due: none

Update docker Docker tag to v24.0.9
  .gitlab/ci/common.yml
Due: none

Add Prometheus persistent storage
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Jiralert webhook for Alertmanager
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release ceph-csi-cephfs to v3.11.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency kubernetes-sigs/vsphere-csi-driver to v3.2.0
  charts/sylva-units/units-description.md
  kustomize-units/vsphere-csi-driver/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release gitea to v10
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency https://github.com/grafana/loki.git to v2.9.7
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add depends_on in calico-depends-on-cluster-machines-ready unit template
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Kyverno policy to ensure pdb minreplicas
  kustomize-units/kyverno-policies/generic/ensure-pdb-minreplicas.yaml
  kustomize-units/kyverno-policies/generic/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/grafana/loki.git to v3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release prometheus-snmp-exporter to v5.2.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Set replicaAutoBalance to "best-efforts" to enable balancing longhorn replicas
  kustomize-units/longhorn-storageclass/storageclass.yaml
Due: chart-generator, chart-jobs

Update pod-security in cattle-fleet-system namespace
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/cattle-fleet/cattle-fleet-namespace.yaml
  kustomize-units/namespace-defs/components/cattle-fleet/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.18
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add docker registry mirror in stablebuild.com for capm3-virt
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: none

Update Helm release metal3 to v0.6.5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown
