Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Add Sylva daily test results on vSphere (based on 8ba98b0bd341afec143e031845e60a0a86d73975)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Fix Keycloak-resources healthcheck for Harbor
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

checksum replacement with sha256 for os_images
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release trivy-operator to v0.20.6
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update container-images/sylva-toolbox Docker tag to v0.3.10
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/sylva-toolbox Docker tag to v0.3.10
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.20
  .gitlab/ci/common.yml
Due: none

Update kube-vip Docker tag to v0.7.1
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test sso
  tools/login-test/test-sso.py
Due: none

Add Sylva daily test results on vSphere (based on ffff511044f5bbb3ef13de555c7ac5462589e19a)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

update the tags
  .gitlab/ci/main-pipeline-cleanup.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/capo-fip.yml
  environment-values/ci/private/rocket-base/kustomization.yaml
  environment-values/ci/private/rocket-base/secrets.enc.yaml
  environment-values/ci/private/rocket-base/values.yaml
Due: chart-generator, chart-jobs

Update Helm release metallb to v0.14.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add unit under ci
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/logging-fluentbit/configmap.yaml
  kustomize-units/logging-fluentbit/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Let metallb used in CAPD depend on calico only for kubeadm clusters
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

upgrade Kubernetes 1.27 to 1.27.10
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/k8s-1.27.6.yml
  environment-values/ci/suse-os-rke2.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt.yml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

update the tags
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
Due: none

don't restrict apiVersion in the "prevent-deletion" Kyverno policy
  kustomize-units/kyverno-policies/components/management-cluster-only/prevent-deletion.yaml
Due: chart-generator, chart-jobs

"prevent-deletion" Kyverno policy: also protect cluster-bmh unit
  kustomize-units/kyverno-policies/components/management-cluster-only/prevent-deletion.yaml
Due: chart-generator, chart-jobs

"prevent-deletion" Kyverno policy: parametrize cluster name
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/prevent-deletion.yaml
Due: chart-generator, chart-jobs

Force update of snmp-exporter pods when values change
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Make ceph-csi-cephfs storage class as a default when enabled
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

revisit rancher logging and monitoring privileges
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

apply suggestions
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/private/rocket-base/capo-fip.yml
Due: chart-generator, chart-jobs

Update rancher-monitoring to v103
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on d3426961ac7f7edbd514dbad8d082004e3e6887f)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update rancher-logging to v103
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-dashboards.git to v0.0.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

label cinder-csi storage class as 'is-default-class' only when relevant
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Align sylva-capi-cluster and os-image-server on os_images
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs, check-docs-markdown

ClusterPolicy shared-workload-clusters-settings
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/minio/operator.git to v5.0.13
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/main-pipeline-cleanup.yml
Due: none

Add Sylva daily test results on vSphere (based on 86f6cd9d88eb9af0685d5e28f5a4d2120e30ee70)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.2.6
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

capo/cinder-csi: set storage class as default, including when storage class name is customized
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test
  .gitlab/ci/main-pipeline-cleanup.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/templates-deployments.yml
Due: none

check
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none
