Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Add Sylva daily test results on vSphere (based on 4e7a1ebcedebdbfd7dd4e0122d24786b9ec19de3)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add eso-secret-stores dependency to harbor-init
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Fix change git revision function
  .gitlab/ci/templates-deployments.yml
Due: none

Force k8s_version v1.28.7 for kubeadm-capd workload cluster
  environment-values/workload-clusters/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

timeout
  tools/workload-cluster-cleanup.sh
Due: none

RKE2: annotate kube-system namespace to workaround RKE2 init issue during k8s upgrade
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/kube-system/kustomization.yaml
  kustomize-units/namespace-defs/components/kube-system/ns.yaml
Due: chart-generator, chart-jobs

introduce retries on HelmReleases upgrades
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add new flow from pod to fip
  kustomize-units/firewall/common/cluster-fip-policy.yaml
  kustomize-units/firewall/common/coredns-to-fip.yaml
  kustomize-units/firewall/common/kustomization.yaml
  kustomize-units/firewall/management-cluster/fleet-to-fip.yaml
  kustomize-units/firewall/management-cluster/fluentd-to-fip.yaml
  kustomize-units/firewall/management-cluster/ironic-to-fip.yaml
  kustomize-units/firewall/management-cluster/kustomization.yaml
  kustomize-units/firewall/management-cluster/kustomize-to-fip.yaml
  kustomize-units/firewall/management-cluster/prometheus-to-fip.yaml
  kustomize-units/firewall/management-cluster/rancher-to-fip.yaml
  kustomize-units/firewall/management-cluster/vault-to-fip.yaml
Due: chart-generator, chart-jobs

Increase cp replicas for capo-fip ci job
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/capo-fip.yml
Due: chart-generator, chart-jobs, check-docs-markdown

single gns for capo
  kustomize-units/firewall/kyverno-capo/kyverno-global-network-set-policy.yaml
Due: chart-generator, chart-jobs

change name of metal3 gns
  kustomize-units/firewall/kyverno-capm3/kyverno-global-network-set-policy.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.14
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

update tag for scc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update units-description.md
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on bb6c373da70db4f28695e1f76ba36ad598cbef65)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

CAPO CI: use Ceph SSD tier for VM root volumes
  environment-values/ci/private/falcon-base/values.yaml
Due: chart-generator, chart-jobs

Increase longhorn replicaReplenishmentWaitInterval in baremetal deployments
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add other clients to the VIP
  kustomize-units/firewall/common/cluster-fip-policy.yaml
  kustomize-units/firewall/management-cluster/cluster-creator-to-fip.yaml
  kustomize-units/firewall/management-cluster/flux-webui-to-fip.yaml
  kustomize-units/firewall/management-cluster/kustomization.yaml
  kustomize-units/firewall/management-cluster/neuvector-to-fip.yaml
Due: chart-generator, chart-jobs

Increase CI deployments timeouts
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
Due: none

use branch with no failsafe rules
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add cluster-machines-ready unit / have all units wait on it during upgrades
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Use older heat template version 2017-09-01 instead of 2018-08-31
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yaml
Due: chart-generator, chart-jobs

Add a flag to identify management cluster
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

add capi and rke2 for port 6443
  kustomize-units/firewall/management-cluster/cluster-api-to-fip.yaml
  kustomize-units/firewall/management-cluster/kustomization.yaml
  kustomize-units/firewall/management-cluster/rke2-control-plane-to-fip.yaml
Due: chart-generator, chart-jobs

kube-job delete
  tools/workload-cluster-cleanup.sh
Due: none

Add Sylva daily test results on vSphere (based on c8cecca87a0a054141a9a555a264999c4e7de303)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

SSO script add retry in rancher test case
  tools/login-test/test-sso.py
Due: none

test
  environment-values/ci/suse-os-rke2.yml
Due: chart-generator, chart-jobs

[debug_on_exit.sh] Dump some Longhorn custom resources
  tools/shell-lib/debug-on-exit.sh
Due: none

automated cleaning mode disabled in rolling upgrade
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: chart-generator, chart-jobs

automated cleaning mode disabled in rolling upgrade
  environment-values/ci/suse-os-rke2.yml
Due: chart-generator, chart-jobs

Calling rolling upgrade in CI
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

worload cluster policy from management cluster
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/firewall/workload-cluster/cluster-fip-policy-workload-cluster.yaml
  kustomize-units/firewall/workload-cluster/kustomization.yaml
  kustomize-units/firewall/workload-cluster/sylva-system-cluster-gns.yaml
Due: chart-generator, chart-jobs

create management cluster gns in the workload cluster
  charts/sylva-units/values.yaml
  kustomize-units/firewall/common/kustomization.yaml
  kustomize-units/firewall/common/management-cluster-gns.yaml
  kustomize-units/firewall/kyverno-capo/kyverno-global-network-set-policy.yaml
  kustomize-units/firewall/management-cluster/kustomization.yaml
  kustomize-units/firewall/management-cluster/kyverno-sync-management-cluster-addresses.yaml
  kustomize-units/firewall/workload-cluster/kustomization.yaml
Due: chart-generator, chart-jobs

Testing with no worker node
  environment-values/ci/dummy-rolling-update-trigger.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: chart-generator, chart-jobs

sylva-units: refactor how uninterpreted unit_templates is preserved for unit-def-from-templates
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/units.yaml
Due: chart-generator, chart-jobs

move the subnets to separate GlobalNetworkSets
  charts/sylva-units/values.yaml
  kustomize-units/firewall/common/all-nodes-policy.yaml
  kustomize-units/firewall/common/cluster-fip-policy.yaml
  kustomize-units/firewall/common/kustomization.yaml
  kustomize-units/firewall/common/public-to-gui-gns.yaml
  kustomize-units/firewall/common/public-to-kubeapi-gns.yaml
  kustomize-units/firewall/common/public-to-ssh-gns.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 2850a47fb5d2c760db5f91b842ec8a96ecde5a4c)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

interpret-inner-gotpl: deterministic order, early set
  charts/sylva-units/templates/_interpret-values.tpl
Due: chart-generator, chart-jobs
