Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Integrate flux monitoring
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-flux/csm-config.yaml
  kustomize-units/prometheus-flux/kustomization.yaml
  kustomize-units/prometheus-flux/podmonitor.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.120.1
  .gitlab-ci.yml
Due: none

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/sylva-toolbox Docker tag to v0.3.12
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/gitlab-org/cli Docker tag to v1.37.0
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.21
  .gitlab/ci/common.yml
Due: none

add kustomize unit to deploy glauth
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/glauth/config/base-groups.cfg
  kustomize-units/glauth/config/kustomization.yaml
  kustomize-units/glauth/config/secret.yaml
  kustomize-units/glauth/deployment.yaml
  kustomize-units/glauth/glauth-pdb.yaml
  kustomize-units/glauth/kustomization.yaml
  kustomize-units/glauth/service-account.yaml
  kustomize-units/glauth/service.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/namespace-defs/components/glauth/glauth-namespaces.yaml
  kustomize-units/namespace-defs/components/glauth/kustomization.yaml
  kustomize-units/rancher-users-resources-inject/inject_rancher-users-resources.yaml
  kustomize-units/rancher-users-resources-inject/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

pipelines_schedules_report.py: define an icon for each jobs status
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

disable hugepage for keycloak's postgres
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Minor renovate config cleanup
  renovate.json
Due: none

add missing dependencies on the default storage class unit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

filter os_images for bootstrap based on a new list and automatically capo or capm3 image_key add documentation
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  docs/sylva-os-images.md
Due: chart-generator, chart-jobs, check-docs-markdown

Fix workload cluster Grafana UI
  charts/sylva-units/management.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/misc-units-in-capo-wkld.yml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/rancher-monitoring-clusterid-inject/inject_cluster_id.yaml
  tools/login-test/rancher-admin.hurl
Due: chart-generator, chart-jobs

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.2.7
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

prometheus: increase memory limit to 6Gi
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve the way 'cluster' unit dependencies are declared
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

enable 'prometheus-flux' unit only if 'monitoring' unit is enabled
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add/change deps about management-namespace-defs unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Fix metal3 namespace dependency
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add 'kubeConfig' to management-namespace-defs unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

fix the namespace-defs / metal3 component condition: also trigger if metal3-suse unit is used
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 1002af4f58523d7717c783613dfedb33688d432f)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
