Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Create runner with 'test' code from runner-aas
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency https://github.com/minio/operator.git to v5.0.15
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

cleanup for the patches of all controllers
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

Gather CIS scan result if available
  .gitlab/ci/tests/security/cis-scan.yml
  tools/display-scan-report.py
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

add unit_definition_defaults
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/test-values/nested-templating/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Revert part of "sylva-units: introduce versioned-depency Kustomizations"
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/dummy/base/configmap.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Check schedule pipelines status
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update rules priority related to MR labels
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Manage capd-preview as a child pipeline
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capd-preview.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

debug-on-exit.sh: improve event log tools/shell-lib/debug-on-exit.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

add 'root-dependency' unit
  charts/sylva-units/scripts/root-dependency-check.sh
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update sylva-toolbox to v0.3.15 (patch)
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, capd-preview-deploy, capd-preview-oci-deploy

split and migrate sylva-core/README into documentation portal
  README.md
  docs/img/sylva-logo-green.svg
Due: check-docs-markdown

Update Helm release external-secrets to v0.9.17
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

try setting CLUSTER_ADDR with service fqdn
  charts/sylva-units/values.yaml
  kustomize-units/vault/vault.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update Helm release core to v2.7.6
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update dependency kubernetes-sigs/cluster-api-provider-openstack to v0.10.1
  kustomize-units/capo/kustomization.yaml
Due: kustomize-lint

Update dependency keycloak/keycloak-k8s-resources to v24
  charts/sylva-units/units-description.md
  kustomize-units/keycloak/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update 2 files
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update kustomization.yaml
  kustomize-units/keycloak/kustomization.yaml
Due: kustomize-lint

Update units-description.md
  charts/sylva-units/units-description.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update 2 files
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add Sylva daily test results on vSphere (based on be13817adbed3760ef33b8b7f5e8a1fc148f222c)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify
  kustomize-units/capa/crs.yaml
  kustomize-units/capa/kustomization.yaml
Due: kustomize-lint

Update rancher-monitoring to v103.1.0+up45.31.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Modify
  kustomize-units/capa/crs.yaml
Due: kustomize-lint

Deleting webhooks
  kustomize-units/capa/infrastructure-components.yaml
Due: kustomize-lint

use Flux envsubst vars in kube-job ConfigMap name
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cluster-creator-login/delete-kube-job-cm.yaml
  kustomize-units/cluster-creator-login/kustomization.yaml
  kustomize-units/kube-job/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-dashboards.git to v0.0.7
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

use $var and sometimes $${var} instead of ${var} for kube-job scripts to avoid Flux envsubst replacement with empty string
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/scripts/keycloak-add-client-scope.sh
  charts/sylva-units/scripts/keycloak-add-truststore.sh
  charts/sylva-units/scripts/root-dependency-check.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

have -sa termination after DISCRIMINATOR for the kube-job SA
  kustomize-units/kube-job/job.yaml
Due: kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

add kubeadm-capm3-virt-ha
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/rke2-capm3-virt/ha-kubeadm.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha-kubeadm.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

typo
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

fix
  environment-values/rke2-capm3-virt/ha-kubeadm.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha-kubeadm.yaml
Due: kustomize-lint

Modify
  kustomize-units/capa/infrastructure-components.yaml
Due: kustomize-lint

test
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

remove sylva_diskimagebuilder_images from shared wc values
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint
