Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Add Sylva daily test results on vSphere (based on bc311d854f3862544cbe1d52aeb47a413b877233)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

initial commit
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/rke2-capm3-virt/ha.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

add pushgateway exporter and corresponding prometheus config
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-resources/prometheus-config-values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

update doc
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add sidecar metrics purger and persistent volume
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

export var
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Mutualize CNI related values under a common key
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update cluster-api-provider-openstack to v0.10.3
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

add ClusterRole to kube-job (needed to handle CRDs)
  charts/sylva-units/bootstrap.values.yaml
  kustomize-units/kube-job/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

debug
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Inject oci_registry_extra_ca_certs into os-images-info kube-job
  charts/sylva-units/values.yaml
  kustomize-units/kube-job/components/certs/certs.yaml
  kustomize-units/kube-job/components/certs/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

export in loop
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

place everything inside loop
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update registry.gitlab.com/gitlab-org/cli Docker tag to v1.41.0
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

add cronjob to renew cluster creator kubeconfig
  charts/sylva-units/values.yaml
  kustomize-units/cluster-creator-login/kustomization.yaml
  kustomize-units/cluster-creator-renew/cluster-creator-renew.sh
  kustomize-units/cluster-creator-renew/kustomization.yaml
  kustomize-units/kube-cronjob/README.md
  kustomize-units/kube-cronjob/cronjob.yaml
  kustomize-units/kube-cronjob/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

more debug
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

increased timeout
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency fluxcd/flux2 to v2.3.0
  charts/sylva-units/units-description.md
  kustomize-units/flux-system/base/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

hide shared wc values and secrets capo
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency https://github.com/grafana/loki.git to v2.9.8
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update Helm release rke2-multus to v4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add sylva-logging-flows
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

bootstrap timeout
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

improve how apply scripts wait force-reconcile the HelmRelease and wait for it
  apply-workload-cluster.sh
  apply.sh
  bootstrap.sh
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

change tag sylva-capi-cluster
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

add capo-v1alpha8-fix-* units
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add capo-v1alpha8-fix kustomization
  kustomize-units/capo-v1alpha8-fix/kustomization.yaml
  kustomize-units/capo-v1alpha8-fix/migration.yaml
Due: kustomize-lint

add kube-storage-version-migrator
  kustomize-units/kube-storage-version-migrator/kustomization.yaml
  kustomize-units/kube-storage-version-migrator/service-account.yaml
Due: kustomize-lint

Update Helm release postgresql to v15
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown
