Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

add a CI additional file to test issue 1193
  environment-values/ci/capm3-virt-1.1.0-to-main-patch.yml
Due: kustomize-lint

try with 200G Longhorn disk in libvirt-metal to check PV status
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/capm3-virt-1.1.0-to-main-patch.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Refresh user info in Rancher
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/rancher-keycloak-oidc-provider/kustomization.yaml
  kustomize-units/rancher-keycloak-oidc-provider/rancher-refresh-user-info.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Add Sylva daily test results on vSphere (based on 4b7f0a5a066603a9c53c7dc7af8bc2316b2f3896)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency kubernetes-sigs/cluster-api to v1.6.5
  charts/sylva-units/units-description.md
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update gcr.io/k8s-staging-cluster-api/capd-manager Docker tag to v1.6.5
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

rewrite exit conditions with break
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: kustomize-lint

Update gcr.io/k8s-staging-cluster-api/capd-manager Docker tag to v1.7.2
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

Add Alertmanager configuration management
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Enable Thanos ruler component
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add config-reload sidecar
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Disable dnsDiscovery
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependencies
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update sylva-thanos-rules-configmap name
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add the values file to the deployment artifacts
  .gitlab/ci/templates-deployments.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Check thanos alerts in CI
  .gitlab/ci/tests/monitoring/alerts.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/tests/monitoring/alerts.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

bump s-c-c tag
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

manage path in standalone mode less verbose add secret dump in CI context ONLY add archive
  tools/shell-lib/debug-on-exit.sh
Due: none

Fix calico
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update quay.io/kubevirt/cirros-container-disk-demo Docker tag to v1.2.1
  kustomize-units/kubevirt-test-vms/cirros-vm.yaml
Due: kustomize-lint

Add resources and persistence
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

simplify wait condition
  charts/sylva-units/scripts/keycloak-add-realm-role.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update script create os image info
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

correct addition
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

hide cluster.capo
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Correct add
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

The bootstrap-secret should depends on rancher unit
  charts/sylva-units/values.yaml
  kustomize-units/synchronize-secrets/components/rancher/kustomization.yaml
  kustomize-units/synchronize-secrets/components/rancher/rancher-bootstrap-secret.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

test
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add replicas and pdb
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

fix
  environment-values/ci/run_http_server_for_log_collect.yaml
Due: kustomize-lint

change condition on bootsrap dump
  tools/shell-lib/debug-on-exit.sh
Due: none

Verify if critical alarms are active
  .gitlab/ci/tests/monitoring/alerts.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Dump node logs via http
  .gitlab/ci/pipeline-deploy-capd-preview.yml
  .gitlab/ci/scripts/dump_machine_logs.sh
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/run_http_server_for_log_collect.yaml
  renovate.json
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

fix after review
  tools/shell-lib/debug-on-exit.sh
Due: none

Adding machine pool replicas in schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency https://github.com/rancher/local-path-provisioner.git to v0.0.27
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

fix ref error + add break
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: kustomize-lint

Update registry.gitlab.com/gitlab-org/cli Docker tag to v1.41.0
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

timeouts
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint
