Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

sylva-units:helm-lint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - helm lint charts/sylva-units

sylva-units:helm-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  ...

sylva-units:helm-template-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - ./tools/validation/helm-template-yamllint.sh
  variables:
  ...

kustomize-lint:
  stage: test
  needs: []
  interruptible: true
  script:
  ...

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

add name for kubeadm
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Modify
  kustomize-units/capa/infrastructure-components.yaml
Due: kustomize-lint

Update longhorn to v103.2.3+up1.5.5 (patch)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Revert "Merge branch 'renovate/harbor-1.14.x' into 'main'"
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add first commit message to MR template
  .gitlab/merge_request_templates/Default.md
Due: check-docs-markdown

Enable standalone use of debug-on-exit
  tools/shell-lib/debug-on-exit.sh
Due: none

rework cluster-machines-ready to fix kubeadm/calico issue for workload clusters
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Have cluster-creator-login use ClusterIP rancher service
  charts/sylva-units/values.yaml
  kustomize-units/cluster-creator-login/cluster-creator-login.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency renovate-bot/renovate-runner to v17.209.0
  .gitlab-ci.yml
Due: none

Update get-openstack-images dependencies
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update Helm release external-secrets to v0.9.17
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update rules priority related to MR labels
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

added sample value to define users with kubeadm
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
Due: kustomize-lint

Manage capd-preview as a child pipeline
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capd-preview.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Small improvements in kyverno policies
  kustomize-units/kyverno-policies/generic/ensure-force-cluster-policy.yaml
  kustomize-units/kyverno-policies/generic/ensure-pdb-minreplicas.yaml
Due: kustomize-lint

Check schedule pipelines status
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Kyverno-policies from bootstrap.values must use _components from values.yaml
  charts/sylva-units/bootstrap.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

split and migrate sylva-core/README into documentation portal
  README.md
  docs/img/sylva-logo-green.svg
Due: check-docs-markdown

sylva-units: introduce versioned-depency Kustomizations
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/dummy/base/configmap.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
  kustomize-units/kube-job/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update sylva-toolbox to v0.3.15 (patch)
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, capd-preview-deploy, capd-preview-oci-deploy

Gather CIS scan result if available
  .gitlab/ci/tests/security/cis-scan.yml
  tools/display-scan-report.py
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency to-be-continuous/gitleaks to v2.5.2
  .gitlab-ci.yml
Due: none

debug-on-exit.sh: improve event log tools/shell-lib/debug-on-exit.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

workload clusters: properly depend on mgmt-cluster-ready Kustomization
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

sylva-units: introduce kustomization_name
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/sylva-units-values.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-dashboards.git to v0.0.7
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

cleanup for the patches of all controllers
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

Test scc.
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

introduce template for enforcing immutability of s-u values defined with dict keys passed as list elements
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Apply 3 suggestion(s) to 2 file(s)
  charts/sylva-units/scripts/root-dependency-check.sh
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

update unit 'details'
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update file values.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Clean thanos-query tls host
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency renovate-bot/renovate-runner to v17.219.1
  .gitlab-ci.yml
Due: none

Revert part of "sylva-units: introduce versioned-depency Kustomizations"
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/dummy/base/configmap.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

add unit_definition_defaults
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/test-values/nested-templating/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update rancher-cis-benchmark to v5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add 'root-dependency' unit
  charts/sylva-units/scripts/root-dependency-check.sh
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add debug
  .gitlab/ci/tests/security/cis-scan.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Enable calico and metallb in RKE2
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
