Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Add Sylva daily test results on vSphere (based on 2850a47fb5d2c760db5f91b842ec8a96ecde5a4c)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

bootstrap/pivot: wait for all Machines to be ready before triggering pivot
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v17.171.0
  .gitlab-ci.yml
Due: none

kyverno policies: split the 'avoid-delete-mgmt-resources' policy into its own unit
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/generic/components/management-cluster-only/default-namespace.yaml
  kustomize-units/kyverno-policies/generic/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-policies/generic/disable-automount-sa.yaml
  kustomize-units/kyverno-policies/generic/ensure-force-cluster-policy.yaml
  kustomize-units/kyverno-policies/generic/kustomization.yaml
  kustomize-units/kyverno-policies/generic/patch-bond-policy.yaml
  kustomize-units/kyverno-policies/generic/tag.yaml
  kustomize-units/kyverno-policies/prevent-mgmt-cluster-delete/kustomization.yaml
  kustomize-units/kyverno-policies/prevent-mgmt-cluster-delete/prevent-deletion.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Dump node's logs in CI
  tools/dump/dump_deamonset.yaml
  tools/dump/dump_node_logs.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

Enable prevent-mgmt-cluster policy only if kyverno is enabled
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Set node drainpolicy for longhorn storage class `single-replica-storageclass`
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.15
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix capo scheduled cleanup logic
  .gitlab/ci/main-pipeline-cleanup.yml
Due: none

Update sylva-toolbox to v0.3.14
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

Add Sylva daily test results on vSphere (based on e0ca483f4f31b0056b96c2795ba65c59f3d6fce5)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update Helm release cert-manager to v1.14.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Set autoCleaningMode value for rolling upgrade
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: chart-generator, chart-jobs

Recorrection of md number
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: chart-generator, chart-jobs

correct the name of parameter `nodeDrainPolicy` for longhorn
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Removing for particular pipeline as already enable in schedule pipelines
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/dummy-rolling-update-trigger.yml
Due: chart-generator, chart-jobs

docs(supdate docs/security.md to redirect to the new documentation project
  docs/security.md
Due: check-docs-markdown

Configurable kind network
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
  .gitlab/ci/templates-deployments.yml
Due: none

fix: Correct Markdown lint errors
  docs/security.md
Due: check-docs-markdown

fix doc errors
  charts/sylva-units/templates/_interpret-values.tpl
Due: chart-generator, chart-jobs

Typo fix in metal3 doc
  docs/metal3.md
Due: check-docs-markdown

add policy to kubeapi-server
  kustomize-units/firewall/common/kustomization.yaml
  kustomize-units/firewall/common/to-kubernetes-svc-policy.yaml
Due: chart-generator, chart-jobs

refine the cluster-machines-ready machine readiness criteria, take status.nodeRef into account
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.23
  .gitlab/ci/common.yml
Due: none

effectively set the dependency on 'cluster-machines-ready' unit, for relevant units
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Do no set automatedCleaningMode in BareMetalHosts
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on c7599cfa82427373ffa37e1e54028347ad9602a7)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

update redirection message and remove unnecessary content
  docs/security.md
Due: check-docs-markdown

Testing upgrade from last release IN MR
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Create less stages in child pipelines to better overview
  .gitignore
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/main-pipeline-report.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/scripts/pipelines_schedules_report.py
  .gitlab/ci/templates-deployments.yml
Due: none

Allow to delay CAPO cleanup based on label
  .gitlab/ci/common.yml
  .gitlab/ci/pipeline-deploy-capo.yml
Due: none

Update Helm release prometheus-snmp-exporter to v5.1.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

have mgmt cluster prometheus push metrics to Thanos directly via the local thanos-receive service
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

cleanup metal3-suse against metal3
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  docs/metal3.md
  environment-values/rke2-capm3-virt/values.yaml
  kustomize-units/metal3-init/kustomization.yaml
  kustomize-units/metal3-init/random-ironic-inspector-secret.yaml
  kustomize-units/metal3-init/random-ironic-secret.yaml
  kustomize-units/metal3-init/random-metal3-mariadb-replication-secret.yaml
  kustomize-units/metal3-init/random-metal3-mariadb-root-secret.yaml
  kustomize-units/metal3-sync-secrets/kustomization.yaml
  kustomize-units/metal3-sync-secrets/metal3-secrets.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Allow testing the default rolling upgrade in MR based on label
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Increase APPLY_WATCH_TIMEOUT_MIN for rolling update
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Create globalnetworkset for capm3 provisioning addresses
  charts/sylva-units/values.yaml
  kustomize-units/firewall/common/cluster-provisioning-addresses.yaml
  kustomize-units/firewall/common/kustomization.yaml
  kustomize-units/firewall/kyverno-capm3/kyverno-global-network-set-policy.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on f59bb345d17ebceea918cefe51884fdcb3d32e72)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Unset insecure
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
