Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Update container-images/sylva-toolbox Docker tag to v0.3.6
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Harbor not installable in workload cluster
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/misc-units-in-capo-wkld.yml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/harbor-init/harbor-namespace.yaml
  kustomize-units/harbor-init/kustomization.yaml
  kustomize-units/keycloak-resources/components/harbor/harbor-client.yaml
  kustomize-units/keycloak-resources/components/harbor/kustomization.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
  kustomize-units/namespace-defs/components/harbor/harbor-namespace.yaml
  kustomize-units/namespace-defs/components/harbor/kustomization.yaml
Due: chart-generator, chart-jobs

test
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

fix minio-monitoring-tenant enabled_conditions:
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v14
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Sylva snmp resources
  charts/sylva-units/configs/snmp-exporter/dell.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Cleanup checks for node annotations done within workload cluster checks
  .gitlab/ci/templates-deployments.yml
Due: none

Fix sylva-units validation
  tools/validation/helm-schema-validation.sh
Due: none

Add relabeling at SNMP exporter level
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Temporarily point to the new branch for dashboards
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Revert the "Fix sylva-units validation"
  tools/validation/helm-schema-validation.sh
Due: none

Avoid duplicates pipelines
  .gitlab/ci/main-pipeline-checks.yml
Due: chart-generator, chart-jobs

Split ci images
  .gitlab/ci/common.yml
  .gitlab/ci/main-pipeline-checks.yml
  .gitlab/ci/templates-deployments.yml
Due: chart-generator, chart-jobs

conditional set for proxy neuvector
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update container-images/sylva-toolbox Docker tag to v0.3.7
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Test HA in capm3 virt deployment
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  tools/shell-lib/common.sh
  tools/shell-lib/debug-on-exit.sh
  tools/shell-lib/get-wc-kubeconfig-from-rancher.sh
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

renovate: allow use of Rancher 103.x charts
  renovate.json
Due: none

Use VIP/display_external_ip in login tests
  .gitlab/ci/templates-deployments.yml
Due: none

Add `ceph-csi-cephfs` unit to reuse existing Ceph cluster for Bare metal deployment
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  docs/ceph-csi-cephfs.md
  environment-values/ci/misc-units-in-capo.yml
  environment-values/ci/private/falcon-base/secrets.enc.yaml
  environment-values/ci/private/falcon-base/values.yaml
  environment-values/rke2-capo-capm3/secrets.yaml
  environment-values/rke2-capo-capm3/values.yaml
  kustomize-units/namespace-defs/components/ceph-csi-cephfs/ceph-csi-cephfs.yaml
  kustomize-units/namespace-defs/components/ceph-csi-cephfs/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Introduce node_class
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 6905045dba3d728db650bd7ea40cc529af65fe05)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/sylva-toolbox Docker tag to v0.3.7
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Regroup heat-operator updates
  renovate.json
Due: none

Use type: bond for CAPM3 network interfaces configured in bond
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

Remove Ceph values from capo-capm3 environment
  environment-values/rke2-capo-capm3/secrets.yaml
  environment-values/rke2-capo-capm3/values.yaml
Due: chart-generator, chart-jobs

Bump heat-operator to 0.0.7
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/heat-operator/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

test-cabpr-main
  kustomize-units/cabpr/bootstrap.yaml
  kustomize-units/cabpr/controlplane.yaml
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

keycloak-operator: Deployment should not set a version in pod selector
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs

cleanup capm3.image_provisioning_host
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix snmp-exporter init container startup parameters
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

filter os-image
  charts/sylva-units/templates/_os-images.tpl
Due: chart-generator, chart-jobs

update branch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

os-image-info-error
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on e6565a87676c15c2281ec4e9bbe968adf417a7fd)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Use new manifests and image for capo
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update longhorn to v103 (major)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
