Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Update get-openstack-images
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Add insecure option to registries
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

bool
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Fix typo in scheduled cleanup
  .gitlab/ci/main-pipeline-cleanup.yml
Due: none

Test pre-downloaded artifacts in CI
  apply.sh
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: chart-generator, chart-jobs

dummy diff
  apply.sh
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add new values in CI
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/rke2-use-artifacts.yaml
  environment-values/ci/suse-os-rke2.yml
Due: chart-generator, chart-jobs

Enabling Longhorn in any case with capm3 libvirt-metal
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Clean artifacts dumps from previous jobs
  .gitlab/ci/templates-deployments.yml
Due: none

remove metal3 provider from schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/minio/operator.git to v5.0.14
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update quay.io/kubevirt/cirros-container-disk-demo Docker tag to v1.1.1
  kustomize-units/kubevirt-test-vms/cirros-vm.yaml
Due: chart-generator, chart-jobs

compute pods replica based on ha mode
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update kube-vip Docker tag to v0.8.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 1a196db7f4b8088ed69fe1d5de24eb44fe6b8fd8)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Drop image_key and image_name from shared_workload_clusters_values.cluster.capo
  charts/sylva-units/values.yaml
  environment-values/workload-clusters/kubeadm-capo/values.yaml
  environment-values/workload-clusters/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.16
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add oidc-group-filter to harbor config
  kustomize-units/harbor-init/eso-harbor-oidc.yaml
Due: chart-generator, chart-jobs

Add flake8 linter in CI
  .flake8
  .gitlab/ci/main-pipeline-checks.yml
Due: chart-generator, chart-jobs

persistent smp
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Fix baremetal operator replicas setting
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor: improve how "sylvactl watch" is run, target specific HelmRelease and ns
  apply-workload-cluster.sh
  apply.sh
  bootstrap.sh
Due: none

Fix linter
  .gitlab/ci/scripts/pipelines_schedules_report.py
  .gitlab/ci/scripts/units-reports.py
  tools/display-scan-report.py
  tools/extractHelmReleaseValues.py
  tools/generate_json_schema.py
  tools/generate_units_documentation.py
  tools/login-test/test-sso.py
  tools/oci/build-sylva-units-artifact.py
Due: chart-generator, chart-jobs

Update registry.gitlab.com/gitlab-org/cli Docker tag to v1.39.0
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

minor: fix a comment in sylva-units/values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on b25f3445f1881f5921c2d42fe3a0c497cb3cbad2)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Add calico_autodetection_method
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update s-c-c tag
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

dumb try
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

[Workaround] bypass runner-aas-interface
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

Update prometheus-rules
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fix regression in apply-workload-cluster.sh causing it to always timeout
  apply-workload-cluster.sh
Due: none

Update tag
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

enable 'cluster-machines-ready' unit for workload clusters
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 59c895728cbc2ae696fb860f3487060c4a99b7d9)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

disallow duplicates + clean respositories to save disk
  .gitignore
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Update Helm release harbor to v1.14.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
