Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

sylva-units:helm-lint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - helm lint charts/sylva-units

sylva-units:helm-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  ...

sylva-units:helm-template-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - ./tools/validation/helm-template-yamllint.sh
  variables:
  ...

kustomize-lint:
  stage: test
  needs: []
  interruptible: true
  script:
  ...

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Check kyverno policies status in CI
  .gitlab/ci/tests/security/kyverno-policies.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

fix
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Update cluster-api-provider-openstack to v0.10.3
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

add capo-v1alpha8-fix kustomization
  kustomize-units/capo-v1alpha8-fix/kustomization.yaml
  kustomize-units/capo-v1alpha8-fix/migration.yaml
Due: kustomize-lint

add ClusterRole to kube-job (needed to handle CRDs)
  charts/sylva-units/bootstrap.values.yaml
  kustomize-units/kube-job/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

add kube-storage-version-migrator
  kustomize-units/kube-storage-version-migrator/kustomization.yaml
  kustomize-units/kube-storage-version-migrator/service-account.yaml
Due: kustomize-lint

add capo-v1alpha8-fix-* units
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

don't prevent web pipeline when an MR is open for the branch
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

change image
  environment-values/rke2-capm3-virt/ha-kubeadm.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha-kubeadm.yaml
Due: kustomize-lint

Cleanup unnecessary Thanos values
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

fix push_and_sign
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Fix Thanos UI Unauthorized error message
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

test capo controller alien
  apply.sh
  kustomize-units/capo/kustomization.yaml
Due: kustomize-lint

fix- bug in "push-helm-artifacts.sh"
  tools/oci/push-helm-charts-artifacts.sh
Due: none

improve root-dependency wait checks
  charts/sylva-units/scripts/root-dependency-check.sh
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/sylva-units-values.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

remove migrated docs
  docs/img/security/cis-report.png
  docs/img/security/cis-result.png
  docs/img/security/dt-component-vulns.png
  docs/img/security/dt-projects.png
  docs/img/security/keycloak-group-members.png
  docs/img/security/keycloak-groups.png
  docs/img/security/keycloak-idp.png
  docs/img/security/keycloak-ldaps-sync.png
  docs/img/security/keycloak-login.png
  docs/img/security/keycloak-ui.png
  docs/img/security/keycloak-user-federation-ldaps-config.png
  docs/img/security/keycloak-user.png
  docs/img/security/neuvector-dashboard.png
  docs/img/security/neuvector-login.png
  docs/img/security/neuvector-network-activity.png
  docs/img/security/neuvector-oidc-redirect.png
  docs/img/security/role-binding.png
  docs/img/security/sylva-rbac.jpg
  docs/img/security/vault-oidc-redirect.png
  docs/img/security/vault-oidc.png
  docs/img/security/vault-paths.png
  docs/img/security/vault-token.png
  docs/kubevirt.md
  docs/security.md
Due: check-docs-markdown

Update Helm release postgresql-ha to v14
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add Sylva daily test results on vSphere (based on c4d21ebfcce3b2d7ef62ce416f2d8dcfb383dacb)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

use s-u named template for exporting proxies vars
  charts/sylva-units/templates/extras/bootstrap-cluster-proxies.yaml
  tools/kind/bootstrap-cluster.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Adding capa health check
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency renovate-bot/renovate-runner to v17.235.2
  .gitlab-ci.yml
Due: none

Adding cluster resource set for capa
  kustomize-units/capa/cluster-resource-set.yaml
  kustomize-units/capa/kustomization.yaml
Due: kustomize-lint

Adding namespace in cluster resource set
  kustomize-units/capa/cluster-resource-set.yaml
Due: kustomize-lint

migrating crs from core to capi
  kustomize-units/capa/cluster-resource-set.yaml
  kustomize-units/capa/kustomization.yaml
Due: kustomize-lint

chck no proxy
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

debug
  charts/sylva-units/scripts/create-os-images-info.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Use healthchecks on synchronize-secrets
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-alertmanager-resources.git to v0.0.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

mutualize_cni_values
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Sign kustomize-units OCI artifact
  tools/oci/build-kustomize-units-artifact.sh
  tools/oci/common.sh
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.19
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  kustomize-units/rancher-keycloak-oidc-provider/rancher-refresh-user-info.yaml
Due: kustomize-lint

test user info refresh time
  charts/sylva-units/values.yaml
  kustomize-units/rancher-keycloak-oidc-provider/kustomization.yaml
  kustomize-units/rancher-keycloak-oidc-provider/rancher-refresh-user-info.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Add schema validation for rancher settings
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/rancher-keycloak-oidc-provider/rancher-refresh-user-info.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Add default values
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
