Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Add Sylva daily test results on vSphere (based on 587721499c5ab00cc37da10a182ce920505305df)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update Helm release metal3-suse to v0.4.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

enable wireguard in calico
  charts/sylva-units/values.yaml
  kustomize-units/calico-wireguard/felixconfiguration.yaml
  kustomize-units/calico-wireguard/kustomization.yaml
Due: chart-generator, chart-jobs

add option to enable/disable calico-wireguard
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/calico-wireguard/felixconfiguration.yaml
Due: chart-generator, chart-jobs

fix variable name
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable calico-wireguard for the workload clusters
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

add description
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

VM template from featuregate cpumanager in kubevirt
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
  kustomize-units/kubevirt-test-vms/kustomization.yaml
Due: chart-generator, chart-jobs

new line at eof
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
Due: chart-generator, chart-jobs

Linters and charts jobs interruptible
  .gitlab/ci/chart-jobs.yml
  .gitlab/ci/main-pipeline-checks.yml
Due: chart-generator, chart-jobs

Modify value
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify schema
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Add snmp-exporter as a Sylva unit
  charts/sylva-units/configs/snmp-exporter/dell.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fixes issues in capi-garbage-cleanup.sh
  kustomize-units/cluster-garbage-collector/capi-garbage-cleanup.sh
Due: chart-generator, chart-jobs

upgrade metal3 / capm3 to 1.6.0 and baremetal-operator to 0.5.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 8e7159c438a3a2e6da26ab2e42285ed4546c8a7a)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify values
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Add registry CA in falcon values
  .gitignore
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/kustomization.yaml
  environment-values/ci/private/falcon-base/secrets.enc.yaml
  environment-values/ci/private/falcon-base/values.enc.yaml
  environment-values/ci/private/falcon-base/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Remove Longhorn default settings that are not customized
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add new unit
  kustomize-units/cabpe/kustomization.yaml
Due: chart-generator, chart-jobs

Add values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

add units description
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Reactivate gitleak
  .gitignore
  .gitlab-ci.yml
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
  .gitleaks.toml
Due: none

Amend gitleaks whitelist
  .gitleaks.toml
Due: none

Modify values
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Restoring schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

default to including RFC1918 private subnets in no_proxy
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/values.yaml
  environment-values/README.md
Due: chart-generator, chart-jobs, check-docs-markdown

Edit values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use new version of oci-tools image
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

close line break html tag
  charts/sylva-units/units-description.md
  tools/generate_units_documentation.py
Due: chart-generator, chart-jobs, check-docs-markdown

baremetal: allow nodeReuse with RKE2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

check that MachineDeployments are ready
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/dummy/base/configmap.yaml
  kustomize-units/dummy/base/kustomization.yaml
  kustomize-units/dummy/components/sleep-job/kustomization.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Test
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: chart-generator, chart-jobs
