Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-dashboards.git to v0.0.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

MinIO fixes
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add documentation on using image_key
  docs/sylva-os-images.md
Due: check-docs-markdown

monitoring - thanos
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/thanos/kustomization.yaml
  kustomize-units/namespace-defs/components/thanos/thanos-namespace.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/thanos-init/kustomization.yaml
  kustomize-units/thanos-init/thanos-certificate.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fix minio
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/logging/cluster-output.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 34aefef00a214c93551135fb47b56857b6deb5d0)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.92.1
  .gitlab-ci.yml
Due: none

Schema change
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Fix OpenSuse not used for libvirt metal CI
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capo.yml
  environment-values/ci/suse-os-rke2.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-wkld.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt.yml
Due: chart-generator, chart-jobs

Change equinix plan for ha
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

monitoring - loki
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/loki-init/configmap.yaml
  kustomize-units/loki-init/kustomization.yaml
  kustomize-units/namespace-defs/components/loki/kustomization.yaml
  kustomize-units/namespace-defs/components/loki/loki-namespace.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Create a dedicated longhorn storageclass for minio
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  kustomize-units/longhorn-storageclass/kustomization.yaml
  kustomize-units/longhorn-storageclass/storageclass.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Use display_external_ip for dns responses
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-prometheus-rules
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

capo - increase CI resources
  environment-values/ci/private/falcon-base/values.yaml
Due: chart-generator, chart-jobs

monitoring - rancher-logging
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/ci-enabled-units.yml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/logging/cluster-flow.yaml
  kustomize-units/logging/cluster-output.yaml
  kustomize-units/logging/kustomization.yaml
  kustomize-units/namespace-defs/components/cattle-logging/cattle-logging-namespace.yaml
  kustomize-units/namespace-defs/components/cattle-logging/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add base-deps everywhere in values.yaml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/test-values/nested-templating/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

syvla-units: control the order of xxx.values for bootstrap test values
  charts/sylva-units/test-values/bootstrap/00-management.values.yaml
  charts/sylva-units/test-values/bootstrap/01-bootstrap.values.yaml
  tools/validation/helm-template-yamllint.sh
Due: chart-generator, chart-jobs

let units inherit from multiple unit templates
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/sources.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

adapt workload-cluster.yaml for base-deps
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

rancher-monitoring add datasources and remotewrite
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix capd: disable 'thanos' and 'logging' units
  environment-values/ci/lightweight-disable-some-units.yml
Due: chart-generator, chart-jobs

Modify unit
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Add secrets file in capa
  charts/sylva-units/values.yaml
  kustomize-units/capa/credentials.yaml
  kustomize-units/capa/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 1dfe2ca46514a0fd2476da2259bd4c279897f282)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Refer secret
  environment-values/base/helm-release.yaml
Due: chart-generator, chart-jobs

Modify charts
  environment-values/base/helm-release.yaml
Due: chart-generator, chart-jobs

Rename file
  kustomize-units/capa/kustomization.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
  environment-values/base/helm-release.yaml
Due: chart-generator, chart-jobs

Use per-namespace credentials for loki and thanos
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/credentials-secret/kustomization.yaml
  kustomize-units/credentials-secret/secret.yaml
  kustomize-units/kyverno-policies/components/loki-aggregated-secrets/kustomization.yaml
  kustomize-units/kyverno-policies/components/loki-aggregated-secrets/loki-aggregated-secrets.yaml
  kustomize-units/kyverno-policies/components/thanos-aggregated-secrets/kustomization.yaml
  kustomize-units/kyverno-policies/components/thanos-aggregated-secrets/thanos-aggregated-secrets.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Modify
  kustomize-units/capa/credentials.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
