Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Kyverno policy to add bond_miimon option to metal3 networkData
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
  kustomize-units/kyverno-policies/patch-bond-policy.yaml
Due: chart-generator, chart-jobs

Add sso test login
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
Due: none

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

bump sylva-capi-cluster to 0.1.47
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release metal3 to v0.6.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update container-images/sylva-toolbox Docker tag to v0.3.8
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Modify
  kustomize-units/capa/credentials.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 6cc4efa3867b4d80ae7c3f56c70d07b90cbae779)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.2.5
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

annotate namespace-defs namespaces to disable pruning
  kustomize-units/namespace-defs/kustomization.yaml
Due: chart-generator, chart-jobs

Longhorn Document to update nodeAnnotation example to avoid validations error
  docs/longhorn.md
Due: check-docs-markdown

Test upgrade from git revision to another
  .gitlab/ci/child-pipeline-default.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
Due: none

Fix addition of Ironic rule to the capo security group
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Openstack job to verify quota before deployment
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/openstack-job/job.yaml
  kustomize-units/openstack-job/kustomization.yaml
  kustomize-units/openstack-job/openstack_quota.sh
Due: chart-generator, chart-jobs, check-docs-markdown

libvirt-metal bootstrap: have 'cluster' unit depend on 'libvirt-metal' unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

point to capi-cluster mtu branch
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

deploy libvirt-metal in sylva-system namespace
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

HA parameters for CAPI and providers
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs

Allow os_images.x.uri to be a string with gotpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

neuvector ghost cronjob
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/security.md
Due: chart-generator, chart-jobs, check-docs-markdown

fist temptative
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Rebase
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 07b849013fbbdb8d39d31a5916dae88e52398de6)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Modify
  charts/sylva-units/values.yaml
  kustomize-units/capa/credentials.yaml
Due: chart-generator, chart-jobs
