Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.2.3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 60c09b59d9cb407507f40d22e63b06a15cc9fbf5)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update workload-cluster-operator to v0.1.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/workload-cluster-operator/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Increase pvc size
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add kustomize unit to deploy glauth
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/glauth/config/base-groups.cfg
  kustomize-units/glauth/config/kustomization.yaml
  kustomize-units/glauth/config/secret.yaml
  kustomize-units/glauth/deployment.yaml
  kustomize-units/glauth/glauth-pdb.yaml
  kustomize-units/glauth/kustomization.yaml
  kustomize-units/glauth/service-account.yaml
  kustomize-units/glauth/service.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/namespace-defs/components/glauth/glauth-namespaces.yaml
  kustomize-units/namespace-defs/components/glauth/kustomization.yaml
  kustomize-units/rancher-users-resources-inject/inject_rancher-users-resources.yaml
  kustomize-units/rancher-users-resources-inject/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Sign sylva-units OCI artifact
  tools/oci/build-sylva-units-artifact.py
Due: none

Update Helm release rancher to v2.8.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Minor CAPO CI cleanup - remove redondent tag
  .gitlab/ci/pipeline-deploy-capo.yml
Due: none

Minor updates on capm3 values
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

retry_join parameters and no_proxy
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

Dump pods in debug_on_exit.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

add a unit to deploy workload-team helmchart
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Grafana admin password
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 690dc7591718a292799661f06a6c10ec9ba09820)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update Helm release external-secrets to v0.9.14
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency to-be-continuous/gitleaks to v2.5.1
  .gitlab-ci.yml
Due: none

Update rancher-logging to v103.0.1+up3.17.10
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

adjust to 2 interfaces per bond
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  docs/security.md
Due: check-docs-markdown

Update quay.io/kubevirt/cirros-container-disk-demo Docker tag to v1.2.0
  kustomize-units/kubevirt-test-vms/cirros-vm.yaml
Due: chart-generator, chart-jobs

Update sylvactl download URL
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Force tag update
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test ci
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

fix indentation
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

fix typo
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

Fix interface naming for CAPM3 samples
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

remove rule
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

upgrade local-path-provisioner to 0.0.26 (fix)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Kustomization for firewalling
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/capo-cluster-resources/stack-cluster-resources.yaml
  kustomize-units/firewall/common/all-nodes-policy.yaml
  kustomize-units/firewall/common/allow-from-pods.yaml
  kustomize-units/firewall/common/allow-to-pods.yaml
  kustomize-units/firewall/common/auto-create.yaml
  kustomize-units/firewall/common/cluster-fip-drop.yaml
  kustomize-units/firewall/common/cluster-fip-policy.yaml
  kustomize-units/firewall/common/default-policy.yaml
  kustomize-units/firewall/common/kustomization.yaml
  kustomize-units/firewall/common/master-nodes-policy.yaml
  kustomize-units/firewall/kyverno-calico-role/kustomization.yaml
  kustomize-units/firewall/kyverno-calico-role/kyverno-clusterrole.yaml
  kustomize-units/firewall/kyverno-capm3/kustomization.yaml
  kustomize-units/firewall/kyverno-capm3/kyverno-global-network-set-policy.yaml
  kustomize-units/firewall/kyverno-capo/kustomization.yaml
  kustomize-units/firewall/kyverno-capo/kyverno-global-network-set-policy.yaml
  kustomize-units/firewall/management-cluster/allow-to-ingress.yaml
  kustomize-units/firewall/management-cluster/allow-to-ironic.yaml
  kustomize-units/firewall/management-cluster/allow-to-k8s-gateway.yaml
  kustomize-units/firewall/management-cluster/cluster-fip-policy-management-cluster.yaml
  kustomize-units/firewall/management-cluster/kustomization.yaml
  kustomize-units/firewall/management-cluster/management-cluster-nodes.yaml
Due: chart-generator, chart-jobs

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.2.5
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix gitleak job to only detect secret included in MR when run in MR pipeline
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
Due: none

Add Sylva daily test results on vSphere (based on e783a82c76eddb0804151504feecac6a7b116d85)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Integration of Keycloak with a ldaps server
  charts/sylva-units/scripts/keycloak-add-truststore.sh
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  docs/img/security/keycloak-ldaps-sync.png
  docs/img/security/keycloak-user-federation-ldaps-config.png
  docs/security.md
  kustomize-units/keycloak/components/keycloak-truststore/kustomization.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add my test in templates deployments
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
