Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Loop keys
  charts/sylva-units/templates/_helpers.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

test- loop.
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Ensure status key exist during runner creation
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update Helm release trivy-operator to v0.23.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.226.10
  .gitlab-ci.yml
Due: none

Revert healthcheck
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add Sylva daily test results on vSphere (based on dc2c50873ffc0b6fd36bc1c7b6532bf27c538283)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Revert capi cluster to main
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Revert capi tag
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Capi-tag
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Apply 1 suggestion(s) to 1 file(s)
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: kustomize-lint

Removing proxy in capi and reverting tag
  charts/sylva-units/values.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Change in capi deployment patching
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

removed proxy for capi
  charts/sylva-units/values.yaml
  kustomize-units/capi/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency HelmRelease to helm.toolkit.fluxcd.io/v2
  kustomize-units/helmrelease-generic/release.yaml
Due: kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Improving kubevirt test templates
  kustomize-units/kubevirt-test-vms/cirros-vm.yaml
  kustomize-units/kubevirt-test-vms/multus-vm.yaml
Due: kustomize-lint

Kubevirt test templates for NUMA and CPU manager
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
  kustomize-units/kubevirt-test-vms/kustomization.yaml
  kustomize-units/kubevirt-test-vms/numa-fg-vm.yaml
Due: kustomize-lint

Adding kubelet args for cpumanager
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Kepping template for cpumanager only
  kustomize-units/kubevirt-test-vms/kustomization.yaml
  kustomize-units/kubevirt-test-vms/numa-fg-vm.yaml
Due: kustomize-lint

Changing OS from cirros to centos
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
Due: kustomize-lint

Shifting kubelet args in env values
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

test change
  environment-values/ci/misc-units-in-capo.yml
Due: kustomize-lint

removing feature gate as default is set
  environment-values/ci/misc-units-in-capo.yml
Due: kustomize-lint

set socket 1
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
Due: kustomize-lint

let the root-dependency check cope with suspended Kustomizations
  charts/sylva-units/scripts/root-dependency-check.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

issue-1253: fix non-existing unit failure
  charts/sylva-units/templates/_helpers.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update cluster-api-provider-openstack to v0.10.2
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

add kube-storage-version-migrator
  kustomize-units/kube-storage-version-migrator/kustomization.yaml
  kustomize-units/kube-storage-version-migrator/service-account.yaml
Due: kustomize-lint

add capo-v1alpha8-fix kustomization
  kustomize-units/capo-v1alpha8-fix/kustomization.yaml
  kustomize-units/capo-v1alpha8-fix/migration.yaml
Due: kustomize-lint

Upgrading capi version
  kustomize-units/capi/kustomization.yaml
Due: kustomize-lint

Fix Thanos serviceMonitor auth
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Cleanup Thanos values
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Create runner with 'test' code from runner-aas
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

assess dex to sylva
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/dex-init/dex-config.yaml
  kustomize-units/dex-init/dex-secret.yaml
  kustomize-units/dex-init/dex-tls.yaml
  kustomize-units/dex-init/kustomization.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/namespace-defs/components/dex/dex.yaml
  kustomize-units/namespace-defs/components/dex/kustomization.yaml
  kustomize-units/synchronize-secrets/components/dex/dex-initial-admin.yaml
  kustomize-units/synchronize-secrets/components/dex/kustomization.yaml
  kustomize-units/vault-secrets/components/dex/kustomization.yaml
  kustomize-units/vault-secrets/components/dex/random-dex-secret.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update Helm release thanos to v15
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add capo-v1alpha8-fix-* units
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/kube-job/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Add Sylva daily test results on vSphere (based on bf764a2ebf38c48adfa0fb0b141e3990c182f80a)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

add ClusterRole to kube-job (needed to handle CRDs)
  charts/sylva-units/bootstrap.values.yaml
  kustomize-units/kube-job/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint
