Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Increase kyverno controllers memory limits
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

let 'cluster-import' unit depend on 'cluster-reachable'
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

add ingress-nginx dependency on libvirt-metal unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Use renovate preset
  renovate.json
Due: none

test new chart version
  charts/sylva-units/values.yaml
  kustomize-units/flux-ksm/ksm-config.yaml
  kustomize-units/flux-ksm/ksm-kyverno.yaml
  kustomize-units/flux-ksm/kustomization.yaml
Due: chart-generator, chart-jobs

Enable metallb updates
  renovate.json
Due: none

update HelmRelease version to v2beta2 in kyverno policies
  kustomize-units/kyverno-policies/prevent-deletion.yaml
Due: chart-generator, chart-jobs

let "sylva-prometheus-rules" unit depend on "monitoring" unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Set rancher-webhook failure policy to ignore until deployment has one ready replica
  charts/sylva-units/values.yaml
  environment-values/ci/lightweight-disable-some-units.yml
  kustomize-units/kyverno-policies/kustomization.yaml
  kustomize-units/kyverno-policies/rancher-webhook-failurepolicy.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs

fix capd: disable 'thanos' and 'logging' units
  environment-values/ci/lightweight-disable-some-units.yml
Due: chart-generator, chart-jobs

enable 'loki' and 'logging' units by default
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

remove minio, loki and logging related units from 'misc' job
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

enable 'loki' and 'logging' units by default
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

include sylva-units values in debug-on-exit + job artifact
  tools/extractHelmReleaseValues.py
  tools/shell-lib/debug-on-exit.sh
Due: none

Add Sylva daily test results on vSphere (based on 6ecae1585f14cd53be2fa86b38194ad9a636a33e)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.102.0
  .gitlab-ci.yml
Due: none

Modify
  kustomize-units/capa/credentials.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
  kustomize-units/capa/credentials.yaml
Due: chart-generator, chart-jobs

Regroup rancher logging updates
  renovate.json
Due: none

Align SRIOV Rancher charts with the rancher version
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs, check-docs-markdown

add enabled parameter to os_images
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
