Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

tools/generate_units_documentation.py: enter search_version_in_kustomize_unit_files code path only for sylva-core and internal != true
  tools/generate_units_documentation.py
Due: none

bootstrap: populate cluster_services_cidrs/cluster_pods_cidrs
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

always produce no_proxy with base entries
  charts/sylva-units/templates/_values_helpers.tpl
Due: chart-generator, chart-jobs

always add 127.0.0.1 to no_proxy
  charts/sylva-units/templates/_values_helpers.tpl
Due: chart-generator, chart-jobs

sylva-units: fix sylva-units.no_proxy named template, avoid empty element in the list
  charts/sylva-units/templates/_values_helpers.tpl
Due: chart-generator, chart-jobs

Fix HA mode check for workload clusters
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add to vsphere-cpi the same dependencies of the capv cluster
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

no_proxy: simplify code adding cluster_services_cidrs and cluster_pods_cidrs
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_values_helpers.tpl
Due: chart-generator, chart-jobs

Test HA in capm3 virt deployment
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v13.3.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on df23a9871f64ea3d7772b0c63a4354acab3f22ad)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add values
  charts/sylva-units/values.yaml
  environment-values/workload-clusters/eks-capa/kustomization.yaml
  environment-values/workload-clusters/eks-capa/values.yaml
Due: chart-generator, chart-jobs

Delete file
  environment-values/workload-clusters/eks-capa/kustomization.yaml
  environment-values/workload-clusters/eks-capa/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.1.7
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Mount docker sock only for capd in bootstrap cluster
  tools/kind/bootstrap-cluster.sh
Due: none

Update Helm release kyverno to v3.1.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fixes for issues in capi-garbage-cleanup.sh
  kustomize-units/cluster-garbage-collector/capi-garbage-cleanup.sh
Due: chart-generator, chart-jobs

debug-on-exit.sh: fix apiVersion for capv resources
  tools/shell-lib/debug-on-exit.sh
Due: none

Prevent deletion of mgmt cluster components
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
  kustomize-units/kyverno-policies/prevent-deletion.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Modify values
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Modify value
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Handle "falcon"-specific CAPO CI values in a SOPS-encrypted file
  .gitignore
  .gitlab/ci/common.yml
  .gitlab/ci/scripts/generate-pipeline.sh
  .gitlab/ci/templates-deployments.yml
  .sops.yaml
  environment-values/ci/private/falcon-base/kustomization.yaml
  environment-values/ci/private/falcon-base/values.enc.yaml
Due: chart-generator, chart-jobs

Use nexus
  .gitlab/ci/templates-deployments.yml
Due: none

cleanup kustomize warning "# Warning: 'commonLabels' is deprecated. ..."
  environment-values/kubeadm-capd/kustomization.yaml
  environment-values/kubeadm-capo/kustomization.yaml
  environment-values/kubeadm-capv/kustomization.yaml
  environment-values/rke2-capd/kustomization.yaml
  environment-values/rke2-capm3-virt/kustomization.yaml
  environment-values/rke2-capm3/kustomization.yaml
  environment-values/rke2-capo-capm3/kustomization.yaml
  environment-values/rke2-capo/kustomization.yaml
  environment-values/rke2-capv/kustomization.yaml
  environment-values/workload-clusters/rke2-capo/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on a4b06a29985c11e488ec9e170db139002016b54e)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on a4b06a29985c11e488ec9e170db139002016b54e)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

documentation for kubevirt
  docs/kubevirt.md
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 0bed8ebd060ed3b00b8bafad649699004e84b90c)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update kubernetes-sigs/cluster-api to 1.6.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/cluster-garbage-collector/xtemplate-cleaner-cronjob.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

increase kubelet max-pods to 196 instead of default 111 for single-node deployments
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/values.yaml
  environment-values/ci/dummy-rolling-update-trigger.yml
  environment-values/ci/max-pods.yml
Due: chart-generator, chart-jobs

artifact_integrity: calculate artifact_version from the tgz filename instead of passing it
  tools/oci/push-helm-charts-artifacts.sh
Due: none

fix push_and_sign by adding artifact_version
  tools/oci/push-helm-charts-artifacts.sh
Due: none

apply Thomas's suggestion
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Allow scheduled pipeline on dev branch with open MR
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tools/oci/push-helm-charts-artifacts.sh
Due: none

fix wrong type for max-pods
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test kubadm metallb namespace
  environment-values/kubeadm-capd/values.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
