Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

csc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

policy
  kustomize-units/kyverno-policies/generic/add-security-context.yaml
Due: chart-generator, chart-jobs

all sc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

typo
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

sc
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/generic/add-security-context.yaml
Due: chart-generator, chart-jobs

priv
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/generic/add-security-context.yaml
Due: chart-generator, chart-jobs

loki
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

priv configurable
  kustomize-units/kyverno-policies/generic/add-security-context.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on af5750d9e74b08f913542d7129027668795a8413)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update get-openstack-images dependencies
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Have cluster-creator-login use ClusterIP rancher service
  charts/sylva-units/values.yaml
  kustomize-units/cluster-creator-login/cluster-creator-login.sh
Due: chart-generator, chart-jobs

Update PodDisruptionPolicy
  kustomize-units/postgres-init/postgres-pdb.yaml
  kustomize-units/vault/pdb.yaml
Due: chart-generator, chart-jobs

enable clusterresource set
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

flavor
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Update longhorn to v103.2.3+up1.5.5 (patch)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on af401ecf561077f073b28a61f0c2521a28f6c2e8)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

rework cluster-machines-ready to fix kubeadm/calico issue for workload clusters
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Update longhorn to v103.3.0+up1.6.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Run sonobuoy on mgmt
  .gitlab/ci/tests/conformance/sonobuoy.yml
Due: none

Add first commit message to MR template
  .gitlab/merge_request_templates/Default.md
Due: check-docs-markdown

Enable standalone use of debug-on-exit
  tools/shell-lib/debug-on-exit.sh
Due: none

Update Helm release redis-cluster to v9.1.6
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release gitea to v9.6.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release redis-cluster to v9.8.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update sriov to v103.1.0+up0.1.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

use sylva-library getApiVersion named in healthcheck named template template
  .gitlab/ci/main-pipeline-checks.yml
  charts/sylva-units/Chart.yaml
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  tools/kind/bootstrap-cluster.sh
Due: chart-generator, chart-jobs, check-docs-markdown

Cluster-secrets units for root password
  charts/sylva-units/values.yaml
  kustomize-units/cluster-secrets/cluster-root-password/cluster-root-secret.yaml
  kustomize-units/cluster-secrets/cluster-root-password/kustomization.yaml
  kustomize-units/cluster-secrets/init/kubernetesauthenginerole-cluster-write.yaml
  kustomize-units/cluster-secrets/init/kustomization.yaml
  kustomize-units/cluster-secrets/init/serviceaccount-vault.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-externalsecrets.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-kubernetesauthengineroles.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-machines.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-randomsecrets.yaml
  kustomize-units/cluster-secrets/kyverno/clusterrole-serviceaccounts.yaml
  kustomize-units/cluster-secrets/kyverno/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v17.209.0
  .gitlab-ci.yml
Due: none

Use CEL webhook matchconditions for patch-bond-policy Kyverno policy
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/generic/patch-bond-policy.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Small improvements in kyverno policies
  kustomize-units/kyverno-policies/generic/ensure-force-cluster-policy.yaml
  kustomize-units/kyverno-policies/generic/ensure-pdb-minreplicas.yaml
Due: chart-generator, chart-jobs

Create RoleTemplates for common resources (CRDs, net pol, multus)
  charts/sylva-units/values.yaml
  kustomize-units/rancher-default-roles/clusternetworkpolicies.yaml
  kustomize-units/rancher-default-roles/customresourcedefinitions.yaml
  kustomize-units/rancher-default-roles/kustomization.yaml
  kustomize-units/rancher-default-roles/networkattachments.yaml
  kustomize-units/rancher-default-roles/projectnetworkpolicies.yaml
Due: chart-generator, chart-jobs

update units description
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

workload clusters: properly depend on mgmt-cluster-ready Kustomization
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Serve gzipped images from oci artifacts in os-image-server
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Kyverno-policies from bootstrap.values must use _components from values.yaml
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

sylva-units: introduce kustomization_name
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/sylva-units-values.yaml
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

sylva-units: introduce versioned-depency Kustomizations
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/dummy/base/configmap.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs

Update dependency to-be-continuous/gitleaks to v2.5.2
  .gitlab-ci.yml
Due: none

Add Sylva daily test results on vSphere (based on 16f216b588903bc264f070d716e3d44c7cd7a2b5)
  capv-daily-tests-results/README.md
Due: check-docs-markdown
