Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Copy ocirepository from bootstrap cluster to management cluster
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

disable Neuvector scanner
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/security.md
Due: chart-generator, chart-jobs, check-docs-markdown

Improve testability and robustness for get-openstack-images
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

make schema stricter for monitoring.thanos_receive_url and logging.loki_url
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

patch remove
  tools/wc-cleanup.sh
Due: none

Add Sylva daily test results on vSphere (based on 60ec6437ddf8b0f2bb8b6741888f9ef17c4d3da5)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Use only 1 replica
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Disable prevent deletion policy from bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/prevent-deletion.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
Due: chart-generator, chart-jobs

executable
  tools/wc-cleanup.sh
Due: none

echo
  tools/wc-cleanup.sh
Due: none

enabled loki for testing new feature, to be disabled before merge
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Loosen up the oci url to support custom built images
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/sylva-os-images.md
Due: chart-generator, chart-jobs, check-docs-markdown

update replicawait interval
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Allow pod in default ns in bootstrap cluster
  kustomize-units/kyverno-policies/components/management-cluster-only/default-namespace.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
Due: chart-generator, chart-jobs

capm3: move BareMetalHosts into new 'cluster-bmh' unit
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Increase server resources for capm3 jobs
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

update value
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

confirm
  tools/wc-cleanup.sh
Due: none

test
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on bdaf1aac2f9ed009a9e668b70a0a389f793b6f28)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Run git pull after changing to a given revision
  .gitlab/ci/templates-deployments.yml
Due: none

Run capm3 test on docker executor runner
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
Due: none

xadd exceptiuon to kubescore on Container Security Context Privileged test
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Improve output of `get-wc-kubeconfig-from-rancher.sh`
  tools/shell-lib/get-wc-kubeconfig-from-rancher.sh
Due: none

Update sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.8
  .gitlab/ci/common.yml
Due: none

Add Sylva daily test results on vSphere (based on 9525021e46af21a6f7dafc1b338a52afea50a0c9)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Sign Helm charts pushed in the OCI registry
  docs/cosign.md
  docs/img/cosign-gitlab-variables.png
  tools/oci/push-helm-charts-artifacts.sh
Due: check-docs-markdown

Simplify private values injection
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/private/falcon-base/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 9c0de311540f3403aa4e718fa118354d9d4aff44)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

adding oci target
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/security.md
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs, check-docs-markdown

run shared-workload-clusters-oci-source in bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

checks
  tools/wc-cleanup.sh
Due: none

base-dir
  tools/wc-cleanup.sh
Due: none

base
  tools/wc-cleanup.sh
Due: none

update replicaRelenishmentWaitinterval
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix Keycloak resources healthcheck
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test heat-operator
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test
  tools/kind/bootstrap-cluster.sh
Due: none
