Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

sylva-units:helm-lint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - helm lint charts/sylva-units

sylva-units:helm-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  ...

sylva-units:helm-template-yamllint:
  stage: test
  needs:
  - job: sylva-units:helm-schema-validation
    optional: true
  interruptible: true
  before_script:
  - chart_dir=charts/${HELM_NAME}
  - 'function helm() { $(which helm) $@ 2> >(grep -v ''found symbolic link'' >&2); }
  
    '
  script:
  - ./tools/validation/helm-template-yamllint.sh
  variables:
  ...

kustomize-lint:
  stage: test
  needs: []
  interruptible: true
  script:
  ...

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

wc
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

kyverno policies enabled
  charts/sylva-units/management.values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

kyverno
  environment-values/ci/lightweight-disable-some-units.yml
Due: kustomize-lint

skip deploy workload cluster
  .gitlab/ci/deployment-pipeline.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

remove need
  .gitlab/ci/deployment-pipeline.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update workload-cluster.svg.md
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.svg.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

remove sylva_diskimagebuilder_images/os_images from shared_workload_clusters_values
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

fix schema
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Use the same k8s versions in all rules
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Test pre-downloaded artifacts in CI
  apply.sh
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

dummy diff
  apply.sh
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Minor cleanup on capm3 kubeadm CI job
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Skip the deletion of workload cluster namespace
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/templates/delete_hook.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

fix typo
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

var renaming
  charts/sylva-units/scripts/get-os-existing-resources.sh
  kustomize-units/capo-cluster-resources/heat-stack/stack-cluster-resources.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update Helm release external-secrets to v0.9.18
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update Helm release kubevirt to v0.2.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.25
  .gitlab/ci/common.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update rancher-cis-benchmark to v4.5.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Experiment tests addition
  .gitlab/ci/tests/security/kubescore.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/tests/security/kubescore.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

capo 0.10.2
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Implement a blacklist
  .gitlab/ci/tests/security/kubescore.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Fix missing kubeconfig for capo cleanup
  .gitlab/ci/pipeline-deploy-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

test
  charts/sylva-units/values.yaml
  kustomize-units/openstack-job/job.yaml
  kustomize-units/openstack-job/kustomization.yaml
  kustomize-units/openstack-job/role.yaml
  kustomize-units/openstack-job/secret.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

debug
  kustomize-units/openstack-job/kustomization.yaml
Due: kustomize-lint

test
  kustomize-units/openstack-job/kustomization.yaml
Due: kustomize-lint

Use capo 0.10.2
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

test
  charts/sylva-units/values.yaml
  kustomize-units/openstack-job/secret.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

minor: fix a 'bootstrap' typo
  .gitlab/ci/main-pipeline-checks.yml
  tools/shell-lib/debug-on-exit.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update values.yaml for branch name
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update values.yaml for rke2-capo-capm3
  environment-values/rke2-capo-capm3/values.yaml
Due: kustomize-lint

fix vol
  kustomize-units/openstack-job/kustomization.yaml
Due: kustomize-lint

script
  kustomize-units/openstack-job/kustomization.yaml
Due: kustomize-lint

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
