Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

timouts for capm3
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Add Sylva daily test results on vSphere (based on e1eb8ae232a3d8a051a0009e6f719b0f928c882f)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Modify unit
  kustomize-units/cloud-formation-operator/kustomization.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Modify unit
  kustomize-units/cabpe/eksconfigs.yaml
  kustomize-units/cabpe/kustomization.yaml
Due: chart-generator, chart-jobs

Modify unit
  kustomize-units/cabpe/kustomization.yaml
Due: chart-generator, chart-jobs

Modify unit
  kustomize-units/cabpe/eksconfigs.yaml
Due: chart-generator, chart-jobs

Modify charts
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test-bond_xmit_hash_policy
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Test
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

enable LoadBalancer svc creation for ingress-nginx Ingress controller
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

updated value
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

rework kube-job things
  .gitlab/ci/main-pipeline-checks.yml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/kustomization.yaml
  kustomize-units/kube-job/job.yaml
  kustomize-units/namespace-defs/kube-job-namespace.yaml
  kustomize-units/namespace-defs/kustomization.yaml
Due: chart-generator, chart-jobs

workload-cluster.values.yaml - avoid overriding targetNamespace for units living in mgmt cluster
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

update
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

use reworked Longhorn and adjust doc for it
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  docs/longhorn-node-annotations.md
  docs/longhorn.md
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-wkld.yml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs, check-docs-markdown

add CI jobs for testing rke2 node annotations
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

try to use wildcard cert for bootstrap cluster proxy Ingress exposing mgmt cluster kube-api and services/ingresses
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

test mtu
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable cluster-ready unit in bootstrap cluster
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Enable LoadBalancer svc creation for ingress-nginx Ingress controller
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

OS images download: introduce os_images_default_download_storage_space
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Adjust to Longhorn disk config rework
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  docs/longhorn-node-annotations.md
  docs/longhorn.md
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-wkld.yml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs, check-docs-markdown

Update container-images/sylva-toolbox Docker tag to v0.3.4
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Add get-openstack-images in CI values for misc-units-in-capo
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on dce3d8bdeb80b431410a41a8183f146a0fd4ae24)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

initial commit (2)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/loki-tls.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

changed unit name from loki to loki-scalable (in the near futre the loki microservice (distributed) version will be also installed for better performance)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/loki-scalable/kustomization.yaml
  kustomize-units/namespace-defs/components/loki-scalable/loki-scalable-namespace.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/loki-tls.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

initial commit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on dce3d8bdeb80b431410a41a8183f146a0fd4ae24)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

correctiong of tls paths
  kustomize-units/sylva-ca-certs/components/minio-monitoring-tenant-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/minio-monitoring-tenant-tls/minio-monitoring-tenant-tls.yaml
  kustomize-units/sylva-ca-certs/components/minio-operator-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/minio-operator-tls/minio-operator-console-tls.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
