Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

fix typo
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.9
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

remove rules
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

change rules
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

Add set -x to cluster-creator-login script
  kustomize-units/cluster-creator-login/cluster-creator-login.sh
Due: chart-generator, chart-jobs

Keep shared-workload-clusters-settings in sync with management-cluster values
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
Due: chart-generator, chart-jobs

Use upstream version of capd controller with RKE2
  .gitignore
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capd.yml
  README.md
  charts/sylva-units/values.yaml
  docs/capd.md
  environment-values/rke2-capd/values.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capd/rke2/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

CAPO CI: change the container/OCI registry
  environment-values/ci/private/falcon-base/secrets.enc.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/container-images/libvirt-metal.git to v0.1.12
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

ingress-nginx: enable retries on Helm release upgrade
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on c0335a739c938225d1633278ab30380732b194cf)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Allow the pipeline name selector use to generate the report to be configured via a ENV variable
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Improve kyverno policy for monitoring
  kustomize-units/rancher-monitoring-clusterid-inject/inject_cluster_id.yaml
Due: chart-generator, chart-jobs

configure bootstrap.sh from extracted values instead of values.yaml
  tools/kind/bootstrap-cluster.sh
Due: none

change paths
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.10
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

go-templating : add regex to parse out correctly unwanted escape characters
  charts/sylva-units/templates/_interpret-values.tpl
  charts/sylva-units/test-values/encapsulated-result-regex/README.md
  charts/sylva-units/test-values/encapsulated-result-regex/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 5f6dcc73780338773caf35dc10f7f38a712a871d)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Use Kyverno to provision snmp resources in Prometheus
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/secrets.yaml
  environment-values/rke2-capm3-virt/values.yaml
  kustomize-units/prometheus-resources/kustomization.yaml
  kustomize-units/prometheus-resources/prometheus-bmh-clusterpolicy.yaml
  kustomize-units/prometheus-resources/prometheus-config-values.yaml
  kustomize-units/prometheus-resources/prometheus-sd-files-bmh.yaml
  kustomize-units/prometheus-resources/prometheus-sd-files.yaml
  kustomize-units/prometheus-snmp-resources/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Integrate k8s 1.28.8
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/k8s-1.25.yml
  environment-values/ci/k8s-1.26.yml
  environment-values/ci/k8s-1.27.yml
  environment-values/ci/k8s-1.28.yml
  environment-values/ci/k8s-kubeadm-1.26.yml
  environment-values/ci/k8s-kubeadm-1.27.yml
  environment-values/ci/k8s-kubeadm-1.28.yml
  environment-values/ci/suse-os-rke2.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt.yml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update rancher-monitoring to v103.0.4+up45.31.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.158.2
  .gitlab-ci.yml
Due: none

Add condition for snmp clusterPolicy
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-resources/components/kyverno-snmp-bmh-policy/kustomization.yaml
  kustomize-units/prometheus-resources/components/kyverno-snmp-bmh-policy/prometheus-bmh-clusterpolicy.yaml
  kustomize-units/prometheus-resources/kustomization.yaml
Due: chart-generator, chart-jobs

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.22
  .gitlab/ci/common.yml
Due: none

Add Sylva daily test results on vSphere (based on 967bf4222ce4e898fa075569eca266bee96eea90)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 967bf4222ce4e898fa075569eca266bee96eea90)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.159.0
  .gitlab-ci.yml
Due: none

Update registry.gitlab.com/gitlab-org/cli Docker tag to v1.38.0
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

Update sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.9
  .gitlab/ci/common.yml
Due: none

update
  tools/workload-cluster-cleanup.sh
Due: none

Do not use CI_COMMIT_SHA as CURRENT_COMMIT ref
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Check that kubeconfig is targeting management cluster
  apply-workload-cluster.sh
  apply.sh
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Add annotations for ingress nginx
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 62f45274e7200a95594c77ba61cb0a2ce5d3e673)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

MinIO - use Vault secrets
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/loki-init/configmap.yaml
  kustomize-units/loki-init/kustomization.yaml
  kustomize-units/loki-init/loki-secret.yaml
  kustomize-units/minio-monitoring-tenant-init/configmap.yaml
  kustomize-units/minio-monitoring-tenant-init/kustomization.yaml
  kustomize-units/minio-monitoring-tenant-init/minio-monitoring-root-secret.yaml
  kustomize-units/minio-monitoring-tenant-init/minio-monitoring-root-vault-create.yaml
  kustomize-units/minio-monitoring-tenant-init/minio-monitoring-user-secret.yaml
  kustomize-units/minio-monitoring-tenant-init/minio-monitoring-user-vault-create.yaml
  kustomize-units/thanos-init/kustomization.yaml
  kustomize-units/thanos-init/thanos-certificate.yaml
  kustomize-units/thanos-init/thanos-secret.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.12
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Change the default location of local-path-provisioner
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Remove healtchecks for metal3
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
