Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

wc-cleanup
  tools/wc-cleanup.sh
Due: none

Provide template and instructions to interpret values locally
  charts/sylva-units/README.md
  charts/sylva-units/templates/extras/interpreted-values.tpl
Due: chart-generator, chart-jobs, check-docs-markdown

usage
  tools/wc-cleanup.sh
Due: none

modify
  tools/wc-cleanup.sh
Due: none

wc
  tools/wc-cleanup.sh
Due: none

Reorder deployment workflow
  .gitlab/ci/child-pipeline-default.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

cluster misconfig
  tools/wc-cleanup.sh
Due: none

Test multi runner
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

increase timeout for metal3/metal3-suse units
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor units definitions cleanups
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

initial commit (2)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/loki-tls.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

changed unit name from loki to loki-scalable (in the near futre the loki microservice (distributed) version will be also installed for better performance)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/loki/kustomization.yaml
  kustomize-units/namespace-defs/components/loki/loki-namespace.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/loki-tls.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

ading new way to handle certificates, password
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/loki-scalable-init/configmap.yaml
  kustomize-units/loki-scalable-init/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/loki-tls.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Rename baremetal public network.
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update file values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/loki-init/configmap.yaml
  kustomize-units/loki-init/kustomization.yaml
  kustomize-units/loki-scalable-init/configmap.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Pass proxy and oci_registry_extra_ca_certs option to snmp-exporter init container for flux pull
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sharing loki url
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/loki/kustomization.yaml
Due: chart-generator, chart-jobs

pass minio_monitoring_tenant_console_password in helm_secret_values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 85d6e4be82d2de59672703f325cc3ef0bc49b992)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

test ceph csi
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test commit
  README.md
Due: check-docs-markdown

Update Helm release postgresql-ha to v11.9.8
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

update dependencies
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove dependencies temp
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

added CI testing values
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs

create ceph as a default storage class
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add dependency for cinder-csi
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 3 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

update section acme
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/security.md
  kustomize-units/flux-system/offline/manifests.yaml
  kustomize-units/keycloak/keycloak-internal-certificate.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/sylva-ca/components/acme-issuer/acme-issuer.yaml
  kustomize-units/sylva-ca/components/acme-issuer/acme-secret.yaml
  kustomize-units/sylva-ca/components/acme-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/ca-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/vault-issuer/external-vault-token.yaml
  kustomize-units/sylva-ca/components/vault-issuer/kustomization.yaml
  kustomize-units/sylva-ca/components/vault-issuer/vault-issuer.yaml
  kustomize-units/sylva-ca/internal-ca.yaml
  kustomize-units/sylva-ca/kustomization.yaml
  kustomize-units/vault/kustomization.yaml
  kustomize-units/vault/vault-internal-certificate.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs, check-docs-markdown
