Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Update s-c-c tag
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update sylva-projects/sylva-elements/container-images/openstack-client Docker tag to v0.0.11
  .gitlab/ci/common.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Allow reuse of manually created Cluster virtual IP
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/scripts/get-os-existing-resources.sh
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/capo-cluster-resources/heat-stack/stack-cluster-resources.yaml
  kustomize-units/openstack-job/job.yaml
  kustomize-units/openstack-job/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Update docker Docker tag to v26
  .gitlab/ci/common.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update rancher-logging to v103.1.1+up4.4.0 (minor)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

script promote cosign keys
  tools/security/groups-keys.sh
Due: none

Apply 3 suggestion(s) to 3 file(s)
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/keycloak-oidc-external-secrets/eso-grafana-oidc.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Add admin password
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

update schema
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

keycloak-grafana
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/keycloak-oidc-external-secrets/eso-grafana-oidc.yaml
  kustomize-units/keycloak-oidc-external-secrets/kustomization.yaml
  kustomize-units/keycloak-resources/grafana-client.yaml
  kustomize-units/keycloak-resources/keycloak-realm.yaml
  kustomize-units/keycloak-resources/keycloak-user.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Add certificate
  charts/sylva-units/values.yaml
  kustomize-units/grafana-init/grafana-certificate.yaml
  kustomize-units/grafana-init/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 2 suggestion(s) to 2 file(s)
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

keycloak-grafana
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

keycloak-grafana
  charts/sylva-units/management.values.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

update unit doc
  charts/sylva-units/units-description.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

update schema
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Add certificate
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Apply 3 suggestion(s) to 3 file(s)
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
Due: kustomize-lint

fix conflict
  charts/sylva-units/management.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

remove 55.55.55.55 default value and allow "" instead
  charts/sylva-units/scripts/get-os-existing-resources.sh
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

default value
  kustomize-units/capo-cluster-resources/heat-stack/stack-cluster-resources.yaml
Due: kustomize-lint

Use 1.8 profile
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

enable capo-get-existing-resources
  environment-values/ci/misc-units-in-capo.yml
Due: kustomize-lint

add Go script to parse Kustomization structs from helm template output and create mermaid diagrams showing unit dependencies graph
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.md
  charts/sylva-units/images/unit-dependency-diagrams/workload-cluster.md
  charts/sylva-units/test-values/workload-cluster/shared-settings-mock.values.yaml
  environment-values/rke2-capm3/secrets.yaml
  tools/unit-dependency-diagram/diagram.go
  tools/unit-dependency-diagram/go.mod
  tools/unit-dependency-diagram/go.sum
  tools/unit-dependency-diagram/main.go
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Add loadBalancerClass
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Update condition
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Disable for CAPD
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update conditions
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add conditional and set to false
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Rename var
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Use set-if-defined
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update Helm release external-secrets to v0.9.18
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

add kube audit to logging sources if audit log is enabled
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add alertmanager-config unit
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

remove md-0 node from HA
  environment-values/rke2-capm3-virt/ha.yaml
Due: kustomize-lint

test svg from dot example
  charts/sylva-units/images/unit-dependency-diagrams/dot-example.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

try github.com/mermaid-js/mermaid-cli
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-1.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-2.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-3.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-4.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-5.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-6.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-7.svg
  charts/sylva-units/images/unit-dependency-diagrams/bootstrap-cluster.md-8.svg
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

improve mgmt-cluster-ready dependency declaration
  charts/sylva-units/units-description.md
  charts/sylva-units/workload-cluster.values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

try github.com/mermaid-js/mermaid-cli for management
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.md
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-1.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-2.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-3.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-4.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-5.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-6.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf-7.svg
  charts/sylva-units/images/unit-dependency-diagrams/management-cluster.pdf.md
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown
