Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Change cm ns
  kustomize-units/kyverno-snmp-policies/baremetalhosts-specs-cm.yaml
Due: chart-generator, chart-jobs

Update cm name
  kustomize-units/kyverno-snmp-policies/baremetalhosts-specs-cm.yaml
Due: chart-generator, chart-jobs

Kyverno: No longer an option, its mandatory
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix policy
  kustomize-units/kyverno-snmp-policies/snmp-resources.yaml
Due: chart-generator, chart-jobs

Update tag for sylva-snmp-resources
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update snmp sd_files import in Prometheus
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Fix sd_file include path
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Share openstack_storageClass via shared_wc_values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Change cm name
  kustomize-units/kyverno-snmp-policies/baremetalhosts-specs-cm.yaml
  kustomize-units/kyverno-snmp-policies/snmp-resources.yaml
Due: chart-generator, chart-jobs

Update docs
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

docs: introduce node_class
  docs/node_class.md
Due: check-docs-markdown

enhance code readability
  tools/login-test/test-sso.py
Due: none

Add Sylva daily test results on vSphere (based on 13033fe6e7aeb2e75f334353ee1d621b68c43543)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Test cm
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add a unit to deploy workload-team helmchart
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add rke2-capd workload cluster sample and add cluster_virtual_ip
  environment-values/workload-clusters/rke2-capd/kustomization.yaml
  environment-values/workload-clusters/rke2-capd/secrets.yaml
  environment-values/workload-clusters/rke2-capd/values.yaml
  environment-values/workload-clusters/sample-workload-cluster/secrets.yaml
  environment-values/workload-clusters/sample-workload-cluster/values.yaml
Due: chart-generator, chart-jobs

Create unit
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-snmp-resources/kustomization.yaml
  kustomize-units/prometheus-snmp-resources/prometheus-sd-files.yaml
  kustomize-units/prometheus-snmp-resources/prometheus-values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add diskimage builder tag/version to glance image names
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Reduce snmp-exporter replicas to default (1)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

move CLOUD and backofflimit to postBuild
  charts/sylva-units/values.yaml
  kustomize-units/openstack-job/job.yaml
Due: chart-generator, chart-jobs

str
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix harbor deployment for workload clusters (and capo-misc CI pipeline)
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/misc-units-in-capo-wkld.yml
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

test new named_template
  charts/sylva-units/templates/_capo_resources.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix
  charts/sylva-units/templates/_capo_resources.tpl
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/container-images/libvirt-metal.git to v0.1.11
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

minor: fix keycloack -> keycloak typo
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update snmp-exporter to v5.1.0 and update devices schema
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  kustomize-units/prometheus-snmp-resources/kustomization.yaml
  kustomize-units/prometheus-snmp-resources/prometheus-sd-files.yaml
  kustomize-units/prometheus-snmp-resources/prometheus-values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-dashboards.git to v0.0.5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update longhorn to v103.2.2+up1.5.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on d23cec7d9b80ea2aa49d60e66352d1e71ba21bc8)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

fix pipelines_schedules_report.py bug on undefined pipeline duration
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

fix pipelines_schedules_report.py bug on child pipeline with no id
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Update file pipelines_schedules_report.py
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Add Sylva daily test results on vSphere (based on 2371e776aa4b94e202d8d5d0756cd33937fa7298)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

CI, fix capo-misc pipeline, missing units related to sylva-units-operator
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

fix pipelines_schedules_report.py bug
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Add Sylva daily test results on vSphere (based on 2c213128f810593ebd0be3ceca4aeeff6489b55f)
  capv-daily-tests-results/README.md
Due: check-docs-markdown
