Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Add Sylva daily test results on vSphere (based on d48edb3b35e2beec16195a11b6ba7d88b16c5a90)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.195.3
  .gitlab-ci.yml
Due: none

Enable capo-cloud-config unit in capo-misc
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

only deploy patch-bond Kyverno policy if capm3 is enabled
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/generic/components/capm3-patch-bond-policy/kustomization.yaml
  kustomize-units/kyverno-policies/generic/components/capm3-patch-bond-policy/patch-bond-policy.yaml
  kustomize-units/kyverno-policies/generic/kustomization.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/gitlab-org/cli Docker tag to v1.40.0
  .gitlab/ci/pipeline-deploy-capm3-virt-equinix.yml
Due: none

Remove dependency on cluster-machine-ready for namespace-defs for WC
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Fix scheduled report displayu
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Modify for machine pool schema
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Improve workload cluster deletion log and logic
  .gitlab/ci/templates-deployments.yml
Due: none

Avoid downloading artifacts in delete stage
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/templates-deployments.yml
Due: none

enable the management-cluster-only Kyverno policies component only in mgmt cluster
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.6.4
  charts/sylva-units/units-description.md
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/cluster-garbage-collector/xtemplate-cleaner-cronjob.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency metal3-io/cluster-api-provider-metal3 to v1.7.0
  charts/sylva-units/units-description.md
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release thanos to v12.23.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/kube-job Docker tag to v1.0.12
  kustomize-units/cluster-garbage-collector/xtemplate-cleaner-cronjob.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs

Update Helm release trivy-operator to v0.22.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

added sample value to define users with kubeadm
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/kubeadm-capv/values.yaml
Due: chart-generator, chart-jobs

renovate update k8s version map rke2 and kubernetes
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on ce43927e9740e2ee57c3c3d96d95e8bc22541878)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update monitoring resources
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Test scc.
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update units-description
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency kubernetes-sigs/cluster-api-provider-vsphere to v1.9.3
  charts/sylva-units/units-description.md
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency kubernetes-sigs/cluster-api-provider-vsphere to v1.10.0
  charts/sylva-units/units-description.md
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

CAPM3: Enable longhorn unit in workload cluster
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Test s-c-c.
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test capd lite.
  environment-values/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

test s-c-c
  environment-values/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

test scc.
  environment-values/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on a99abf9ec27e7aba874287a4684d15a570583c86)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Revert "Merge branch 'renovate/harbor-1.14.x' into 'main'"
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql-ha to v14
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
