Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Update dependency metal3-io/cluster-api-provider-metal3 to v1.6.1
  charts/sylva-units/units-description.md
  kustomize-units/capm3/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add support for raw image download
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Update Helm release metal3 to v0.6.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

harbor: disable the use of hugepages in postgres
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/harbor-init/eso-harbor-postgres.yaml
  kustomize-units/harbor-init/harbor-postgres-admin.yaml
  kustomize-units/harbor-init/harbor-postgres-replication.yaml
  kustomize-units/harbor-init/harbor-postgres-user.yaml
  kustomize-units/harbor-init/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Cleanup jobs don't needs artifacts from previous stages
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

let cluster-bmh be deployed when capm3 is available
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

kubevirt dashboard extension adding
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Add policy
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/snmp-bmh-configmap.yaml
  kustomize-units/namespace-defs/components/snmp-exporter/kustomization.yaml
  kustomize-units/namespace-defs/components/snmp-exporter/snmp-namespace.yaml
Due: chart-generator, chart-jobs

Use annotations
  kustomize-units/kyverno-policies/components/management-cluster-only/snmp-bmh-configmap.yaml
Due: chart-generator, chart-jobs

Quote annotations
  kustomize-units/kyverno-policies/components/management-cluster-only/snmp-bmh-configmap.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.6.3
  charts/sylva-units/units-description.md
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/cluster-garbage-collector/xtemplate-cleaner-cronjob.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update snmp schema Update snmp-exporter chart version Update snmp devices monitoring; disable serviceMonitor
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Use separate unit
  charts/sylva-units/values.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/kustomization.yaml
  kustomize-units/kyverno-snmp-policies/kustomization.yaml
  kustomize-units/kyverno-snmp-policies/snmp-resources.yaml
Due: chart-generator, chart-jobs

Fix debug-on-exit.sh for interactive use
  tools/shell-lib/debug-on-exit.sh
Due: none

rename & move debug-on-exit.sh -> tools/dump-sylva-state.sh
  tools/dump-sylva-state.sh
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Rename debug-on-exit.log -> dump-sylva-state.log
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.2.0
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update schema
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Enable cluster-ready unit for workload clusters
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

test
  charts/sylva-units/templates/_os-images.tpl
Due: chart-generator, chart-jobs

remove nil
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

fix rancher-logging default journal path
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on d6ce4301155f5d1b8d8b54253b2ec0e35139ce8e)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add configmap
  kustomize-units/kyverno-snmp-policies/baremetalhosts-specs-cm.yaml
  kustomize-units/kyverno-snmp-policies/kustomization.yaml
Due: chart-generator, chart-jobs

test sylvactl
  .gitlab/ci/common.yml
Due: none

Adapt if statement
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Update sylva-snmp-resources tag
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Move snmp monitoring to management cluster only
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix formatting
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Share openstackStorageClass in sharedclustersettings
  charts/sylva-units/values.yaml
  kustomize-units/sylva-units-operator/kustomization.yaml
Due: chart-generator, chart-jobs

Test tmp
  charts/sylva-units/values.yaml
  kustomize-units/workload-cluster-operator/kustomization.yaml
Due: chart-generator, chart-jobs

Introduce sylvaUnitsReleaseTemplate
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
  kustomize-units/sylva-units-release-template/kustomization.yaml
  kustomize-units/sylva-units-release-template/wc-default-surt.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update schema validation
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Update initContainer for snmp-resources
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Let flux recreate kyverno resources
  kustomize-units/cluster-creator-policy/kyverno-sync-kubeconfig.yaml
  kustomize-units/harbor-init/kyverno-harbor-clusterpolicies.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/default-namespace.yaml
  kustomize-units/kyverno-policies/components/management-cluster-only/prevent-deletion.yaml
  kustomize-units/kyverno-policies/disable-automount-sa.yaml
  kustomize-units/kyverno-policies/ensure-force-cluster-policy.yaml
  kustomize-units/kyverno-policies/kustomization.yaml
  kustomize-units/kyverno-policies/patch-bond-policy.yaml
  kustomize-units/kyverno-policies/tag.yaml
  kustomize-units/neuvector-init/kyverno-neuvector-clusterpolicies.yaml
  kustomize-units/rancher-init/components/webhook-ha/webhook-replicas-policy.yaml
  kustomize-units/rancher-monitoring-clusterid-inject/inject_cluster_id.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
Due: chart-generator, chart-jobs

Revert external_label
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update prometheus snmp targets configmap name
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Update annotations
  kustomize-units/kyverno-snmp-policies/snmp-resources.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
