Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Update dependency keycloak/keycloak-k8s-resources to v23.0.5
  charts/sylva-units/units-description.md
  kustomize-units/keycloak/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

allow to inject custom info in sylva-units-status ConfigMap
  charts/sylva-units/templates/sylva-units-values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify values
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

CAPO: automatically push OS image to Glance
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/get-openstack-images/kustomization.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs, check-docs-markdown

refactor/rename code for *CUSTOM* variables values files in CI
  .gitlab/ci/README.md
  .gitlab/ci/child-pipeline-default.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
Due: check-docs-markdown

introduce "cluster-ready" unit to account for MachineDeployments readiness
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/dummy/base/configmap.yaml
  kustomize-units/dummy/base/kustomization.yaml
  kustomize-units/dummy/components/sleep-job/kustomization.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on e40ced3771e49894543a4de980b1793917ce7b77)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Fix wrong env file for CI
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Modify unit
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

update capi-cluster
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add login test for neuvector
  .gitlab/ci/README.md
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/misc-units-in-capo.yml
  tools/login-test/neuvector-admin.hurl
  tools/login-test/test-sso.py
Due: chart-generator, chart-jobs, check-docs-markdown

Modify unit
  kustomize-units/capa/kustomization.yaml
Due: chart-generator, chart-jobs

Add HA support for Kyverno
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Use newer OS images for capm3-rke2-virt openSUSE CI variants
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs

Update hashicorp/vault Docker tag to v1.13.13
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

make debug-on-exit.sh usable standalone
  tools/shell-lib/common.sh
  tools/shell-lib/debug-on-exit.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Add Sylva daily test results on vSphere (based on 9f4761d8c869ddecf478645792f220a7417fca65)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Injection of certificates signed by an external authority
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/flux-webui-init/configmap.yaml
  kustomize-units/flux-webui-init/kustomization.yaml
  kustomize-units/gitea/eso/kustomization.yaml
  kustomize-units/harbor-init/eso-sylva-ca-harbor.yaml
  kustomize-units/harbor-init/kustomization.yaml
  kustomize-units/keycloak/keycloak-internal-certificate.yaml
  kustomize-units/keycloak/keycloak-server.yaml
  kustomize-units/keycloak/kustomization.yaml
  kustomize-units/neuvector-init/eso-sylva-ca-neuvector.yaml
  kustomize-units/neuvector-init/kustomization.yaml
  kustomize-units/rancher-init/configmap.yaml
  kustomize-units/rancher-init/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/vault-tls/vault-tls.yaml
  kustomize-units/sylva-ca/extra-cert.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/sylva-ca/kustomization.yaml
  kustomize-units/tls-components/sylva-ca/external-secret.yaml
  kustomize-units/tls-components/sylva-ca/kustomization.yaml
  kustomize-units/tls-components/tls-certificate/certificate.yaml
  kustomize-units/tls-components/tls-certificate/kustomization.yaml
  kustomize-units/tls-components/tls-secret/kustomization.yaml
  kustomize-units/tls-components/tls-secret/secret.yaml
  kustomize-units/vault/eso-sylva-ca-vault.yaml
  kustomize-units/vault/kustomization.yaml
  kustomize-units/vault/vault-internal-certificate.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Enabling kubevirt and dependent unit in libvirt ci
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/enable-kubevirt.yml
Due: chart-generator, chart-jobs

New line at eof
  environment-values/ci/enable-kubevirt.yml
Due: chart-generator, chart-jobs

Changing run for workload cluster
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Using CUSTOM_VALUES_FILE for both management and workload clusters
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Testing.
  environment-values/ci/enable-kubevirt.yml
Due: chart-generator, chart-jobs

Removed units added for testing
  environment-values/ci/enable-kubevirt.yml
Due: chart-generator, chart-jobs

Adding kubevirt and dependent units for new ci of capm3
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
Due: chart-generator, chart-jobs

Changes as per new modifications in pipeline
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs

256M
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

medium
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

ci
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

pods
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sylva-units housekeeping: more .helmignore
  charts/sylva-units/.helmignore
Due: chart-generator, chart-jobs

Fix tag pipelines
  .gitlab/ci/common.yml
  .gitlab/ci/main-pipeline-builds.yml
Due: none

Update dependency to-be-continuous/gitleaks to v2.4.1
  .gitlab-ci.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
