Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

CAPO: resume-cluster-reconciliation, succeed when run before cluster creation
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release external-secrets to v0.9.11
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add validation of os_images keys
  charts/sylva-units/test-values/os-images/test-spec.yaml
  charts/sylva-units/test-values/os-images/values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Modify value
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

fix version in Trivy unit description
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Add some context to unit doc generation failures
  tools/generate_units_documentation.py
Due: none

rework 'dummy' unit
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/dummy/configmap.yaml
  kustomize-units/dummy/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

upgrade sylva-toolbox to v0.3.0
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

update units descriptions, flux upgrade
  .gitlab-ci.yml
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency fluxcd/flux2 to v2.2.2
  kustomize-units/flux-system/base/kustomization.yaml
Due: chart-generator, chart-jobs

add more FluxCD resources to debug-on-exit
  tools/shell-lib/debug-on-exit.sh
Due: none

upgrade apiVersion for HelmRelease from v2beta1 to v2beta2
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/units.yaml
  environment-values/base/helm-release.yaml
  environment-values/workload-clusters/base/patch-helm-release.yaml
  kustomize-units/helmrelease-generic/release.yaml
  kustomize-units/rancher-monitoring-clusterid-inject/inject_cluster_id.yaml
Due: chart-generator, chart-jobs

debug-on-exit.sh: dump CAPI Secrets
  tools/shell-lib/debug-on-exit.sh
Due: none

Update dependency kubernetes-sigs/cluster-api-provider-vsphere to v1.8.7
  charts/sylva-units/units-description.md
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Run tools/generate_units_documentation.py when updating a unit
  renovate.json
  tools/generate_units_documentation.py
Due: none

Cleanup unused & outdated kubeadm-bootstrap-cluster.sh file
  tools/kubeadm-bootstrap-cluster.sh
Due: none

Add Sylva daily test results on vSphere (based on 3f2a72a466200d1a5371a70c00cf5f57d35b73fe)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Unit description update for keycloak version
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release postgresql to v13.2.28
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release harbor to v1.14.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Remove podSecurityPolicies
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/cinder-csi-psp/cinder-csi-psp.yaml
  kustomize-units/cinder-csi-psp/kustomization.yaml
  kustomize-units/workload-cluster-sriov-psp/kustomization.yaml
  kustomize-units/workload-cluster-sriov-psp/workload-cluster-sriov-psp.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

improvements to tools/generate_units_documentation.py and units info
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  tools/generate_units_documentation.py
Due: chart-generator, chart-jobs, check-docs-markdown

modify values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add integrity_check
  tools/oci/push-helm-charts-artifacts.sh
Due: none

cleanup-cluster-flux_webui-admin_user-from-values
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/synchronize-secrets/flux-webui-cluster-user-auth.yaml
  kustomize-units/synchronize-secrets/kustomization.yaml
  kustomize-units/vault-secrets/kustomization.yaml
  kustomize-units/vault-secrets/random-flux-webui-secret.yaml
Due: chart-generator, chart-jobs

Introduce RKE2 CI jobs with openSUSE images
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld-multus.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
  environment-values/ci/suse-os-rke2-capo.yml
Due: chart-generator, chart-jobs

Check cluster reachability before dumping everything with debug-on-exit.sh
  tools/shell-lib/debug-on-exit.sh
Due: none

Apply 1 suggestion(s) to 1 file(s)
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Add cluster-reachable unit in bootstrap
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

add gitea unit
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  docs/gitea.md
  docs/img/gitea_ssh_add_key.PNG
  docs/img/gitea_ssh_welcome.PNG
  docs/img/gitea_to_settings.png
  docs/img/gitea_token_add.PNG
  docs/img/gitea_token_permission.PNG
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/gitea/eso/eso-gitea-admin.yaml
  kustomize-units/gitea/eso/eso-gitea-oidc.yaml
  kustomize-units/gitea/eso/eso-gitea-postgres-gitea.yaml
  kustomize-units/gitea/eso/eso-gitea-redis.yaml
  kustomize-units/gitea/eso/eso-sylva-ca.yaml
  kustomize-units/gitea/eso/kustomization.yaml
  kustomize-units/gitea/keycloak-resources/gitea-client.yaml
  kustomize-units/gitea/keycloak-resources/kustomization.yaml
  kustomize-units/gitea/secrets/kustomization.yaml
  kustomize-units/gitea/secrets/random-gitea-admin-secret.yaml
  kustomize-units/gitea/secrets/random-gitea-postgres-gitea.yaml
  kustomize-units/gitea/secrets/random-gitea-postgres-postgres.yaml
  kustomize-units/gitea/secrets/random-gitea-postgres-replication.yaml
  kustomize-units/gitea/secrets/random-gitea-redis.yaml
  kustomize-units/namespace-defs/components/gitea/gitea.yaml
  kustomize-units/namespace-defs/components/gitea/kustomization.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release postgresql to v13.2.29
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 8826cb80b3b12514a05b5686da9e52505c577704)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown
