Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

mount extra ca certs in os-images-info kube-job
  charts/sylva-units/values.yaml
  kustomize-units/kube-job/components/certs/certs.yaml
  kustomize-units/kube-job/components/certs/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Testing.
  environment-values/ci/enable-kubevirt.yml
Due: kustomize-lint

Removed units added for testing
  environment-values/ci/enable-kubevirt.yml
Due: kustomize-lint

Changes as per new modifications in pipeline
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: kustomize-lint

New line at eof
  environment-values/ci/enable-kubevirt.yml
Due: kustomize-lint

Enabling kubevirt and dependent unit in libvirt ci
  environment-values/ci/enable-kubevirt.yml
Due: kustomize-lint

Removing for ha
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: kustomize-lint

kubevirt ci in capm3 jobs
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Adding kubevirt in capm3 jobs for newly added pipelines
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/suse-os-rke2.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

kubevirt ci
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: kustomize-lint

kubevirt ci
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.3.0
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Patch capo HeatStack via values
  environment-values/ci/run_http_server_for_log_collect.yaml
Due: kustomize-lint

undo changes for no_proxy
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

no proxy
  kustomize-units/capd/kustomization.yaml
Due: kustomize-lint

comment out replicaReplenishmentWaitInterval
  environment-values/rke2-capm3-virt/ha.yaml
Due: kustomize-lint

Add MGMT_INITIAL_ADDITIONAL_VALUES
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

improve logging when fail
  charts/sylva-units/scripts/keycloak-add-realm-role.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Test os-image-server
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Test calico
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Test healhchecks
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Use tag 0.2.5 scc
  charts/sylva-units/values.schema.json
  environment-values/ci/private/falcon-base/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Test disable serialize image pulls
  environment-values/ci/private/falcon-base/values.yaml
Due: kustomize-lint

Test healthchecks
  charts/sylva-units/values.yaml
  environment-values/ci/private/falcon-base/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Use scc tag test
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Rename .setup_ci_values to .setup_ci_context_and_values and include .setup_docker in it
  .gitlab/ci/pipeline-deploy-capd-preview.yml
  .gitlab/ci/templates-deployments.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Update file keycloak-add-realm-role.sh
  charts/sylva-units/scripts/keycloak-add-realm-role.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update sylva-toolbox to v0.3.17
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, capd-preview-deploy, capd-preview-oci-deploy

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/certs/certs.yaml
  kustomize-units/get-openstack-images/certs/kustomization.yaml
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

keep JOB_INSECURE_CLIENT
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

remove debug
  kustomize-units/get-openstack-images/job.yaml
Due: kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/tests/security/kyverno-policies.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

same condition
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

change condition
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update sylva-projects/sylva-elements/container-images/ci-image Docker tag to v1.0.26
  .gitlab/ci/common.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

have capm3-virt jobs be run with s-c-c tag 0.2.15
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/capm3-virt-1.1.0-to-main-patch.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint
