Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Modify
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Update dependency renovate-bot/renovate-runner to v17.134.0
  .gitlab-ci.yml
Due: none

Use large gitlab.com runners
  .gitlab/ci/pipeline-deploy-kubeadm-capd.yml
Due: none

kyverno enable
  environment-values/ci/lightweight-disable-some-units.yml
Due: chart-generator, chart-jobs

timeout
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

exit
  tools/wc-cleanup.sh
Due: none

update user caps to support multi-tenancy
  docs/ceph-csi-cephfs.md
Due: check-docs-markdown

fix propagation of cluster.air_gapped in workload-clusters shared settings
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor cleanup in login test
  .gitlab/ci/tests/login/login-test.yml
Due: none

Demo
  charts/sylva-units/values.yaml
  kustomize-units/sylva-units-operator/kustomization.yaml
  kustomize-units/workload-cluster-operator/kustomization.yaml
Due: chart-generator, chart-jobs

bootstrap: ensure we generate management-cluster-kubeconfig on replay
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

filter os-image
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/templates/_os-images.tpl
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  docs/sylva-os-images.md
Due: chart-generator, chart-jobs, check-docs-markdown

Move specific pre deployment configuration outside of the generic config
  .gitlab/ci/main-pipeline-cleanup.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-kubeadm-capd.yml
  .gitlab/ci/templates-deployments.yml
Due: none

Update file values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

recent sylva gitops operators
  charts/sylva-units/values.yaml
  kustomize-units/sylva-units-operator/kustomization.yaml
  kustomize-units/workload-cluster-operator/kustomization.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on ccdeda1cb9b44dcca59955f5fb7b7a6488acba57)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Verified numa template
  kustomize-units/kubevirt-test-vms/numa-fg-vm.yaml
Due: chart-generator, chart-jobs

CPU template, modify memory
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
Due: chart-generator, chart-jobs

Adding kubevirt templates for cpu, numa and sriov
  charts/sylva-units/values.yaml
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
  kustomize-units/kubevirt-test-vms/kustomization.yaml
  kustomize-units/kubevirt-test-vms/numa-fg-vm.yaml
  kustomize-units/kubevirt-test-vms/sriov-nw.yaml
  kustomize-units/kubevirt-test-vms/sriov-vm.yaml
Due: chart-generator, chart-jobs

skipping sriov
  kustomize-units/kubevirt-test-vms/kustomization.yaml
  kustomize-units/kubevirt-test-vms/sriov-vm.yaml
Due: chart-generator, chart-jobs

test for numa
  kustomize-units/kubevirt-test-vms/kustomization.yaml
Due: chart-generator, chart-jobs

test for numa
  charts/sylva-units/values.yaml
  kustomize-units/kubevirt-test-vms/kustomization.yaml
Due: chart-generator, chart-jobs

test for numa
  charts/sylva-units/values.yaml
  kustomize-units/kubevirt-test-vms/cpumanager-fg-vm.yaml
  kustomize-units/kubevirt-test-vms/sriov-nw.yaml
  kustomize-units/kubevirt-test-vms/sriov-vm.yaml
Due: chart-generator, chart-jobs

timeout
  tools/wc-cleanup.sh
Due: none

Modify feature gate
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

modify fsname with vol_name
  docs/ceph-csi-cephfs.md
Due: check-docs-markdown

Modify
  kustomize-units/capa/infrastructure-components.yaml
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

heatstack
  tools/wc-cleanup.sh
Due: none

cluster
  tools/wc-cleanup.sh
Due: none

wc ns
  tools/wc-cleanup.sh
Due: none

wc name to echo
  tools/wc-cleanup.sh
Due: none

Revert "Merge branch 'renovate/postgresql-14.x' into 'main'"
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

test old version
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

ccc branch: rke2_k8s_version
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

new values
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs
