Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  sylva-units:helm-lint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  sylva-units:helm-template-yamllint: any of: charts/sylva-units/**/*, .gitlab/ci/**/*
  kustomize-lint: any of: .gitlab/ci/**/*, environment-values/**/*, kustomize-units/**/*
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

add kube-storage-version-migrator
  kustomize-units/kube-storage-version-migrator/kustomization.yaml
  kustomize-units/kube-storage-version-migrator/service-account.yaml
Due: kustomize-lint

add capo-v1alpha8-fix kustomization
  kustomize-units/capo-v1alpha8-fix/kustomization.yaml
  kustomize-units/capo-v1alpha8-fix/migration.yaml
Due: kustomize-lint

Update cluster-api-provider-openstack to v0.10.2
  charts/sylva-units/units-description.md
  kustomize-units/capo/kustomization.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

add capo-v1alpha8-fix-* units
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/scripts/root-dependency-check.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Replacing unit
  kustomize-units/kubevirt-test-vms/cirros-vm.yaml
Due: kustomize-lint

ci_helm_chart_validation
  .gitlab-ci.yml
  .gitlab/ci/common.yml
  .gitlab/ci/main-pipeline-checks.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

test
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

simplify the root-dependency check to cope with suspended or failed Kustomizations
  charts/sylva-units/scripts/root-dependency-check.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

test RKE2 bootstrap provider 0.3.0-rc
  kustomize-units/cabpr/kustomization.yaml
Due: kustomize-lint

use openstack_uuid reference
  charts/sylva-units/values.schema.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

tools/generate_units_documentation.py: fix regex to seaach for versions
  charts/sylva-units/units-description.md
  tools/generate_units_documentation.py
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, check-docs-markdown

fix obscure failure when depending on a non-existing unit
  charts/sylva-units/templates/_helpers.tpl
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

rework k8s-version-match named template to allow its use in 'or' statements
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/templates/units.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

improve root-dependency wait checks
  charts/sylva-units/scripts/root-dependency-check.sh
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add proxies to kubeadm controller manager
  kustomize-units/cabpk/kustomization.yaml
Due: kustomize-lint

Fix patching type in kubeadm capi
  kustomize-units/cabpk/kustomization.yaml
Due: kustomize-lint

Adding proxy in kubeadm controller
  kustomize-units/cabpk/kustomization.yaml
Due: kustomize-lint

Update 2 files
  charts/sylva-units/scripts/root-dependency-check.sh
  charts/sylva-units/templates/sylva-units-values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Add Sylva daily test results on vSphere (based on 1997871cffafb4b3289d996d639a894778b2a752)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add calico_autodetection_method
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update s-c-c tag
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Use suggestion
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Use _internal
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update file sylva-units-values.yaml
  charts/sylva-units/templates/sylva-units-values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Run kubescore at the same time as the others tests
  .gitlab/ci/tests/security/kubescore.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Avoid any remote pruning in sylva-units delete hook
  charts/sylva-units/templates/delete_hook.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Ease delete-worklaod-cluster troubleshooting
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/templates/delete_hook.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

upgrade Kubernetes patch versions 1.28.9, 1.27.13, 1.26.15
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/ci/k8s-1.26.yml
  environment-values/ci/k8s-1.27.yml
  environment-values/ci/k8s-1.28.yml
  environment-values/ci/k8s-kubeadm-1.26.yml
  environment-values/ci/k8s-kubeadm-1.27.yml
  environment-values/ci/k8s-kubeadm-1.28.yml
  environment-values/ci/suse-os-rke2.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt.yml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/workload-clusters/kubeadm-capo/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capo/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint, check-docs-markdown

Fix Thanos serviceMonitor auth
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update dependency kubernetes-sigs/cluster-api-provider-openstack to v0.10.3
  kustomize-units/capo/kustomization.yaml
Due: kustomize-lint

cleanup Loki values
  charts/sylva-units/values.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint

Update sylva-toolbox to v0.3.16
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, capd-preview-deploy, capd-preview-oci-deploy

Suspend cloud-config kustomization in CAPO delay cleanup
  .gitlab/ci/pipeline-deploy-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Suspend capo-cloud-config kustomization in CAPO delay cleanup
  .gitlab/ci/pipeline-deploy-capo.yml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

stop using a specific k8s version for kubeadm-capd
  environment-values/kubeadm-capd/values.yaml
  environment-values/workload-clusters/kubeadm-capd/values.yaml
Due: kustomize-lint

extra ca configmap
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/job.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Dump node logs via http
  .gitlab/ci/pipeline-deploy-capd-preview.yml
  .gitlab/ci/scripts/dump_machine_logs.sh
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/run_http_server_for_log_collect.yaml
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/ci/scripts/dump_machine_logs.sh
Due: sylva-units:helm-lint, sylva-units:helm-yamllint, sylva-units:helm-template-yamllint, kustomize-lint
