Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

fix hostnames
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/namespace-defs/components/minio-monitoring-tenant/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-monitoring-tenant/minio-monitoring-tenant-namespace.yaml
  kustomize-units/namespace-defs/components/minio-operator/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-operator/minio-operator-namespace.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minio-monitoring-tenant releaseName deleted
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

new type of password for minio-monitoring-tenant
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable minio monitoring tenant if loki or thanos enabled
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on dce3d8bdeb80b431410a41a8183f146a0fd4ae24)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify capa unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Draft: 781-userManagement
  charts/sylva-units/workload-cluster.values.yaml
  kustomize-units/cluster-admin-login/cluster-admin-global-role.yaml
  kustomize-units/cluster-admin-login/cluster-admin-login.sh
  kustomize-units/cluster-admin-login/delete-kube-job-cm.yaml
  kustomize-units/cluster-admin-login/kustomization.yaml
  kustomize-units/cluster-admin-login/role.yaml
  kustomize-units/user-management/cluster-admin-global.yaml
  kustomize-units/user-management/configmap.yaml
  kustomize-units/user-management/kustomization.yaml
  kustomize-units/user-management/kyverno-sync-kubeconfig.yaml
  kustomize-units/user-management/namespaces-protection.yaml
Due: chart-generator, chart-jobs

rancher member and keycloak user added
  kustomize-units/user-management/cluster-member.yaml
  kustomize-units/user-management/keycloak-user.yaml
Due: chart-generator, chart-jobs

new certificate handling method
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/minio-monitoring-tenant-init/configmap.yaml
  kustomize-units/minio-monitoring-tenant-init/kustomization.yaml
  kustomize-units/minio-operator-init/configmap.yaml
  kustomize-units/minio-operator-init/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/minio-monitoring-tenant-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/minio-monitoring-tenant-tls/minio-monitoring-tenant-tls.yaml
  kustomize-units/sylva-ca-certs/components/minio-operator-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/minio-operator-tls/minio-operator-console-tls.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update longhorn to v102.3.1+up1.5.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

ading new way to handle certificates, password
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/loki-scalable-init/configmap.yaml
  kustomize-units/loki-scalable-init/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/kustomization.yaml
  kustomize-units/sylva-ca-certs/components/loki-tls/loki-tls.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

CAPO: don't add the "default" security-group on every VM interface
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Resolve "Add documentation to use certificates signed by an external PKI"
  .gitleaks.toml
  docs/security.md
  tools/generate_csr.sh
Due: check-docs-markdown

debug-on-exit.sh: add a listing of the existing Secrets (without a dump)
  tools/shell-lib/debug-on-exit.sh
Due: none

Bump s-c-c to 0.1.36
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

kube-job and get-openstack-images - ensure "checksum" annotation never becomes a number
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs

update security.md
  docs/security.md
  tools/display-scan-report.py
Due: check-docs-markdown

Bump s-c-c & add a second disk to longhorn in libvirt-metal tests
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 4561510f13e9331fab637d36639a6c49e086f505)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.68.2
  .gitlab-ci.yml
Due: none

Modify values
  charts/sylva-units/values.schema.json
Due: chart-generator, chart-jobs

Adding health check
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: chart-generator, chart-jobs

xadd exceptiuon to kubescore on Container Security Context Privileged test
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix no_proxy named template input call
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Put back sops-howto.md exception
  .gitleaks.toml
Due: none

Enable passing of multiple files in variables used for providing custom values per cluster in CI
  .gitlab/ci/README.md
  .gitlab/ci/templates-deployments.yml
Due: check-docs-markdown

MOdify values
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Force-reconcile all resources in preview
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/kube-job Docker tag to v1.0.8
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
Due: chart-generator, chart-jobs
