Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

allow the use OpenStack images from sylva_diskimagebuilder_images/os_images via image_key
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/test-values/capo-base/values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

adjustments to get-openstack-images and os-images-info units
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

upgrade sylva-capi-cluster to v0.1.28
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

CAPO: make use images fetched by get-openstack-images by default (CI, shared workload cluster settings)
  environment-values/ci/k8s-1.25.14.yml
  environment-values/ci/k8s-1.26.9.yml
  environment-values/ci/suse-os-rke2-capo.yml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capo-capm3/values.yaml
  environment-values/rke2-capo/values.yaml
Due: chart-generator, chart-jobs

Test
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on f99f11fff0ff74831ee60cc6fb146e7a43fef885)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Modify unit
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

bond_mac
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

scc version
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

use ephemeral volume instead of emptyDir
  kustomize-units/get-openstack-images/job.yaml
Due: chart-generator, chart-jobs

set 'restartPolicy: Never' on get-openstack-images job
  kustomize-units/get-openstack-images/job.yaml
Due: chart-generator, chart-jobs

fix push-images-to-glance.py, produce correct output format including in the case of a non-aready-existing image (issue #910)
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

ensure that get-openstack-images never runs with an outdated version of os-images-info output map
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/job.yaml
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

add debugging to push-images-to-glance.py
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

fix push-images-to-glance.py trying to set 'size' property on image (#909)
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.8.1
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

push-images-to-glance.py: have 'insecure' do HTTPS w.o cert verification (issue #918)
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

make it easier to manually run push-images-to-glance.py
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

Trace out bootstrap/apply/apply-wc timeout values in CI
  .gitlab/ci/child-pipeline-default.yml
Due: none

Update image url and checksum in the workload cluster rke2-capm3 example
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

Generate reports for pipelines schedule
  .gitlab-ci.yml
  .gitlab/ci/main-pipeline-report.yml
  .gitlab/ci/main-pipeline-workflow-and-globals.yml
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

renovate: have renovate generate sylva-units schema.json when upgrading sylva-capi-cluster
  renovate.json
  tools/generate_json_schema.py
Due: chart-generator, chart-jobs

add capo CI job upgrade k8s 1.25 to 1.26
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Put sylva toolbox binaries into cache for CI jobs
  .gitlab/ci/child-pipeline-default.yml
Due: none

point to specific sylva-capi-cluster branch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

exclude metallb charts into renovate
  renovate.json
Due: none

Add debug logs
  tools/shell-lib/debug-on-exit.sh
  tools/shell-lib/get-wc-kubeconfig-from-rancher.sh
Due: none

Use larger server
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
Due: chart-generator, chart-jobs

Make workload cluster debug-on-exit work in baremetal emulation
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  tools/shell-lib/common.sh
  tools/shell-lib/debug-on-exit.sh
  tools/shell-lib/get-wc-kubeconfig-from-rancher.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Add debug data for bootstrap cluster
  tools/shell-lib/common.sh
  tools/shell-lib/debug-on-exit.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Add CPU resources for management nodes
  environment-values/rke2-capm3-virt/ha.yaml
Due: chart-generator, chart-jobs

Increase CPs memory for managment cluster
  environment-values/rke2-capm3-virt/ha.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  tools/shell-lib/debug-on-exit.sh
Due: none

Test HA in capm3 virt deployment
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  environment-values/rke2-capm3-virt/ha.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/ha.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Remove debug code
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

test timeout
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
