Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.1.6
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 2695f09635cce6e4c1f5991efe718e497702f32b)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

fix capd / breaking on harbor-init
  charts/sylva-units/values.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/rke2-capd/values.yaml
Due: chart-generator, chart-jobs

Update Helm release k8s-gateway to v2.3.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

minor: tools/openstack-cleanup.sh, batch delete Cinder volumes
  tools/openstack-cleanup.sh
Due: none

operator unit
  kustomize-units/capa/kustomization.yaml
  kustomize-units/cloud-formation-operator/kustomization.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify
  charts/sylva-units/management.values.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/cloud-formation-operator/kustomization.yaml
Due: chart-generator, chart-jobs

Add failurePolicy=Ignore to disable-automountserviceaccounttoken policy
  kustomize-units/kyverno-policies/disable-automount-sa.yaml
Due: chart-generator, chart-jobs

856: Move cattle-sriov-system out of rancher unit
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/rancher/rancher-namespaces.yaml
  kustomize-units/namespace-defs/components/sriov/kustomization.yaml
  kustomize-units/namespace-defs/components/sriov/sriov-namespaces.yaml
Due: chart-generator, chart-jobs

Use separate CUSTOM values for mgmt and workload
  .gitlab/ci/child-pipeline-default.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/templates-deployments.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld-multus.yml
Due: chart-generator, chart-jobs

Update container-images/sylva-toolbox Docker tag to v0.3.1
  .gitlab/ci/main-pipeline-checks.yml
  tools/kind/bootstrap-cluster.sh
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

Immutable ha cluster _internal values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 5256dbf34a7ce7cb6618ecb8d0179a7eae5fbd46)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Modify values
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

modify value
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

fix space
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

enable minio-monitoring-tenant
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

ns fix
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

secondary commit
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/minio-monitoring-tenant/ingress-minio-monitoring-tenant-console.yaml
  kustomize-units/minio-monitoring-tenant/ingress-minio-monitoring-tenant.yaml
  kustomize-units/minio-monitoring-tenant/kustomization.yaml
  kustomize-units/sylva-ca-certs/kustomization.yaml
  kustomize-units/sylva-ca-certs/minio-monitoring-tenant-tls.yaml
  kustomize-units/sylva-ca-certs/minio-operator-console-tls.yaml
Due: chart-generator, chart-jobs

added namespace defs, ci unit testing
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/namespace-defs/components/minio-monitoring-tenant/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-monitoring-tenant/minio-monitoring-tenant-namespace.yaml
  kustomize-units/namespace-defs/components/minio-operator/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-operator/minio-operator-namespace.yaml
Due: chart-generator, chart-jobs

fix hostname
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix spaces
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix variable name
  kustomize-units/minio-monitoring-tenant/ingress-minio-monitoring-tenant-console.yaml
Due: chart-generator, chart-jobs

fixes
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix unit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fixes
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update CAPV daily test result table with a new column for workload cluster deployment results
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 5a6686b37125346868b83e3fee125ecb6d7ed870)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

harbor 1.14.0: Incorporate chartmuseum's eviction from upstream
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

bootstrap: leverage registry_mirrors to select kind cluster node container image
  tools/kind/bootstrap-cluster.sh
Due: none

Enable sriov and multus in CI tests
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/ci-enabled-units.yml
Due: chart-generator, chart-jobs

use maxSurge 0 for baremetal deployments
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Bump sylva-units-operator to 0.0.0-pre4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/sylva-units-operator/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

move docker login
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Enabling kubevirt feature gates in libvirt ci
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/enable-kubevirt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
Due: chart-generator, chart-jobs

Add snmp-exporter as a Sylva unit
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs
