Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

fix healthcheck for 'cluster' unit of a workload cluster
  charts/sylva-units/templates/_cluster_healthchecks.tpl
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on ccdeda1cb9b44dcca59955f5fb7b7a6488acba57)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.5
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

caps
  tools/wc-cleanup.sh
Due: none

review comments
  tools/workload-cluster-cleanup.sh
Due: none

Cluster deletion timeout
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

shift to deploy pipeline
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/templates-deployments.yml
Due: none

stage added
  .gitlab/ci/deployment-pipeline.yml
Due: none

delete-wc
  .gitlab/ci/pipeline-deploy-capo.yml
Due: none

usage
  tools/wc-cleanup.sh
Due: none

echo
  tools/wc-cleanup.sh
Due: none

wc
  tools/wc-cleanup.sh
Due: none

modify
  tools/wc-cleanup.sh
Due: none

executable
  tools/wc-cleanup.sh
Due: none

wc-cleanup
  tools/wc-cleanup.sh
Due: none

cluster misconfig
  tools/wc-cleanup.sh
Due: none

IReallyWantToDelete
  tools/wc-cleanup.sh
Due: none

patch remove
  tools/wc-cleanup.sh
Due: none

Update dependency gitlab.com/sylva-projects/sylva-elements/workload-cluster-operator to v0.1.0
  charts/sylva-units/units-description.md
  kustomize-units/workload-cluster-operator/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix the position of feature gate argument in capi kustomize
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.6
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 57363590a43c89a2abb50af120fc1fced7ad0770)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Use fixed password for Keycloak's Postgres
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Custom cm
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-snmp-resources/kustomization.yaml
  kustomize-units/prometheus-snmp-resources/prometheus-sd-files.yaml
  kustomize-units/prometheus-snmp-resources/prometheus-values.yaml
Due: chart-generator, chart-jobs

Override default storage class in capo misc job
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

Custom cm
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-resources/kustomization.yaml
  kustomize-units/prometheus-resources/prometheus-sd-files.yaml
  kustomize-units/prometheus-resources/prometheus-values.yaml
Due: chart-generator, chart-jobs

Update dependency gitlab.com/sylva-projects/sylva-elements/workload-cluster-operator to v0.1.1
  charts/sylva-units/units-description.md
  kustomize-units/workload-cluster-operator/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Use json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Point to new dashboards branch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Grafana plugins
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add proxies in grafana container for installing plugins from the Internet domain
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add default values cm
  charts/sylva-units/values.yaml
  kustomize-units/prometheus-resources/kustomization.yaml
  kustomize-units/prometheus-resources/prometheus-default-values.yaml
  kustomize-units/prometheus-resources/prometheus-values.yaml
Due: chart-generator, chart-jobs

Update units docs
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

Update Helm release kubevirt to v0.2.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

update readme file
  charts/sylva-units/README.md
  charts/sylva-units/img/sylva-units-overview.drawio.png
Due: chart-generator, chart-jobs, check-docs-markdown

Align kubeadm-capd k8s version
  environment-values/kubeadm-capd/values.yaml
Due: chart-generator, chart-jobs

fix <tag>
  charts/sylva-units/README.md
Due: chart-generator, chart-jobs, check-docs-markdown

fix workload-cluster-operator image version
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
