Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

added authentication and enabled gateway
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

pipelines_schedules_report.py update pipeline stage order to match the new one
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Take into account qcow2 and raw images in tar
  kustomize-units/get-openstack-images/push-images-to-glance.py
Due: chart-generator, chart-jobs

test
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
Due: none

added basic authenticaiton
  charts/sylva-units/values.yaml
  kustomize-units/thanos-init/configmap.yaml
  kustomize-units/thanos-init/kustomization.yaml
Due: chart-generator, chart-jobs

new style of handling certificates with multiple CNs
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/thanos-init/thanos-certificate.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  kustomize-units/thanos-init/kustomization.yaml
Due: chart-generator, chart-jobs

thanos initial commit
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/namespace-defs/components/thanos/kustomization.yaml
  kustomize-units/namespace-defs/components/thanos/thanos-namespace.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/thanos-init/configmap.yaml
  kustomize-units/thanos-init/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fixed namespace policy
  kustomize-units/namespace-defs/components/thanos/thanos-namespace.yaml
Due: chart-generator, chart-jobs

let minio-monitoring-tenant unit be enabled if thanos or loki is
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

make some dependencies explicit
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Apply 2 suggestion(s) to 1 file(s)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

update units doc
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

new style of handling certificates with multiple CNs
  charts/sylva-units/values.yaml
  kustomize-units/thanos-init/thanos-certificate.yaml
Due: chart-generator, chart-jobs

loki auth
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

upgrading components to helm_secrets version
  charts/sylva-units/management.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  environment-values/ci/misc-units-in-capo-wkld.yml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/logging/cluster-flow.yaml
  kustomize-units/logging/cluster-output.yaml
  kustomize-units/logging/kustomization.yaml
  kustomize-units/loki-init/configmap.yaml
  kustomize-units/loki-init/kustomization.yaml
  kustomize-units/loki-scalable-init/configmap.yaml
  kustomize-units/namespace-defs/components/loki/kustomization.yaml
  kustomize-units/namespace-defs/components/loki/loki-namespace.yaml
  kustomize-units/namespace-defs/components/thanos/thanos-namespace.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/thanos-init/thanos-certificate.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

remove nginx directive config because of the conflict with actual nginix config
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

loki removed nginx section
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

s-c-c tag update: Handle properly cluster deletion
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

change kubevirt tests vm settings
  kustomize-units/kubevirt-test-vms/cirros-vm.yaml
  kustomize-units/kubevirt-test-vms/multus-vm.yaml
Due: chart-generator, chart-jobs

metal3: switch to Suse Helm chart by default
  .gitlab/ci/main-pipeline-deployment-tests.yml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Adjust to .cluster.capm3.dns_servers being a list
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on b734aa6bf86c76f8572d8e591907578c01e08dc8)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Wait for minio secret
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add minio health check
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

more changes
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update patch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release external-secrets to v0.9.13
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Remove expose services
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix lint
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
