Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Modify
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/capd/base/kustomization.yaml
Due: chart-generator, chart-jobs

Update Helm release postgresql to v14.3.3
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Update dependency sylva-projects/sylva-elements/diskimage-builder to v0.1.11
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/capi/kustomization.yaml
Due: chart-generator, chart-jobs

Update Helm release metal3 to v0.6.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

re-add suspend-on-pivot label to management-namespace-defs
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Modify
  kustomize-units/flux-system/components/common/kustomization.yaml
Due: chart-generator, chart-jobs

Don't create meta3 ns in bootstrap unit
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

sylva-units: introduce internalPersistentRandomPasswd named template
  charts/sylva-units/templates/_helpers.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

test HA with metal3 chart
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Update kube-vip Docker tag to v0.7.2
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

named template to check consistency of image name in bootstrap_os_images_override_enabled
  charts/sylva-units/templates/_os-images.tpl
Due: chart-generator, chart-jobs

Apply 2 suggestion(s) to 1 file(s)
  charts/sylva-units/templates/_os-images.tpl
Due: chart-generator, chart-jobs

Add specific labelling at the level of each SNMP scraped target
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix metal3 namespace dependency
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Apply 1 suggestion(s) to 1 file(s)
  docs/sylva-os-images.md
Due: check-docs-markdown

Use a generic deployment pipeline - split tests
  .gitlab/ci/deployment-pipeline.yml
  .gitlab/ci/main-pipeline-deployment-tests.yml
  .gitlab/ci/pipeline-deploy-capo.yml
  .gitlab/ci/pipeline-deploy-kubeadm-capd.yml
  .gitlab/ci/pipeline-deploy-rke2-capm3-virt-equinix.yml
  .gitlab/ci/templates-deployments.yml
  .gitlab/ci/tests/login/login-test.yml
Due: none

Improve os images documentation
  docs/sylva-os-images.md
Due: check-docs-markdown

use yamllint to sanity-check environment values files
  tools/shell-lib/common.sh
  tools/shell-lib/yamllint-validate.conf.yaml
Due: capd-preview-deploy, capd-preview-oci-deploy

Update Helm release k8s-gateway to v2.4.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

rancher-logging: fix log path for journald
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Introduce sylvaUnitsReleaseTemplate
  charts/sylva-units/templates/_values_helpers.tpl
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
  kustomize-units/sylva-units-release-template/kustomization.yaml
  kustomize-units/sylva-units-release-template/wc-default-surt.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix typo shared-workload-clusters-settings ClusterPolicy
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
Due: chart-generator, chart-jobs

minor: 'suspend-on-pivot' labelling is only needed in bootstrap.values.yaml
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

kubevirt dashboard extension adding
  charts/sylva-units/management.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

kubevirt dashboard extension adding
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://github.com/bank-vaults/vault-operator.git to v1.22.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on 66df7b64e2a09674366621f39052308a501e1c67)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
