Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

add Match Sylva diskimagebuilder version
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/capi-rancher-import.git to v0.1.5
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

renovate on sylva diskimagebuilder version
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs

renovate on sylva_diskimagebuilder_version
  charts/sylva-units/values.yaml
  renovate.json
Due: chart-generator, chart-jobs

bootstrap: export KIND_POD_SUBNET/KIND_SVC_SUBNET
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Add Sylva daily test results on vSphere (based on 18c76e1dc3b307979d78c54f81b07fec0d80d511)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

sc for sriov
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

master
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

sriov enabled
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

master update
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable multus
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Replacing misc units from kubeadm-capo to rke2-capo
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

sc at container level
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

patch type change
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

worker sc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Keycloak SSO for Harbor
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/eso-secret-stores/components/keycloak/kubernetes-keycloak-ns-secretstore.yaml
  kustomize-units/harbor-init/eso-harbor-oidc.yaml
  kustomize-units/harbor-init/eso-sylva-ca-harbor.yaml
  kustomize-units/harbor-init/harbor-config.yaml
  kustomize-units/harbor-init/harbor-namespace.yaml
  kustomize-units/harbor-init/harbor-secret.yaml
  kustomize-units/harbor-init/harbor-tls.yaml
  kustomize-units/harbor-init/kustomization.yaml
  kustomize-units/harbor-init/kyverno-harbor-clusterpolicies.yaml
  kustomize-units/keycloak-resources/harbor-client.yaml
  kustomize-units/keycloak-resources/kustomization.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  tools/login-test/harbor-admin.hurl
  tools/login-test/test-sso.py
Due: chart-generator, chart-jobs, check-docs-markdown

sylva-units schema fix: accept templating for os_images.*.uri
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Add long duration for the certificate authority
  kustomize-units/sylva-ca/sylva-ca.yaml
Due: chart-generator, chart-jobs

Update file values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

daemonset sc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix with security context for trivy operator
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

removed worker sc
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

remove comments
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Temporary fix to workaround cabpr token issue
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs

Akshay: fix sriov sc issue
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve os-images-info
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

include more values to trigger os-images-info recreation
  charts/sylva-units/use-oci-artifacts.values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Drop remainders from MR 858
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  docs/longhorn-node-annotations.md
  kustomize-units/node-annotation-from-label/annotate-nodes-from-base64-label.yaml
  kustomize-units/node-annotation-from-label/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Use temporary build of upstream capo fix
  kustomize-units/capo/kustomization.yaml
Due: chart-generator, chart-jobs

Stop pausing capo cluster
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Fix os-images-info failing with proxy on bootstrap
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on e3b0dd7ad10c7af250a016da36564264287586bf)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Unset proxy for ConfigMap creation in create-os-images-info.sh
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

Upgrade flux
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Bump kind version
  tools/kind/bootstrap-cluster.sh
Due: none

Add proxy for Harbor
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 2695f09635cce6e4c1f5991efe718e497702f32b)
  capv-daily-tests-results/README.md
Due: check-docs-markdown
