Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

test
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

fix typo
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

Update Helm release metallb to v0.14.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on ec4e2ed373d7a73f486954b38777ba0e875915ff)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update values.yaml
  environment-values/workload-clusters/kubeadm-capo/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-dashboards.git to v0.0.6
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fix indentation
  .gitlab-ci.yml
Due: none

doc
  charts/sylva-units/units-description.md
Due: chart-generator, chart-jobs, check-docs-markdown

lint
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

try
  tools/oci/push-helm-charts-artifacts.sh
Due: none

[1022] sandbox-privileged-namespace is deployed in the wrong namespace on the workload cluster
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

add my test to a stage deployment test
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

custom_edit_url
  charts/sylva-units/README.md
Due: chart-generator, chart-jobs, check-docs-markdown

S-C-C tag
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update SNMP monitoring charts
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Increase os-image-server default pvc size
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update sylva-toolbox to v0.3.13
  charts/sylva-units/values.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, capd-preview-deploy, capd-preview-oci-deploy

move my-test to stage test
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

sylva-units, workload-cluster: avoid depending on sylva-system Kustomizations
  charts/sylva-units/test-values/workload-cluster/shared-settings-mock.values.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Use 30Gi
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

add event
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

fix identation
  .gitlab/ci/tests/my-test/my-test.yml
Due: none

add mgmt-cluster-ready unit in workload-cluster.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fix bootstrap osimage override
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

simplify
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

simplication
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

new version of sylva-library
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

fix
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Add kubeadm based ci values for k8s update
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/k8s-kubeadm-1.26.yml
  environment-values/ci/k8s-kubeadm-1.27.yml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 3e6bdaef0198bb8f4c2aa6ca8c5b7c439d49824b)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Use VO Vault
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/vault/vault.yaml
Due: chart-generator, chart-jobs

improve Keycloak initial admin secret lifecycle and reenable status check on Keycloak resource
  charts/sylva-units/values.yaml
  kustomize-units/synchronize-secrets/components/keycloak/keycloak-initial-admin.yaml
  tools/shell-lib/debug-on-exit.sh
Due: chart-generator, chart-jobs

sylva-units: don't use HelmRelease remediation
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
