Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh

Add condition for using snmp-exporter for hw/hibrid installs
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Adapt validation to different SNMP v2/v3 requirements
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Move auth secrets into helm_secret
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Adjust ServiceMonitor section
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Lower server names in order to accomodate ServiceMonitor requirements
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Replace inline OIDs with file
  charts/sylva-units/configs/snmp-exporter/dell.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add sample snmp configuration dictionary in sylva-units values.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add info stanza
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Install in distinct namespace
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Adjust snmp variable's default values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Adapt validation schema for groups
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Adapt snmp config templating to SNMP groups
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add settings for correcting objects naming
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Increase replicas for proper initial redundancy
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

tracing messages in artifact_integrity
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Remove additional ingress
  charts/sylva-units/values.yaml
  kustomize-units/minio-monitoring-tenant/ingress-minio-monitoring-tenant-console.yaml
  kustomize-units/minio-monitoring-tenant/ingress-minio-monitoring-tenant.yaml
  kustomize-units/minio-monitoring-tenant/kustomization.yaml
Due: chart-generator, chart-jobs

Remove enabled
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add external hostnames
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix hostnames
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 416c1fa1403f536d9017867c51ae7cbbb6b0c406)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

monitoring - rancher-monitoring changes
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

enable kyverno by default
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api-provider-vsphere to v1.9.0
  charts/sylva-units/units-description.md
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

tools/generate_units_documentation.py handle dev workflow where source_template.x.ref.(branch|commit) is used
  tools/generate_units_documentation.py
Due: none

Update file push-helm-charts-artifacts.sh
  tools/oci/push-helm-charts-artifacts.sh
Due: none

Add annotations
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

improve tools/generate_units_documentation.py error message when a sylva-core unit is missing 'internal: true'
  charts/sylva-units/values.yaml
  tools/generate_units_documentation.py
Due: chart-generator, chart-jobs

Enabled in bootstrap
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Enabled conditions
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Enable
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Update patch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

adding kyverno in default values for wc
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Add check_args function
  apply-workload-cluster.sh
  apply.sh
  bootstrap.sh
  preview.sh
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

init
  .gitignore
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  environment-values/akki-kubeadm-capo/kustomization.yaml
  environment-values/akki-kubeadm-capo/values.yaml
  environment-values/akki-rke2-capo/kustomization.yaml
  environment-values/akki-rke2-capo/values.yaml
  kustomize-units/flux-system/base/kustomization.yaml
  tmp/sops-secret.yaml
Due: chart-generator, chart-jobs

Change user id and group id for some resources
  charts/sylva-units/values.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs

Enable monitoring
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Add crd
  charts/sylva-units/bootstrap.values.yaml
Due: chart-generator, chart-jobs

Update dependency rancher-sandbox/cluster-api-provider-rke2 to v0.2.3
  charts/sylva-units/units-description.md
  kustomize-units/cabpr/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown
