Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - script_common
  - - .common-deployment
    - script_capd
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
  ...

Adding multiple feature gates in kubevirt
  charts/sylva-units/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

ban weak cryptographic algorithms from SNMP configuration
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add pre-commit hook
  docs/development-tooling.md
  tools/dev/pre-commit-hook.sh
Due: check-docs-markdown

Stop using weak protocol for snmp-exporter values sample
  environment-values/rke2-capm3-virt/values.yaml
Due: chart-generator, chart-jobs

Upgrade k8s version to 1.27 and adapt image_keys
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
  environment-values/ci/suse-os-rke2-capo.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-wkld.yml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capo/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capo/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
Due: chart-generator, chart-jobs

Resolve "eso-sylva-ca missing dependency ?"
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 557e4e5fe5e8bed5f8e5c3a1f9f1e340132a9719)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

MOdify workload values
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

Modify values
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add proxies
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Update values
  kustomize-units/capa/infrastructure-components.yaml
Due: chart-generator, chart-jobs

Revert changes
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs

add missing parametrization of sylva-units namespace
  charts/sylva-units/templates/_cluster_healthchecks.tpl
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Allow to enable Calico wireguard
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update k8s versions used in rolling update
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/k8s-1.25.14.yml
  environment-values/ci/k8s-1.27.6.yml
Due: chart-generator, chart-jobs

Update dependency fluxcd/flux2 to v2.2.3
  charts/sylva-units/units-description.md
  kustomize-units/flux-system/base/kustomization.yaml
  tools/shell-lib/common.sh
Due: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

improve schema image keys
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

Enable kubernetes auditing
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Debug runner
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

get-openstack-images: make timeout configurable per-image
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/job.yaml
Due: chart-generator, chart-jobs

Uniformize final message between bootstrap.sh ans and apply.sh
  apply-workload-cluster.sh
  apply.sh
  bootstrap.sh
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

all monitoring units
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  kustomize-units/namespace-defs/components/cattle-logging/cattle-logging-namespace.yaml
  kustomize-units/namespace-defs/components/cattle-logging/kustomization.yaml
  kustomize-units/namespace-defs/components/thanos/kustomization.yaml
  kustomize-units/namespace-defs/components/thanos/thanos-namespace.yaml
  kustomize-units/rancher-logging/cluster-flow.yaml
  kustomize-units/rancher-logging/cluster-output.yaml
  kustomize-units/rancher-logging/kustomization.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
  kustomize-units/thanos-init/configmap.yaml
  kustomize-units/thanos-init/kustomization.yaml
  kustomize-units/tls-components/tls-certificate/certificate.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Add Sylva daily test results on vSphere (based on f8ed5e856f87a35481d397c948cfeb8612e6e8a2)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

improve workload clusters name
  README.md
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/workload-cluster.values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Use os-images-info / image_key in s-c-c capm3
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/scripts/create-os-images-info.sh
  charts/sylva-units/values.yaml
  environment-values/ci/suse-os-rke2-capm3-virt-mgmt.yml
  environment-values/ci/suse-os-rke2-capm3-virt-wkld.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-mgmt.yml
  environment-values/ci/ubuntu-os-kubeadm-capm3-virt-wkld.yml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
  kustomize-units/shared-workload-clusters-settings/kyverno-generate-workload-cluster-settings.yaml
Due: chart-generator, chart-jobs

Enable OS images for 1.26/1.27 CI env files
  environment-values/ci/k8s-1.26.9.yml
  environment-values/ci/k8s-1.27.6.yml
Due: chart-generator, chart-jobs

Add optional for os-images-info
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Increase gitlab artifacts retention period
  .gitlab/ci/templates-deployments.yml
Due: none

only use os-images-info-xxx configmap with capo and capm3
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 92d5c2a514c4603b1924f71c6d7435886a9b6170)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update Helm release external-secrets to v0.9.12
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

improve the scheduled pipeline report tool
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

small fix
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

monitoring - minio as operator + tenant
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  environment-values/kubeadm-capd/values.yaml
  kustomize-units/minio-monitoring-tenant-init/configmap.yaml
  kustomize-units/minio-monitoring-tenant-init/kustomization.yaml
  kustomize-units/minio-operator-init/configmap.yaml
  kustomize-units/minio-operator-init/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-monitoring-tenant/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-monitoring-tenant/minio-monitoring-tenant-namespace.yaml
  kustomize-units/namespace-defs/components/minio-operator/kustomization.yaml
  kustomize-units/namespace-defs/components/minio-operator/minio-operator-namespace.yaml
  kustomize-units/sylva-ca/kubernetes-cert-manager-ns-secretstore.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Rename cluster_external_ip to cluster_virtual_ip and other related variables
  .gitlab/ci/templates-deployments.yml
  README.md
  charts/sylva-units/bootstrap.values.yaml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
  charts/sylva-units/workload-cluster.values.yaml
  docs/How-tos.md
  environment-values/base/helm-release.yaml
  environment-values/kubeadm-capd/values.yaml
  environment-values/kubeadm-capv/values.yaml
  environment-values/rke2-capd/values.yaml
  environment-values/rke2-capm3-virt/values.yaml
  environment-values/rke2-capm3/values.yaml
  environment-values/rke2-capv/values.yaml
  environment-values/workload-clusters/kubeadm-capv/values.yaml
  environment-values/workload-clusters/rke2-capm3-virt/values.yaml
  environment-values/workload-clusters/rke2-capm3/values.yaml
  environment-values/workload-clusters/rke2-capv/values.yaml
  kustomize-units/coredns/coredns-config.yaml
  kustomize-units/metallb-config/cluster_virtual_ip.yaml
  kustomize-units/metallb-config/kustomization.yaml
  tools/generate_csr.sh
Due: chart-generator, chart-jobs, check-docs-markdown

fix os-images-info (incomplete output if more than one image is enabled)
  charts/sylva-units/scripts/create-os-images-info.sh
Due: chart-generator, chart-jobs

Fix neuvector login test in capo-misc
  .gitlab/ci/templates-deployments.yml
  charts/sylva-units/values.yaml
  environment-values/ci/misc-units-in-capo.yml
  tools/login-test/test-sso.py
Due: chart-generator, chart-jobs

Update Helm release metal3-suse to v0.6.0
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

fix missing cluster_external_domain/cluster_domain rename
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update Helm release rancher to v2.8.2
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
