Repository amitjohney/sylvatest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: chart-generator, chart-jobs, check-docs-markdown, capd-preview-deploy, capd-preview-oci-deploy

chart-generator:
  stage: test
  interruptible: true
  script:
  - echo "Generate CI jobs for each modified charts/units/environment-values"
  - ./.gitlab/ci/scripts/generate-pipeline.sh > generated-pipeline.yml
  artifacts:
    expire_in: 1 hour
    paths:
    - generated-pipeline.yml

chart-jobs:
  stage: test
  interruptible: true
  needs:
  - chart-generator
  trigger:
    include:
    - artifact: generated-pipeline.yml
      job: chart-generator
    strategy: depend

check-docs-markdown:
  stage: test
  needs: []
  interruptible: true
  image: registry.gitlab.com/gitlab-org/gitlab-docs/lint-markdown:alpine-3.16-vale-2.20.2-markdownlint-0.32.2-markdownlint2-0.5.1
  script:
  - git fetch origin $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
  ...

capd-preview-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd

capd-preview-oci-deploy:
  stage: deploy
  timeout: 15min
  script:
  - - .common-deployment
    - setup_ci_values
  - ./preview.sh environment-values/${ENV_NAME}
  artifacts:
    when: on_failure
    expire_in: 1 hour
    paths:
    - debug-on-exit.log
    - bootstrap-cluster-dump/
  variables:
    ENV_NAME: kubeadm-capd
    OCI_TAG: $OCI_TAG_FORMAT
  ...

Check that pyyaml is installed
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Update dependency kubernetes-sigs/cluster-api-provider-vsphere to v1.9.2
  charts/sylva-units/units-description.md
  kustomize-units/capv/kustomization.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

forward authorization for queryFrontend
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

fix/complete k8s 1.27.10 upgrade
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update dependency https://gitlab.com/sylva-projects/sylva-elements/helm-charts/sylva-capi-cluster.git to v0.2.4
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Ensure webhooks avalability
  .gitlab/ci/main-pipeline-checks.yml
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
  kustomize-units/cabpk/components/ha/disruption-budget.yaml
  kustomize-units/cabpk/components/ha/kustomization.yaml
  kustomize-units/cabpr/components/ha/disruption-budget.yaml
  kustomize-units/cabpr/components/ha/kustomization.yaml
  kustomize-units/capd/components/ha/disruption-budget.yaml
  kustomize-units/capd/components/ha/kustomization.yaml
  kustomize-units/capi/components/ha/disruption-budget.yaml
  kustomize-units/capi/components/ha/kustomization.yaml
  kustomize-units/capm3/components/ha/disruption-budget.yaml
  kustomize-units/capm3/components/ha/kustomization.yaml
  kustomize-units/capo/components/ha/disruption-budget.yaml
  kustomize-units/capo/components/ha/kustomization.yaml
  kustomize-units/capv/components/ha/disruption-budget.yaml
  kustomize-units/capv/components/ha/kustomization.yaml
  kustomize-units/metal3-pdb/disruption-budget.yaml
  kustomize-units/metal3-pdb/kustomization.yaml
  kustomize-units/rancher-init/components/webhook-ha/kustomization.yaml
  kustomize-units/rancher-init/components/webhook-ha/webhook-disruption-budget.yaml
  kustomize-units/rancher-init/components/webhook-ha/webhook-replicas-policy.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

baremetal: allow to disable the 'cluster' unit
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

fix
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on e3bea1c59b97aa791d1f7728770dbeaafa77570b)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Update dependency renovate-bot/renovate-runner to v17.115.0
  .gitlab-ci.yml
Due: none

enable loki in some ci runs
  environment-values/ci/misc-units-in-capo.yml
Due: chart-generator, chart-jobs

Update dependency kubernetes-sigs/cluster-api to v1.6.2
  charts/sylva-units/units-description.md
  kustomize-units/cabpk/kustomization.yaml
  kustomize-units/capd/base/kustomization.yaml
  kustomize-units/capi/kustomization.yaml
  kustomize-units/cluster-garbage-collector/xtemplate-cleaner-cronjob.yaml
  kustomize-units/dummy/components/sleep-job/sleep-job.yaml
  kustomize-units/kube-job/job.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

Bump vsphere-cpi to v1.27.0 (latest 1.27 available)
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

change the tag
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

Compute docker mirror for bootstrap image
  tools/kind/bootstrap-cluster.sh
Due: none

CI: k8s upgrade files should not refer to k8s minor version.
  .gitlab/ci/main-pipeline-deployment-tests.yml
  environment-values/ci/k8s-1.25.yml
  environment-values/ci/k8s-1.26.yml
  environment-values/ci/k8s-1.27.yml
Due: chart-generator, chart-jobs

Update Helm release postgresql-ha to v13
  charts/sylva-units/units-description.md
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs, check-docs-markdown

dummy deps units need 'force: true'
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Fix traceback in extractHelmReleaseValues.py
  tools/extractHelmReleaseValues.py
Due: none

Update container-images/sylva-toolbox Docker tag to v0.3.11
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

environment-values/ci/k8s-1.2*: use k8s_version_short at the right level of values
  environment-values/ci/k8s-1.25.yml
  environment-values/ci/k8s-1.26.yml
  environment-values/ci/k8s-1.27.yml
Due: chart-generator, chart-jobs

Test upgrade in CI - Handle OCI case & fix git checkout
  .gitlab/ci/templates-deployments.yml
Due: none

include sylva-units values in debug-on-exit + job artifact
  .gitlab/ci/templates-deployments.yml
  tools/extractHelmReleaseValues.py
  tools/shell-lib/debug-on-exit.sh
Due: none

sylva-units, unit-enabled named template: allow unit name to be templatized
  charts/sylva-units/templates/_helpers.tpl
Due: chart-generator, chart-jobs

Enforce os_images fields
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

update replicaReplenisgmentwaitinterval
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 2c79efeb70ca9d805869eb5d4d2b72a454503f51)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

pipelines_schedules_report.py: add emoji for 'running' job status
  .gitlab/ci/scripts/pipelines_schedules_report.py
Due: none

Fix metal3 replicas patch
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Update registry.gitlab.com/sylva-projects/sylva-elements/container-images/sylva-toolbox Docker tag to v0.3.11
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

minor: use propertyNames instead of patternProperties in os_images
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
Due: chart-generator, chart-jobs

introduce support for suspending a unit
  charts/sylva-units/templates/units.yaml
  charts/sylva-units/values.schema.json
  charts/sylva-units/values.schema.yaml
  charts/sylva-units/values.yaml
Due: chart-generator, chart-jobs

Allow failure: true when run-e2e-tests label is present
  .gitlab/ci/main-pipeline-deployment-tests.yml
Due: none

fix os_images_default_download_storage_space and update default value
  charts/sylva-units/values.yaml
  kustomize-units/get-openstack-images/job.yaml
Due: chart-generator, chart-jobs

Add Sylva daily test results on vSphere (based on 1fdb30bd96ae5adc5745a8320a1685a839255a03)
  capv-daily-tests-results/README.md
  capv-daily-tests-results/latest-results.json
Due: check-docs-markdown

Add Sylva daily test results on vSphere (based on 1fdb30bd96ae5adc5745a8320a1685a839255a03)
  capv-daily-tests-results/README.md
Due: check-docs-markdown

Update container-images/sylva-toolbox Docker tag to v0.3.12
  tools/shell-lib/common.sh
Due: capd-preview-deploy, capd-preview-oci-deploy

Path conditions:
  chart-generator: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  chart-jobs: any of: charts/**/*, kustomize-units/**/*, environment-values/**/*, .gitlab/ci/scripts/generate-pipeline.sh, .gitlab/ci/configuration/*, .gitlab/ci/main-pipeline-checks.yml, .gitlab/ci/chart-jobs.yml, tools/generate_json_schema.py
  check-docs-markdown: any of: **/*.md
  capd-preview-deploy: any of: preview.sh, tools/shell-lib/common.sh
  capd-preview-oci-deploy: any of: preview.sh, tools/shell-lib/common.sh
